<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.GroupMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.Group" extends="co.MAP_ALL">
        <result property="name" column="name" />
        <result property="properties.jsonStr" column="props" />
        <association property="admin" javaType="net.bodz.lily.security.User">
            <id property="id" column="admin" />
            <result property="name" column="admin_name" />
            <result property="label" column="admin_label" />
        </association>
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.lily.security.Group" extends="objlist_map">
        <collection property="users" javaType="ArrayList" ofType="net.bodz.lily.security.User">
            <id property="id" column="y_id" />
            <result property="name" column="y_name" />
            <result property="label" column="y_label" />
            <result property="description" column="y_description" />
            <result property="properties.jsonStr" column="y_props" />
        </collection>
    </resultMap>
    
    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            admin.name "admin_name",
            admin.label "admin_label"
        from "group" a
            left join "user" admin on a.admin = admin.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            admin.name "admin_name",
            admin.label "admin_label",
            y.id "y_id",
            y.name "y_name",
            y.label "y_label",
            y.description "y_description",
            y.props "y_props"
        from "group" a
            left join "user" admin on a.admin = admin.id
            left join group_user x on x."group" = a.id
            left join "user" y on y.id = x."user" 
        ]]>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <if test="m.codeName != null">and a.name=#{m.codeName}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objlist_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into "group"(
            name, label, description,
            props,
            admin
        ) values(
            #{name}, #{label}, #{description},
            #{properties.jsonStr},
            #{admin.id}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update "group"
        <set>
            <include refid="co.setU" />
            props = #{properties.jsonStr},
            admin = #{admin.id},
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from "group" where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from "group"
    </select>

</mapper>