<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.GroupMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.Group" extends="co.MAP_ALL">
        <result property="name" column="name" />
        <result property="properties.jsonStr" column="props" />
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.lily.security.Group" extends="objlist_map">
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*
        from "group" a
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*
        from "group" a
        ]]>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <if test="m.codeName != null">and a.name=#{m.codeName}</if>
        </where>
    </select>

    <select id="forUserId" resultMap="objlist_map">
        select
            g.*
        from group_user x
            left join "group" g on x."group" = g.id
        <where>
            x."user" = #{id}
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objlist_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into "group"(
            name, label, description,
            props,
            admin
        ) values(
            #{name}, #{label}, #{description},
            #{properties.jsonStr},
            #{admin.id}
        );
    ]]></insert>

    <update id="update">
        update "group"
        <set>
            <include refid="co.setU" />
            props = #{properties.jsonStr},
            admin = #{admin.id},
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from "group" where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from "group"
    </select>

</mapper>