<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.RoleMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.Role" extends="co.MAP_ALL">
        <result property="name" column="name" />
        <result property="rank" column="rank" />
        <result property="properties.jsonStr" column="props" />
        <collection property="users" javaType="ArrayList" ofType="net.bodz.lily.security.User">
            <id property="id" column="y_id" />
            <result property="name" column="y_name" />
            <result property="label" column="y_label" />
            <result property="description" column="y_description" />
            <result property="properties.jsonStr" column="y_props" />
        </collection>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            y.id "y_id",
            y.name "y_name",
            y.label "y_label",
            y.description "y_description",
            y.props "y_props"
        from "role" a
            left join role_user x on x."role"=a.id
            left join "user" y on y.id=x."user" 
        ]]>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <if test="m.codeName != null">and a.name=#{m.name}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into "role"(
            name, label, description,
            priority, flags, state,
            props,
            rank
        ) values(
            #{name}, #{label}, #{description},
            #{priority}, #{flags}, #{state},
            #{properties.jsonStr},
            #{rank}
        );
    ]]></insert>

    <update id="update">
        update "role"
        <set>
            <include refid="co.setUS" />
            name = #{name},
            rank = #{rank},
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from "role" where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from "role"
    </select>

</mapper>