<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.UserOtherIdMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.UserOtherId" extends="mi.objlist_map">
        <result property="properties.jsonForm" column="props" />
        <result property="otherId" column="oid" />
        <result property="auth.jsonForm" column="auth" />
        <association property="user" resultMap="user" />
        <association property="type" javaType="net.bodz.lily.security.UserOtherIdType">
            <id property="id" column="type" />
            <result property="label" column="type_label" />
        </association>
    </resultMap>

    <resultMap id="user" type="net.bodz.lily.security.User">
        <id property="id" column="user" />
        <result property="label" column="user_label" />
        <collection property="secrets" resultMap="secret">
        </collection>
    </resultMap>

    <resultMap id="secret" type="net.bodz.lily.security.UserSecret">
        <id property="id" column="sec_id" />
        <result property="password" column="sec_passwd" />
        <association property="user" resultMap="user" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            u.label "user_label",
            type.label "type_label",
            s.id "sec_id",
            s.passwd "sec_passwd"
        from useroid a
            left join "user" u on a."user" = u.id
            left join useroidtype type on a.type = type.id
            left join usersec s on a."user" = s."user"
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            u.label "user_label",
            type.label "type_label",
            s.id "sec_id",
            s.passwd "sec_passwd"
        from useroid a
            left join "user" u on a."user" = u.id
            left join useroidtype type on a.type = type.id
            left join usersec s on a."user" = s."user"
        ]]>
    </sql>

    <sql id="filtconds">
        <include refid="co.modefilt" />
        <include refid="co.filter-id" />
        <include refid="co.filter-ui" />
        <include refid="co.filter-version" />
        <include refid="mi.filter-all" />
        <if test="m.userId != null">and a."user" = #{m.userId}</if>
        <if test="m.typeId != null">and a.type = #{m.typeId}</if>
        <if test="m.otherId != null">and a.oid = #{m.otherId}</if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into useroid(
            label, description,
            priority, flags, state,
            props,
            "user", "type",
            oid, auth
        ) values(
            #{label}, #{description},
            #{priority}, #{flags}, #{state},
            #{properties.jsonForm},
            #{user.id}, #{type.id},
            #{otherId},
            #{auth.jsonForm}
        ); --
    ]]></insert>

    <update id="update">
        update useroid
        <set>
            <include refid="co.setUS" />
            props = #{properties.jsonForm},
            "user" = #{user.id},
            type = #{type.id},
            oid = #{otherId},
            auth =
            #{auth.jsonForm},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from useroid where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from useroid
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
