<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.UserSecretMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.UserSecret" extends="co.MAP_V">
        <result property="properties.jsonForm" column="props" />
        <result property="password" column="passwd" />
        <result property="question" column="question" />
        <result property="answer" column="answer" />
        <association property="user" javaType="net.bodz.lily.security.User">
            <id property="id" column="user" />
            <result property="codeName" column="u_name" />
            <result property="label" column="u_label" />
        </association>
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.lily.security.UserSecret" extends="objlist_map">
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            u.name "u_name",
            u.label "u_label"
        from usersec a
            left join "user" u on a."user" = u.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            u.name "u_name",
            u.label "u_label"
        from usersec a
            left join "user" u on a."user" = u.id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="m.userId != null">and u.id = #{m.userId}</if>
        <if test="m.codeName != null">and u.name = #{m.codeName}</if>
        <if test="m.password != null">and a.passwd = #{m.password}</if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <select id="selectByCodeName" parameterType="String" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">u.name = #{code}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into usersec(
            "user", passwd, question, answer, 
            props
        ) values(
            #{user.id}, #{password}, #{question}, #{answer},
            #{properties.jsonForm}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update usersec
        <set>
            <include refid="co.setV" />
            "user" = #{user.id},
            passwd = #{password},
            question = #{question},
            answer = #{answer},
            props = #{properties.jsonForm},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from usersec where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from usersec
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
