<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.UserIdMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.UserId" extends="co.MAP_UVX">
        <result property="oid" column="oid" />
        <result property="auth.jsonForm" column="auth" />
        <result property="data.jsonForm" column="data" />
        <association property="type" javaType="net.bodz.lily.security.UserIdType">
            <id property="id" column="type" />
            <result property="label" column="type_label" />
        </association>
        <association property="user" javaType="net.bodz.lily.security.User">
            <id property="id" column="user" />
            <result property="label" column="user_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            u.label "user_label",
            type.label "type_label"
        from userid a
            left join "user" u on a."user" = u.id
            left join useridtype type on a.type = type.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            u.label "user_label",
            type.label "type_label"
        from userid a
            left join "user" u on a."user" = u.id
            left join useridtype type on a.type = type.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into userid(
            "user", type, oid,
            auth,
            data
        ) values(
            #{user.id}, #{type.id}, #{oid},
            #{auth.jsonForm},
            #{data.jsonForm}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update userid
        <set>
            "user" = #{user.id},
            type = #{type.id},
            oid = #{oid},
            auth = #{auth.jsonForm},
            data = #{data.jsonForm},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from userid where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from userid
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
