<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.security.impl.UserMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.security.User" extends="co.MAP_ALL">
        <result property="properties.jsonStr" column="props" />
        <result property="name" column="name" />
        <association property="category" javaType="net.bodz.lily.security.UserCategory">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
        </association>
        <association property="primaryGroup" resultMap="group" columnPrefix="g_" />
        <collection property="otherIds" javaType="ArrayList" resultMap="oid" columnPrefix="o_" />
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.lily.security.User" extends="objlist_map">
        <association property="runningState" javaType="net.bodz.lily.security.UserRun">
            <result property="label" column="run_label" />
            <result property="lastLoginTime" column="lastlog" />
            <result property="lastLoginIP" column="lastlogip" />
        </association>
        <collection property="groups" javaType="ArrayList" resultMap="group" columnPrefix="y_" />
        <collection property="secrets" javaType="ArrayList" resultMap="secret" />
    </resultMap>

    <resultMap id="group" type="net.bodz.lily.security.Group">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <association property="admin" javaType="net.bodz.lily.security.User">
            <id property="id" column="admin" />
        </association>
    </resultMap>

    <resultMap id="oid" type="net.bodz.lily.security.UserOtherId">
        <id property="id" column="id" />
        <result property="otherId" column="oid" />
        <association property="type" javaType="net.bodz.lily.security.UserOtherIdType">
            <id property="id" column="type" />
        </association>
    </resultMap>

    <resultMap id="secret" type="net.bodz.lily.security.UserSecret">
        <id property="id" column="s_id" />
        <result property="password" column="s_passwd" />
        <association property="user" resultMap="objedit_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            g.id "g_id",
            g.name "g_name",
            g.label "g_label",
            g.description "g_description",
            g.admin "g_admin",
            s.passwd,
            o.id "o_id",
            o.type "o_type",
            o.oid "o_oid",
            r.label "run_label",
            r.lastlog,
            r.lastlogip
        from "user" a
            left join usercat cat on a.cat = cat.id
            left join "group" g on a.gid0 = g.id
            left join usersec s on a.id = s."user"
            left join useroid o on a.id = o."user"
            left join user_run r on a.id  =  r."user"
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            s.passwd,
            s.id "s_id",
            s.passwd "s_passwd",
            o.id "o_id",
            o.type "o_type",
            o.oid "o_oid",
            g.id "g_id",
            g.name "g_name",
            g.label "g_label",
            g.description "g_description",
            g.admin "g_admin",
            y.id "y_id",
            y.name "y_name",
            y.label "y_label",
            y.description "y_description",
            y.admin "y_admin",
            r.label "run_label",
            r.lastlog,
            r.lastlogip
        from "user" a
            left join usercat cat on a.cat = cat.id
            left join "group" g on a.gid0 = g.id
            left join group_user x on x."user" = a.id
            left join "group" y on y.id = x."group" 
            left join usersec s on a.id = s."user"
            left join useroid o on a.id = o."user"
            left join user_run r on a.id = r."user"
        ]]>
    </sql>

    <sql id="filtconds">
        <include refid="co.filter-id" />
        <include refid="co.filter-ui" />
        <include refid="co.filter-version" />
        <if test="m.categoryId != null">and a.cat = #{m.categoryId}</if>
        <if test="m.primaryGroupId != null">and a.gid0 = #{m.primaryGroupId}</if>
        <if test="m.name != null">and a.name = #{m.name}</if>
        <if test="m.password != null">and s.passwd = #{m.password}</if>
        <if test="m.phone != null">and (o.type = 1 and o.oid = #{m.phone})</if>
        <if test="m.email != null">and (o.type = 2 and o.oid = #{m.email})</if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objedit_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <select id="selectByName" parameterType="String" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.name = #{name}</if>
        </where>
    </select>

    <select id="selectByOtherId" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            and o.type = #{type.id}
            and o.oid = #{oid}
            <!-- and o.state = VALIDATED -->
        </where>
    </select>

    <select id="selectByOtherId2" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            and o.type = #{typeId}
            and o.oid = #{oid}
            <!-- and o.state = VALIDATED -->
        </where>
    </select>

    <select id="selectByPhoneNumber" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            and o.type = 1
            and o.oid = #{phone}
            <!-- and o.state = VALIDATED -->
        </where>
    </select>

    <select id="selectByEmail" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            and o.type = 2
            and o.oid = #{email}
            <!-- and o.state = VALIDATED -->
        </where>
    </select>

    <select id="findForLogin" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="name != null">and a.name = #{name}</if>
            <if test="password != null">and s.passwd = #{password}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        with u as (
            insert into "user"(
                name, label, description,
                priority, flags, state,
                props,
                gid0
            ) values(
                #{name}, #{label}, #{description},
                #{priority}, #{flags}, #{state},
                #{properties.jsonStr},
                #{primaryGroup.id}
            ) returning id
        ) insert into usersec(
                "user", passwd,
                props,
                question, answer
            )
            select
                u.id, #{secret.password},
                #{secret.properties.jsonStr},
                #{secret.question}, #{secret.answer}
            from u
            returning "user" "id"; --
    ]]></insert>

    <update id="update">
        update "user"
        <set>
            <include refid="co.setUS" />
            name = #{name},
            props = #{properties.jsonStr},
            gid0 = #{primaryGroup.id},
        </set>
        <where>
            id = #{id}
        </where>
        ;

        update usersec s
        <set>
            "user" = #{id},
            passwd = #{secret.password},
            props = #{secret.properties.jsonStr},
            question =
            #{secret.question},
            answer = #{secret.answer},
        </set>
        <where>
            s."user" = #{id}
        </where>
        ;
    </update>

    <delete id="delete">
        delete from "user" where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from "user"
    </select>

</mapper>