<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.account.dao.UserRunMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.account.UserRun">
        <id property="userId" column="user" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="properties" column="props" />
        <result property="score" column="score" />
        <result property="lastLoginTime" column="lastlog" />
        <result property="lastLoginIP" column="lastlogip" />
        <association property="user" columnPrefix="user_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a."user", 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.props, 
            a.score, 
            a.lastlog, 
            a.lastlogip, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person
        from user_run a
            left join "user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a."user", 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.props, 
            a.score, 
            a.lastlog, 
            a.lastlogip, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person
        from user_run a
            left join "user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a."user" = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="false" keyProperty="userId" keyColumn="&quot;user&quot;"><![CDATA[
        insert into user_run(
            "user",
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            props,
            score,
            lastlog,
            lastlogip
        ) values(
            #{userId},
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{properties},
            #{score},
            #{lastLoginTime},
            #{lastLoginIP}
        );
    ]]></insert>

    <update id="update">
        update user_run
        <set>
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            props = #{properties},
            score = #{score},
            lastlog = #{lastLoginTime},
            lastlogip = #{lastLoginIP},
        </set>
        <where>
            "user" = #{userId}
        </where>
    </update>

    <delete id="delete">
        delete from user_run
        <where>
            "user" = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from user_run a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
