<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.plan.impl.DiaryMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.plan.Diary" extends="message.MAP_ALL">
        <result property="properties.jsonStr" column="props" />
        <result property="value" column="val" />
        <association property="category" javaType="net.bodz.violet.plan.DiaryCategory">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
            <result property="properties.jsonStr" column="cat_props" />
        </association>
        <association property="phase" javaType="net.bodz.violet.plan.DiaryPhase">
            <id property="id" column="phase" />
            <result property="label" column="phase_label" />
        </association>
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.violet.plan.Diary" extends="objlist_map">
        <collection property="parties" javaType="ArrayList" ofType="net.bodz.violet.plan.DiaryParty">
            <id property="id" column="party" />
            <result property="label" column="party_label" />
            <result property="value" column="party_value" />
            <association property="user" javaType="net.bodz.lily.security.User">
                <id property="id" column="user" />
                <result property="label" column="user_label" />
                <result property="properties.jsonStr" column="user_props" />
            </association>
            <association property="person" javaType="net.bodz.lily.contact.Person">
                <id property="id" column="person" />
                <result property="label" column="person_label" />
                <result property="properties.jsonStr" column="person_props" />
            </association>
            <association property="org" javaType="net.bodz.lily.contact.Organization">
                <id property="id" column="org" />
                <result property="label" column="org_label" />
                <result property="properties.jsonStr" column="org_props" />
            </association>
        </collection>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            cat.props "cat_props",
            phase.label "phase_label",
            u.label "uid_label",
            g.label "gid_label"
        from diary a
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
            left join diarycat cat on a.cat = cat.id
            left join diaryphase phase on a.phase = phase.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            cat.props "cat_props",
            phase.label "phase_label",
            party.id "party",
            party.label "party_label",
            party.value "party_value",
            "user".id "user",
            "user".label "user_label",
            "user".props "user_props",
            person.id "person",
            person.label "person_label",
            person.props "person_props",
            org.id "org",
            org.label "org_label",
            org.props "org_props",
            u.label "uid_label",
            g.label "gid_label"
        from diary a
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
            left join diarycat cat on a.cat = cat.id
            left join diaryphase phase on a.phase = phase.id
            full join diary_party party on a.id = party.diary
            left join "user" on party."user" = "user".id
            left join person on party.person = person.id
            left join org on party.org = org.id
        ]]>
    </sql>

    <sql id="filtconds">
        <include refid="co.modefilt" />
        <include refid="mi.filterSql" />
        <include refid="message.filter-op" />
        <include refid="message.filter-clickInfo" />
        <include refid="message.filter-tag" />
        <if test="m.categoryId != null">and a.cat = #{m.categoryId}</if>
        <if test="m.phaseId != null">and a.phase = #{m.phaseId}</if>
    </sql>

    <select id="all" resultMap="objedit_map">
        <include refid="objedit_sql" />
    </select>

    <select id="filter" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into diary(
            uid, gid, mode, acl,
            priority, flags, state, 
            t0, t1,
            op, subject, text, 
            cat, phase,
            props,
            value
        ) values(
            #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{priority}, #{flags}, #{state}, 
            #{beginDate}, #{endDate},
            #{op.id}, #{subject}, #{text}, 
            #{category.id}, #{phase.id},
            #{properties.jsonStr}::jsonb,
            #{value}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update diary
        <set>
            <include refid="co.setUSA" />
            <include refid="mi.setT" />
            <include refid="message.setUM" />
            <if test="properties != null">props = #{properties.jsonStr}::jsonb,</if>
            value = #{value},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from diary where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from diary
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
