<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.plan.impl.PlanVoteMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.plan.PlanVote">
        <result property="votes" column="votes" />
        <association property="plan" javaType="net.bodz.violet.plan.Plan">
            <id property="id" column="plan" />
            <result property="subject" column="plan_subject" />
        </association>
        <association property="user" javaType="net.bodz.lily.security.User">
            <id property="id" column="user" />
            <result property="label" column="user_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            plan.subject "plan_subject",
            u.label "uid_label"
        from plan_vote a
            left join plan on a.plan = plan.id
            left join "user" u on a."user" = u.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label"
        from plan_vote a
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into plan_vote(
            plan, "user",
            votes
        ) values(
            #{plan.id}, #{user.id},
            #{votes}
        );
    ]]></insert>

    <update id="update">
        update plan_vote
        <set>
            plan = #{plan.id},
            "user" = #{user.id},
            votes = #{votes},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from plan_vote where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from plan_vote
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
