
**/debian/*.EX
**/debian/*.ex
**/debian/*/
**/debian/changelog
**/debian/compat
**/debian/copyright
**/debian/files
**/debian/rules
**/m4/libtool.m4
**/m4/lt*.m4
**/po/*.gmo
**/po/*.header
**/po/*.sed
**/po/*.sin
**/po/*.template
*.1
*.6
*.8
*.Po
*.aux
*.bak
*.bbl
*.blg
*.build
*.bz2
*.cb
*.changes
*.css.map
*.deb
*.debhelper
*.dsc
*.dvi
*.ff
*.glo
*.gz
*.idx
*.ilg
*.iml
*.ind
*.ipr
*.iws
*.la
*.le
*.lo
*.lock
*.lof
*.log
*.log.[0-9]*
*.lot
*.o
*.orig
*.out
*.pdf
*.releaseBackup
*.substvars
*.spec
*.swp
*.tmp
*.toc
*.upload
*.versionsBackup
*.xdv
*.xz
*.zip
*~
.
.*.bin
.*.mjpl
.classpath
.classpath.*
.deps
.dirstamp
.idea
.libs/
.m2*
.project
.sass-cache/
.settings
/.pomdirs
/features.list
/services.list
ABOUT-NLS
COPYING
ChangeLog
FILES
INSTALL
Makefile.in
POTFILES
RELEASE-NOTES
Rules-quot
aclocal.m4
all.sql
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
dependency-reduced-pom.xml
install-sh
itree.tex
libauto
libtool
ltmain.sh
missing
nohup.out
postinst
prerm
rpmbuild/
stamp-h1
stamp-po
stats/
target/
