<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.plan.impl.DiaryVoteMapper">

    <resultMap id="map1" type="net.bodz.violet.plan.DiaryVote" extends="co.MAP_V">
        <association property="diary" javaType="net.bodz.violet.plan.Diary">
            <id property="id" column="diary" />
            <result property="subject" column="diary_subject" />
        </association>
        <association property="user" javaType="net.bodz.lily.security.User">
            <id property="id" column="user" />
            <result property="label" column="user_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*
        from diary_vote a
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            diary.subject "diary_subject",
            u.label "user_label"
        from diary_vote a
            left join diary on a.diary = diary.id
            left join "user" u on a."user" = u.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="_insert"><![CDATA[
        insert into diary_vote(
            code, label, description
        ) values(
            #{codeName},#{label},#{description}
        )
    ]]></insert>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into diary_vote(
            code, label, description
        ) values(
            #{codeName},#{label},#{description}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update diary_vote
        <set>
            <include refid="co.setUS" />
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from diary_vote where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from diary_vote
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
