<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.plan.impl.PlanPartyMapper">

    <resultMap id="map1" type="net.bodz.violet.plan.PlanParty">
        <result property="description" column="description" />
        <association property="plan" javaType="net.bodz.violet.plan.Plan">
            <id property="id" column="plan" />
            <result property="subject" column="plan_subject" />
        </association>
        <association property="person" javaType="net.bodz.lily.contact.Person">
            <id property="id" column="person" />
            <result property="label" column="person_label" />
        </association>
        <association property="org" javaType="net.bodz.lily.contact.Organization">
            <id property="id" column="org" />
            <result property="label" column="org_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            plan.subject "plan_subject",
            person.label "person_label",
            org.label "org_label"
        from plan_party a
            left join plan on a.plan = plan.id
            left join person on a.person = person.id
            left join org on a.org = org.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            plan.subject "plan_subject",
            person.label "person_label",
            org.label "org_label"
        from plan_party a
            left join plan on a.plan = plan.id
            left join person on a.person = person.id
            left join org on a.org = org.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into plan_party(
            plan, person, org, description
        ) values(
            #{plan.id}, #{person.id}, #{org.id}, #{description}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update plan_party
        <set>
            plan = #{plan.id},
            person = #{person.id},
            org = #{org.id},
            description = #{description},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from plan_party where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from plan_party
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
