<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.vapp.dao.VApiLogMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.vapp.VApiLog">
        <id property="id" column="id" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="message" column="message" />
        <result property="err" column="err" />
        <result property="appId" column="app" />
        <result property="apiId" column="api" />
        <association property="api" columnPrefix="api_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.vapp.ApiType" 
            resultMap="net.bodz.lily.schema.vapp.dao.ApiTypeMapper.objlist_map" />
        <association property="app" columnPrefix="app_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.vapp.VApp" 
            resultMap="net.bodz.lily.schema.vapp.dao.VAppMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.app, 
            a.api, 
            a.message, 
            a.err, 
            api.id api_id, 
            api.label api_label, 
            api.description api_description, 
            api.icon api_icon, 
            api.priority api_priority, 
            api.flags api_flags, 
            api."state" api_state, 
            api.creation api_creation, 
            api.lastmod api_lastmod, 
            api."version" api_version, 
            api.code api_code, 
            api.props api_props, 
            api.files api_files, 
            api.uom api_uom, 
            app.id app_id, 
            app.uid app_uid, 
            app.gid app_gid, 
            app.mode app_mode, 
            app.acl app_acl, 
            app.label app_label, 
            app.description app_description, 
            app.icon app_icon, 
            app.priority app_priority, 
            app.flags app_flags, 
            app."state" app_state, 
            app.creation app_creation, 
            app.lastmod app_lastmod, 
            app."version" app_version, 
            app.code app_code, 
            app.props app_props, 
            app.files app_files, 
            app.req app_req, 
            app.cat app_cat, 
            app.secret app_secret
        from vapi_log a
            left join apitype api on a.api = api.id
            left join vapp app on a.app = app.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.app, 
            a.api, 
            a.message, 
            a.err, 
            api.id api_id, 
            api.label api_label, 
            api.description api_description, 
            api.icon api_icon, 
            api.priority api_priority, 
            api.flags api_flags, 
            api."state" api_state, 
            api.creation api_creation, 
            api.lastmod api_lastmod, 
            api."version" api_version, 
            api.code api_code, 
            api.props api_props, 
            api.files api_files, 
            api.uom api_uom, 
            app.id app_id, 
            app.uid app_uid, 
            app.gid app_gid, 
            app.mode app_mode, 
            app.acl app_acl, 
            app.label app_label, 
            app.description app_description, 
            app.icon app_icon, 
            app.priority app_priority, 
            app.flags app_flags, 
            app."state" app_state, 
            app.creation app_creation, 
            app.lastmod app_lastmod, 
            app."version" app_version, 
            app.code app_code, 
            app.props app_props, 
            app.files app_files, 
            app.req app_req, 
            app.cat app_cat, 
            app.secret app_secret
        from vapi_log a
            left join apitype api on a.api = api.id
            left join vapp app on a.app = app.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into vapi_log(
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            app,
            api,
            message,
            err
        ) values(
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{appId},
            #{apiId},
            #{message},
            #{err}
        );
    ]]></insert>

    <update id="update">
        update vapi_log
        <set>
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            app = #{appId},
            api = #{apiId},
            message = #{message},
            err = #{err},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from vapi_log
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from vapi_log a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
