<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.vapp.dao.VAppRequestApiMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.vapp.VAppRequestApi">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="parentId" column="parent" />
        <result property="apiId" column="api" />
        <association property="parent" columnPrefix="parent_"
            javaType="net.bodz.lily.schema.vapp.VAppRequest" 
            resultMap="net.bodz.lily.schema.vapp.dao.VAppRequestMapper.objlist_map" />
        <association property="api" columnPrefix="api_"
            javaType="net.bodz.lily.schema.vapp.ApiType" 
            resultMap="net.bodz.lily.schema.vapp.dao.ApiTypeMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.parent, 
            a.api, 
            parent.id parent_id, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.code parent_code, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.dummy parent_dummy, 
            api.id api_id, 
            api.label api_label, 
            api.description api_description, 
            api.priority api_priority, 
            api.flags api_flags, 
            api."state" api_state, 
            api.creation api_creation, 
            api.lastmod api_lastmod, 
            api."version" api_version, 
            api.code api_code, 
            api.props api_props, 
            api.uom api_uom
        from vappreq_api a
            left join vappreq parent on a.parent = parent.id
            left join apitype api on a.api = api.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.parent, 
            a.api, 
            parent.id parent_id, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.code parent_code, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.dummy parent_dummy, 
            api.id api_id, 
            api.label api_label, 
            api.description api_description, 
            api.priority api_priority, 
            api.flags api_flags, 
            api."state" api_state, 
            api.creation api_creation, 
            api.lastmod api_lastmod, 
            api."version" api_version, 
            api.code api_code, 
            api.props api_props, 
            api.uom api_uom
        from vappreq_api a
            left join vappreq parent on a.parent = parent.id
            left join apitype api on a.api = api.id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="m.id != null">and a.id = #{m.id}</if>
        <if test="m.idRange!= null">
            <if test="m.idRange.hasStartIncl">and a.id >= #{m.idRange.start}</if>
            <if test="m.idRange.hasStartExcl">and a.id > #{m.idRange.start}</if>
            <if test="m.idRange.hasEndIncl">and a.id &lt;= #{m.idRange.end}</if>
            <if test="m.idRange.hasEndExcl">and a.id &lt; #{m.idRange.end}</if>
        </if>
        <if test="m.priority != null">and a.priority = #{m.priority}</if>
        <if test="m.priorityRange!= null">
            <if test="m.priorityRange.hasStartIncl">and a.priority >= #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasStartExcl">and a.priority > #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasEndIncl">and a.priority &lt;= #{m.priorityRange.end}</if>
            <if test="m.priorityRange.hasEndExcl">and a.priority &lt; #{m.priorityRange.end}</if>
        </if>
        <if test="m.flags != null">and a.flags = #{m.flags}</if>
        <if test="m.flagsRange!= null">
            <if test="m.flagsRange.hasStartIncl">and a.flags >= #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasStartExcl">and a.flags > #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasEndIncl">and a.flags &lt;= #{m.flagsRange.end}</if>
            <if test="m.flagsRange.hasEndExcl">and a.flags &lt; #{m.flagsRange.end}</if>
        </if>
        <if test="m.state != null">and a."state" = #{m.state}</if>
        <if test="m.stateRange!= null">
            <if test="m.stateRange.hasStartIncl">and a."state" >= #{m.stateRange.start}</if>
            <if test="m.stateRange.hasStartExcl">and a."state" > #{m.stateRange.start}</if>
            <if test="m.stateRange.hasEndIncl">and a."state" &lt;= #{m.stateRange.end}</if>
            <if test="m.stateRange.hasEndExcl">and a."state" &lt; #{m.stateRange.end}</if>
        </if>
        <if test="m.creationDate != null">and a.creation = #{m.creationDate}</if>
        <if test="m.lastModifiedDate != null">and a.lastmod = #{m.lastModifiedDate}</if>
        <if test="m.version != null">and a."version" = #{m.version}</if>
        <if test="m.versionRange!= null">
            <if test="m.versionRange.hasStartIncl">and a."version" >= #{m.versionRange.start}</if>
            <if test="m.versionRange.hasStartExcl">and a."version" > #{m.versionRange.start}</if>
            <if test="m.versionRange.hasEndIncl">and a."version" &lt;= #{m.versionRange.end}</if>
            <if test="m.versionRange.hasEndExcl">and a."version" &lt; #{m.versionRange.end}</if>
        </if>
        <if test="m.parentId != null">and a.parent = #{m.parentId}</if>
        <if test="m.parentIdRange!= null">
            <if test="m.parentIdRange.hasStartIncl">and a.parent >= #{m.parentIdRange.start}</if>
            <if test="m.parentIdRange.hasStartExcl">and a.parent > #{m.parentIdRange.start}</if>
            <if test="m.parentIdRange.hasEndIncl">and a.parent &lt;= #{m.parentIdRange.end}</if>
            <if test="m.parentIdRange.hasEndExcl">and a.parent &lt; #{m.parentIdRange.end}</if>
        </if>
        <if test="m.apiId != null">and a.api = #{m.apiId}</if>
        <if test="m.apiIdRange!= null">
            <if test="m.apiIdRange.hasStartIncl">and a.api >= #{m.apiIdRange.start}</if>
            <if test="m.apiIdRange.hasStartExcl">and a.api > #{m.apiIdRange.start}</if>
            <if test="m.apiIdRange.hasEndIncl">and a.api &lt;= #{m.apiIdRange.end}</if>
            <if test="m.apiIdRange.hasEndExcl">and a.api &lt; #{m.apiIdRange.end}</if>
        </if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into vappreq_api(
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            parent,
            api
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{parentId},
            #{apiId}
        );
    ]]></insert>

    <update id="update">
        update vappreq_api
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            parent = #{parentId},
            api = #{apiId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from vappreq_api
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from vappreq_api
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
