<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.api.impl.ApiMapper">

    <resultMap id="map1" type="net.bodz.lily.api.Api" extends="co.MAP_UV">
        <result property="uom" column="uom" />
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*
        from api a
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*
        from api a
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into api(
            code, label, description,
            priority, flags, state,
            uom
        ) values(
            #{codeName}, #{label}, #{description},
            #{priority}, #{flags}, #{state},
            #{uom}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update api
        <set>
            <include refid="co.setUS" />
            uom = #{uom},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from api where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from api
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
