<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.api.impl.AppAccountMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.api.AppAccount" extends="co.MAP_UVX">
        <result property="quantity" column="qty" />
        <association property="app" javaType="net.bodz.lily.api.App">
            <id property="id" column="app" />
            <result property="label" column="app_label" />
        </association>
        <association property="api" javaType="net.bodz.lily.api.Api">
            <id property="id" column="api" />
            <result property="label" column="api_label" />
        </association>
        <association property="type" javaType="net.bodz.lily.api.AppAccountType">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            app.label "app_label",
            api.label "api_label",
            cat.label "cat_label"
        from appacnt a
            left join app on a.app = app.id
            left join api on a.api = api.id
            left join appacntcat cat on a.cat = cat.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            app.label "app_label",
            api.label "api_label",
            cat.label "cat_label"
        from appacnt a
            left join app on a.app = app.id
            left join api on a.api = api.id
            left join appacntcat cat on a.cat = cat.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into appacnt(
            priority, flags, state,
            app, api, cat, qty
        ) values(
            #{priority}, #{flags}, #{state},
            #{app.id}, #{api.id}, #{type.id}, #{quantity}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update appacnt
        <set>
            <include refid="co.setS" />
            app = #{app.id},
            api = #{api.id},
            cat = #{type.id},
            qty = #{quantity},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from appacnt where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from appacnt
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
