<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.shop.impl.CartItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.shop.CartItem" extends="co.MAP_UVX">
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <association property="shopItem" javaType="net.bodz.violet.shop.ShopItem">
            <id property="id" column="shopitem" />
            <result property="label" column="shopitem_label" />
            <association property="artifact" javaType="net.bodz.violet.art.Artifact">
                <id property="id" column="art" />
                <result property="label" column="art_label" />
                <result property="properties.jsonForm" column="art_props" />
            </association>
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            s.label shopitem_label,
            s.art art,
            art.label art_label,
            art.props art_props,
            art.cat "art_cat",
            artcat.label "art_cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from cartitem a
            left join shopitem s on a.shopitem = s.id
            left join art on s.art = art.id
            left join artcat on art.cat = artcat.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            s.label shopitem_label,
            s.art art,
            art.label art_label,
            art.props art_props,
            art.cat "art_cat",
            artcat.label "art_cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from cartitem a
            left join shopitem s on a.shopitem = s.id
            left join art on s.art = art.id
            left join artcat on art.cat = artcat.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <include refid="co.modefilt" />
        <include refid="co.filter-ui" />
        <include refid="co.filter-version" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into cartitem(
            label, description,
            priority, flags, state, uid, gid, mode, acl,
            shopitem, price, qty
        ) values(
            #{label}, #{description},
            #{priority}, #{flags}, #{state}, #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{shopItem.id}, #{price}, #{quantity}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update cartitem
        <set>
            <include refid="co.setUSA" />
            shopitem = #{shopItem.id},
            price = #{price},
            qty = #{quantity},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from cartitem where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from cartitem
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
