<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.shop.impl.SalesOrderItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.shop.SalesOrderItem" extends="mi.objlist_map">
        <result property="resale" column="resale" />
        <result property="altLabel" column="olabel" />
        <result property="altSpec" column="ospec" />
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="n1" column="n1" />
        <!-- result property="comment" column="comment" /-->
        <result property="notes" column="notes" />
        <association property="order" javaType="net.bodz.violet.shop.SalesOrder">
            <id property="id" column="odr" />
            <result property="subject" column="odr_subject" />
        </association>
        <association property="artifact" javaType="net.bodz.violet.art.Artifact">
            <id property="id" column="art" />
            <result property="label" column="art_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            odr.subject odr_subject,
            art.label art_label,
            u.label "uid_label",
            g.label "gid_label"
        from saleodrl a
            left join saleodr odr on a.odr = odr.id
            left join art on a.art = art.id
            left join "user" u on odr.uid = u.id
            left join "group" g on odr.gid = g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            odr.subject odr_subject,
            art.label art_label,
            u.label "uid_label",
            g.label "gid_label"
        from saleodrl a
            left join saleodr odr on a.odr = odr.id
            left join art on a.art = art.id
            left join "user" u on odr.uid = u.id
            left join "group" g on odr.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into saleodrl(
            odr, shopitem, art,
            resale, olabel, ospec,
            qty, price, amount, n1, notes
        ) values(
            #{order.id}, #{shopItem.id}, #{artifact.id},
            #{resale}, #{altLabel}, #{altSpec},
            #{quantity}, #{price}, #{amount}, #{n1}, #{notes}
        );
    ]]></insert>

    <update id="update">
        update saleodrl
        <set>
            <include refid="co.setS" />
            odr = #{order.id},
            shopitem = #{shopItem.id},
            art = #{artifact.id},
            resale = #{resale},
            olabel = #{altLabel},
            ospec = #{altSpec},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
            notes = #{notes},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from saleodrl where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from saleodrl
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
