<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.store.dao.StoreOrderItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.store.StoreOrderItem">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="batch" column="batch" />
        <result property="serial" column="serial" />
        <result property="expire" column="expire" />
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <result property="notes" column="notes" />
        <result property="orderId" column="odr" />
        <result property="artifactId" column="art" />
        <result property="regionId" column="region" />
        <association property="artifact" columnPrefix="art_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
        <association property="order" columnPrefix="odr_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.store.StoreOrder" 
            resultMap="net.bodz.violet.schema.store.dao.StoreOrderMapper.objlist_map" />
        <association property="region" columnPrefix="region_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.store.Region" 
            resultMap="net.bodz.violet.schema.store.dao.RegionMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.odr, 
            a.art, 
            a.region, 
            a.batch, 
            a.serial, 
            a.expire, 
            a.qty, 
            a.price, 
            a.amount, 
            a.notes, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.plan odr_plan, 
            odr.org odr_org, 
            odr.ou odr_ou, 
            odr.person odr_person, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.icon region_icon, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art
        from storeodrl a
            left join art art on a.art = art.id
            left join storeodr odr on a.odr = odr.id
            left join region region on a.region = region.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.odr, 
            a.art, 
            a.region, 
            a.batch, 
            a.serial, 
            a.expire, 
            a.qty, 
            a.price, 
            a.amount, 
            a.notes, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.plan odr_plan, 
            odr.org odr_org, 
            odr.ou odr_ou, 
            odr.person odr_person, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.icon region_icon, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art
        from storeodrl a
            left join art art on a.art = art.id
            left join storeodr odr on a.odr = odr.id
            left join region region on a.region = region.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into storeodrl(
            priority,
            flags,
            "state",
            t0,
            t1,
            "year",
            odr,
            art,
            region,
            batch,
            serial,
            expire,
            qty,
            price,
            amount,
            notes
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{beginTime},
            #{endTime},
            #{year},
            #{orderId},
            #{artifactId},
            #{regionId},
            #{batch},
            #{serial},
            #{expire},
            #{quantity},
            #{price},
            #{amount},
            #{notes}
        );
    ]]></insert>

    <update id="update">
        update storeodrl
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            odr = #{orderId},
            art = #{artifactId},
            region = #{regionId},
            batch = #{batch},
            serial = #{serial},
            expire = #{expire},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
            notes = #{notes},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from storeodrl
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from storeodrl a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    <include refid="co.countOpts" />
    </select>

</mapper>
