<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.asset.dao.UserAssetMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.asset.UserAsset">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="batch.jsonStr" column="batch" />
        <result property="quantity" column="qty" />
        <result property="serial" column="serial" />
        <result property="expire" column="expire" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="ownerId" column="owner" />
        <result property="artifactId" column="art" />
        <result property="regionId" column="region" />
        <association property="region" columnPrefix="region_"
            javaType="net.bodz.violet.store.Region" 
            resultMap="net.bodz.violet.store.dao.RegionMapper.objlist_map" />
        <association property="owner" columnPrefix="owner_"
            javaType="net.bodz.lily.security.User" 
            resultMap="net.bodz.lily.security.dao.UserMapper.objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_"
            javaType="net.bodz.lily.security.User" 
            resultMap="net.bodz.lily.security.dao.UserMapper.objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_"
            javaType="net.bodz.lily.security.Group" 
            resultMap="net.bodz.lily.security.dao.GroupMapper.objlist_map" />
        <association property="artifact" columnPrefix="art_"
            javaType="net.bodz.violet.art.Artifact" 
            resultMap="net.bodz.violet.art.dao.ArtifactMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.owner, 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            owner.id owner_id, 
            owner."type" owner_type, 
            owner."name" owner_name, 
            owner.label owner_label, 
            owner.description owner_description, 
            owner.priority owner_priority, 
            owner.flags owner_flags, 
            owner."state" owner_state, 
            owner.creation owner_creation, 
            owner.lastmod owner_lastmod, 
            owner."version" owner_version, 
            owner.props owner_props, 
            owner.gid0 owner_gid0, 
            owner.referer owner_referer, 
            owner.person owner_person, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from asset_user a
            left join region region on a.region = region.id
            left join lily."user" owner on a.owner = owner.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.owner, 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            owner.id owner_id, 
            owner."type" owner_type, 
            owner."name" owner_name, 
            owner.label owner_label, 
            owner.description owner_description, 
            owner.priority owner_priority, 
            owner.flags owner_flags, 
            owner."state" owner_state, 
            owner.creation owner_creation, 
            owner.lastmod owner_lastmod, 
            owner."version" owner_version, 
            owner.props owner_props, 
            owner.gid0 owner_gid0, 
            owner.referer owner_referer, 
            owner.person owner_person, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from asset_user a
            left join region region on a.region = region.id
            left join lily."user" owner on a.owner = owner.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="m.id != null">and a.id = #{m.id}</if>
        <if test="m.idRange!= null">
            <if test="m.idRange.hasStartIncl">and a.id >= #{m.idRange.start}</if>
            <if test="m.idRange.hasStartExcl">and a.id > #{m.idRange.start}</if>
            <if test="m.idRange.hasEndIncl">and a.id &lt;= #{m.idRange.end}</if>
            <if test="m.idRange.hasEndExcl">and a.id &lt; #{m.idRange.end}</if>
        </if>
        <if test="m.ownerUserId != null">and a.uid = #{m.ownerUserId}</if>
        <if test="m.ownerUserIdRange!= null">
            <if test="m.ownerUserIdRange.hasStartIncl">and a.uid >= #{m.ownerUserIdRange.start}</if>
            <if test="m.ownerUserIdRange.hasStartExcl">and a.uid > #{m.ownerUserIdRange.start}</if>
            <if test="m.ownerUserIdRange.hasEndIncl">and a.uid &lt;= #{m.ownerUserIdRange.end}</if>
            <if test="m.ownerUserIdRange.hasEndExcl">and a.uid &lt; #{m.ownerUserIdRange.end}</if>
        </if>
        <if test="m.ownerGroupId != null">and a.gid = #{m.ownerGroupId}</if>
        <if test="m.ownerGroupIdRange!= null">
            <if test="m.ownerGroupIdRange.hasStartIncl">and a.gid >= #{m.ownerGroupIdRange.start}</if>
            <if test="m.ownerGroupIdRange.hasStartExcl">and a.gid > #{m.ownerGroupIdRange.start}</if>
            <if test="m.ownerGroupIdRange.hasEndIncl">and a.gid &lt;= #{m.ownerGroupIdRange.end}</if>
            <if test="m.ownerGroupIdRange.hasEndExcl">and a.gid &lt; #{m.ownerGroupIdRange.end}</if>
        </if>
        <if test="m.accessMode != null">and a.mode = #{m.accessMode}</if>
        <if test="m.accessModeRange!= null">
            <if test="m.accessModeRange.hasStartIncl">and a.mode >= #{m.accessModeRange.start}</if>
            <if test="m.accessModeRange.hasStartExcl">and a.mode > #{m.accessModeRange.start}</if>
            <if test="m.accessModeRange.hasEndIncl">and a.mode &lt;= #{m.accessModeRange.end}</if>
            <if test="m.accessModeRange.hasEndExcl">and a.mode &lt; #{m.accessModeRange.end}</if>
        </if>
        <if test="m.acl != null">and a.acl = #{m.acl}</if>
        <if test="m.aclRange!= null">
            <if test="m.aclRange.hasStartIncl">and a.acl >= #{m.aclRange.start}</if>
            <if test="m.aclRange.hasStartExcl">and a.acl > #{m.aclRange.start}</if>
            <if test="m.aclRange.hasEndIncl">and a.acl &lt;= #{m.aclRange.end}</if>
            <if test="m.aclRange.hasEndExcl">and a.acl &lt; #{m.aclRange.end}</if>
        </if>
        <if test="m.priority != null">and a.priority = #{m.priority}</if>
        <if test="m.priorityRange!= null">
            <if test="m.priorityRange.hasStartIncl">and a.priority >= #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasStartExcl">and a.priority > #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasEndIncl">and a.priority &lt;= #{m.priorityRange.end}</if>
            <if test="m.priorityRange.hasEndExcl">and a.priority &lt; #{m.priorityRange.end}</if>
        </if>
        <if test="m.flags != null">and a.flags = #{m.flags}</if>
        <if test="m.flagsRange!= null">
            <if test="m.flagsRange.hasStartIncl">and a.flags >= #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasStartExcl">and a.flags > #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasEndIncl">and a.flags &lt;= #{m.flagsRange.end}</if>
            <if test="m.flagsRange.hasEndExcl">and a.flags &lt; #{m.flagsRange.end}</if>
        </if>
        <if test="m.state != null">and a."state" = #{m.state}</if>
        <if test="m.stateRange!= null">
            <if test="m.stateRange.hasStartIncl">and a."state" >= #{m.stateRange.start}</if>
            <if test="m.stateRange.hasStartExcl">and a."state" > #{m.stateRange.start}</if>
            <if test="m.stateRange.hasEndIncl">and a."state" &lt;= #{m.stateRange.end}</if>
            <if test="m.stateRange.hasEndExcl">and a."state" &lt; #{m.stateRange.end}</if>
        </if>
        <if test="m.creationDate != null">and a.creation = #{m.creationDate}</if>
        <if test="m.lastModifiedDate != null">and a.lastmod = #{m.lastModifiedDate}</if>
        <if test="m.version != null">and a."version" = #{m.version}</if>
        <if test="m.versionRange!= null">
            <if test="m.versionRange.hasStartIncl">and a."version" >= #{m.versionRange.start}</if>
            <if test="m.versionRange.hasStartExcl">and a."version" > #{m.versionRange.start}</if>
            <if test="m.versionRange.hasEndIncl">and a."version" &lt;= #{m.versionRange.end}</if>
            <if test="m.versionRange.hasEndExcl">and a."version" &lt; #{m.versionRange.end}</if>
        </if>
        <if test="m.beginTime != null">and a.t0 = #{m.beginTime}</if>
        <if test="m.endTime != null">and a.t1 = #{m.endTime}</if>
        <if test="m.year != null">and a."year" = #{m.year}</if>
        <if test="m.yearRange!= null">
            <if test="m.yearRange.hasStartIncl">and a."year" >= #{m.yearRange.start}</if>
            <if test="m.yearRange.hasStartExcl">and a."year" > #{m.yearRange.start}</if>
            <if test="m.yearRange.hasEndIncl">and a."year" &lt;= #{m.yearRange.end}</if>
            <if test="m.yearRange.hasEndExcl">and a."year" &lt; #{m.yearRange.end}</if>
        </if>
        <if test="m.ownerId != null">and a.owner = #{m.ownerId}</if>
        <if test="m.ownerIdRange!= null">
            <if test="m.ownerIdRange.hasStartIncl">and a.owner >= #{m.ownerIdRange.start}</if>
            <if test="m.ownerIdRange.hasStartExcl">and a.owner > #{m.ownerIdRange.start}</if>
            <if test="m.ownerIdRange.hasEndIncl">and a.owner &lt;= #{m.ownerIdRange.end}</if>
            <if test="m.ownerIdRange.hasEndExcl">and a.owner &lt; #{m.ownerIdRange.end}</if>
        </if>
        <if test="m.artifactId != null">and a.art = #{m.artifactId}</if>
        <if test="m.artifactIdRange!= null">
            <if test="m.artifactIdRange.hasStartIncl">and a.art >= #{m.artifactIdRange.start}</if>
            <if test="m.artifactIdRange.hasStartExcl">and a.art > #{m.artifactIdRange.start}</if>
            <if test="m.artifactIdRange.hasEndIncl">and a.art &lt;= #{m.artifactIdRange.end}</if>
            <if test="m.artifactIdRange.hasEndExcl">and a.art &lt; #{m.artifactIdRange.end}</if>
        </if>
        <if test="m.regionId != null">and a.region = #{m.regionId}</if>
        <if test="m.regionIdRange!= null">
            <if test="m.regionIdRange.hasStartIncl">and a.region >= #{m.regionIdRange.start}</if>
            <if test="m.regionIdRange.hasStartExcl">and a.region > #{m.regionIdRange.start}</if>
            <if test="m.regionIdRange.hasEndIncl">and a.region &lt;= #{m.regionIdRange.end}</if>
            <if test="m.regionIdRange.hasEndExcl">and a.region &lt; #{m.regionIdRange.end}</if>
        </if>
        <if test="m.batch != null">and a.batch = #{m.batch}</if>
        <if test="m.quantity != null">and a.qty = #{m.quantity}</if>
        <if test="m.quantityRange!= null">
            <if test="m.quantityRange.hasStartIncl">and a.qty >= #{m.quantityRange.start}</if>
            <if test="m.quantityRange.hasStartExcl">and a.qty > #{m.quantityRange.start}</if>
            <if test="m.quantityRange.hasEndIncl">and a.qty &lt;= #{m.quantityRange.end}</if>
            <if test="m.quantityRange.hasEndExcl">and a.qty &lt; #{m.quantityRange.end}</if>
        </if>
        <if test="m.serial != null">and a.serial = #{m.serial}</if>
        <if test="m.serialRange!= null">
            <if test="m.serialRange.hasStartIncl">and a.serial >= #{m.serialRange.start}</if>
            <if test="m.serialRange.hasStartExcl">and a.serial > #{m.serialRange.start}</if>
            <if test="m.serialRange.hasEndIncl">and a.serial &lt;= #{m.serialRange.end}</if>
            <if test="m.serialRange.hasEndExcl">and a.serial &lt; #{m.serialRange.end}</if>
        </if>
        <if test="m.expire != null">and a.expire = #{m.expire}</if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into asset_user(
            uid,
            gid,
            mode,
            acl,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            owner,
            art,
            region,
            batch,
            qty,
            serial,
            expire
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{ownerId},
            #{artifactId},
            #{regionId},
            #{batch.jsonStr}::jsonb,
            #{quantity},
            #{serial},
            #{expire}
        );
    ]]></insert>

    <update id="update">
        update asset_user
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            owner = #{ownerId},
            art = #{artifactId},
            region = #{regionId},
            batch = #{batch.jsonStr}::jsonb,
            qty = #{quantity},
            serial = #{serial},
            expire = #{expire},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from asset_user
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from asset_user
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
