<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.contact.impl.OrganizationMapper">

    <resultMap id="map1" type="net.bodz.lily.contact.Organization" extends="co.MAP_ALL">
        <result property="properties.jsonForm" column="props" />

        <result property="birthday" column="birthday" />
        <result property="langTag" column="locale" />
        <result property="timeZoneId" column="timezone" />
        <result property="supplier" column="supplier" />
        <result property="customer" column="customer" />
        <result property="subject" column="subject" />
        <result property="size" column="size" />
        <result property="taxId" column="taxid" />

        <result property="contact.address1" column="address1" />
        <result property="contact.address2" column="address2" />
        <result property="contact.tel" column="tel" />

        <association property="category" javaType="net.bodz.lily.contact.PartyCategory">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from org a
            left join partycat cat on a.cat = cat.id
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from org a
            left join partycat cat on a.cat = cat.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into org(
            label, description,
            priority, flags, state, uid, gid, mode, acl,
            props,
            cat,
            birthday, locale, timezone,
            supplier, customer, subject,
            address1, address2, tel,
            size, taxid
        ) values(
            #{label},#{description},
            #{priority}, #{flags}, #{state}, #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{properties.jsonForm}::jsonb,
            #{category.id},
            #{birthday}, #{langTag}, #{timeZoneId},
            #{supplier}, #{customer}, #{subject},
            #{contact.address1}, #{contact.address2}, #{contact.tel},
            #{size}, #{taxId}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update org
        <set>
            <include refid="co.setUVSA" />
            props = #{properties.jsonForm}::jsonb,
            cat = #{category.id},
            birthday = #{birthday},
            locale = #{langTag},
            timezone = #{timeZoneId},
            supplier = #{supplier},
            customer = #{customer},
            subject = #{subject},
            address1 = #{contact.address1},
            address2 = #{contact.address2},
            tel = #{contact.tel},
            size = #{size},
            taxid = #{taxId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from org where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from org
        <where>
            <include refid="filtconds" />
        </where>
    </select>

</mapper>
