<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.tran.impl.TransportOrderItemMapper">

    <resultMap id="map1" type="net.bodz.violet.tran.TransportOrderItem" extends="co.MAP_V">
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <association property="order" javaType="net.bodz.violet.tran.TransportOrder">
            <id property="id" column="odr" />
            <result property="subject" column="odr_subject" />
        </association>
        <association property="artifact" javaType="net.bodz.violet.art.Artifact">
            <id property="id" column="art" />
            <result property="label" column="art_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            odr.subject "odr_subject",
            art.label "art_label"
        from tranodrl a
            left join tranodr odr on a.odr = odr.id
            left join art on a.art = art.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            odr.subject "odr_subject",
            art.label "art_label"
        from tranodrl a
            left join tranodr odr on a.odr = odr.id
            left join art on a.art = art.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into tranodrl(
            priority, flags, state,
            odr, art,
            qty, price, amount
        ) values(
            #{priority}, #{flags}, #{state},
            #{order.id}, #{artifact.id},
            #{quantity}, #{price}, #{amount}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update tranodrl
        <set>
            <include refid="co.setS" />
            odr = #{order.id},
            art = #{artifact.id},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from tranodrl where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from tranodrl
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
