<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.issue.dao.IssueFavMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.issue.IssueFav">
        <id property="id" column="id" />
        <result property="issueId" column="issue" />
        <result property="userId" column="user" />
        <association property="user" columnPrefix="user_"
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="issue" columnPrefix="issue_"
            javaType="net.bodz.violet.schema.issue.Issue" 
            resultMap="net.bodz.violet.schema.issue.dao.IssueMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.issue, 
            a."user", 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            issue.id issue_id, 
            issue.uid issue_uid, 
            issue.gid issue_gid, 
            issue.mode issue_mode, 
            issue.acl issue_acl, 
            issue.priority issue_priority, 
            issue.flags issue_flags, 
            issue."state" issue_state, 
            issue.t0 issue_t0, 
            issue.t1 issue_t1, 
            issue."year" issue_year, 
            issue.subject issue_subject, 
            issue.op issue_op, 
            issue.text issue_text, 
            issue.form issue_form, 
            issue.formargs issue_formargs, 
            issue.creation issue_creation, 
            issue.lastmod issue_lastmod, 
            issue."version" issue_version, 
            issue.cat issue_cat, 
            issue.phase issue_phase, 
            issue.nread issue_nread, 
            issue.nvote issue_nvote, 
            issue.nlike issue_nlike, 
            issue."value" issue_value
        from issue_fav a
            left join lily."user" "user" on a."user" = "user".id
            left join issue issue on a.issue = issue.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.issue, 
            a."user", 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            issue.id issue_id, 
            issue.uid issue_uid, 
            issue.gid issue_gid, 
            issue.mode issue_mode, 
            issue.acl issue_acl, 
            issue.priority issue_priority, 
            issue.flags issue_flags, 
            issue."state" issue_state, 
            issue.t0 issue_t0, 
            issue.t1 issue_t1, 
            issue."year" issue_year, 
            issue.subject issue_subject, 
            issue.op issue_op, 
            issue.text issue_text, 
            issue.form issue_form, 
            issue.formargs issue_formargs, 
            issue.creation issue_creation, 
            issue.lastmod issue_lastmod, 
            issue."version" issue_version, 
            issue.cat issue_cat, 
            issue.phase issue_phase, 
            issue.nread issue_nread, 
            issue.nvote issue_nvote, 
            issue.nlike issue_nlike, 
            issue."value" issue_value
        from issue_fav a
            left join lily."user" "user" on a."user" = "user".id
            left join issue issue on a.issue = issue.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into issue_fav(
            issue,
            "user"
        ) values(
            #{issueId},
            #{userId}
        );
    ]]></insert>

    <update id="update">
        update issue_fav
        <set>
            issue = #{issueId},
            "user" = #{userId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from issue_fav
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from issue_fav
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
