<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.art.impl.ArtifactMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.art.Artifact" extends="co.MAP_UVX">
        <result property="properties.jsonStr" column="props" />
        <result property="skuCode" column="sku" />
        <result property="barCode" column="barcode" />
        <result property="rfidCode" column="rfid" />
        <result property="modelName" column="model" />
        <result property="finish" column="finish" />
        <association property="category" javaType="net.bodz.violet.art.ArtifactCategory">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
        </association>
        <association property="phase" javaType="net.bodz.violet.art.ArtifactPhase">
            <id property="id" column="phase" />
            <result property="label" column="phase_label" />
        </association>
        <association property="uom" javaType="net.bodz.violet.art.UOM">
            <id property="id" column="uom" />
            <result property="label" column="uom_label" />
        </association>
    </resultMap>

    <resultMap id="objedit_map" type="net.bodz.violet.art.Artifact" extends="objlist_map">
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            artcat.label "cat_label",
            artphase.label "phase_label",
            uom.label "uom_label",
            u.label "uid_label",
            g.label "gid_label"
        from art a
            left join artcat on a.cat = artcat.id
            left join artphase on a.phase = artphase.id
            left join uom on a.uom = uom.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            artcat.label "cat_label",
            artphase.label "phase_label",
            uom.label "uom_label",
            u.label "uid_label",
            g.label "gid_label"
        from art a
            left join artcat on a.cat = artcat.id
            left join artphase on a.phase = artphase.id
            left join uom on a.uom = uom.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <include refid="co.modefilt" />
        <include refid="co.filter-ui" />
        <include refid="co.filter-version" />
        <if test="m.uomId != null">and a.uom = #{m.uomId}</if>
        <if test="m.categoryId != null">and a.cat = #{m.categoryId}</if>
        <if test="m.phaseId != null">and a.phase = #{m.phaseId}</if>
        <if test="m.noCategory">and a.cat is null</if>
        <if test="m.noPhase">and a.phase is null</if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <select id="selectByRfid" parameterType="String" resultMap="objedit_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.rfid = #{rfid}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into art(
            label, description,
            priority, flags, state, uid, gid, mode, acl,
            props,
            cat, phase, sku, barcode, rfid, model, finish,
            uom, price 
        ) values(
            #{label},#{description},
            #{priority}, #{flags}, #{state}, #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{properties.jsonStr}::jsonb,
            #{category.id}, #{phase.id}, #{skuCode}, #{barCode}, #{rfidCode}, #{modelName}, #{finish},
            #{uom.id}, #{price}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update art
        <set>
            <include refid="co.setUSA" />
            <if test="category != null">cat = #{category.id},</if>
            <if test="phase != null">phase = #{phase.id},</if>
            <if test="properties != null">props = #{properties.jsonStr}::jsonb,</if>
            sku = #{skuCode},
            barcode = #{barCode},
            rfid = #{rfidCode},
            model = #{modelName},
            finish = #{finish},
            <if test="uom != null">uom = #{uom.id},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from art where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select * from v_art_n
    </select>

</mapper>
