<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.edu.dao.CourseFavMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.edu.CourseFav">
        <id property="id" column="id" />
        <result property="courseId" column="course" />
        <result property="userId" column="user" />
        <association property="user" columnPrefix="user_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="course" columnPrefix="course_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.edu.Course" 
            resultMap="net.bodz.violet.schema.edu.dao.CourseMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.course, 
            a."user", 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person, 
            course.id course_id, 
            course.uid course_uid, 
            course.gid course_gid, 
            course.mode course_mode, 
            course.acl course_acl, 
            course.label course_label, 
            course.description course_description, 
            course.icon course_icon, 
            course.priority course_priority, 
            course.flags course_flags, 
            course."state" course_state, 
            course.creation course_creation, 
            course.lastmod course_lastmod, 
            course."version" course_version, 
            course.props course_props, 
            course.cat course_cat, 
            course.nfav course_nfav, 
            course.nvote course_nvote, 
            course.nhate course_nhate, 
            course.credit course_credit, 
            course.plugins course_plugins
        from course_fav a
            left join lily."user" "user" on a."user" = "user".id
            left join course course on a.course = course.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.course, 
            a."user", 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person, 
            course.id course_id, 
            course.uid course_uid, 
            course.gid course_gid, 
            course.mode course_mode, 
            course.acl course_acl, 
            course.label course_label, 
            course.description course_description, 
            course.icon course_icon, 
            course.priority course_priority, 
            course.flags course_flags, 
            course."state" course_state, 
            course.creation course_creation, 
            course.lastmod course_lastmod, 
            course."version" course_version, 
            course.props course_props, 
            course.cat course_cat, 
            course.nfav course_nfav, 
            course.nvote course_nvote, 
            course.nhate course_nhate, 
            course.credit course_credit, 
            course.plugins course_plugins
        from course_fav a
            left join lily."user" "user" on a."user" = "user".id
            left join course course on a.course = course.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into course_fav(
            course,
            "user"
        ) values(
            #{courseId},
            #{userId}
        );
    ]]></insert>

    <update id="update">
        update course_fav
        <set>
            course = #{courseId},
            "user" = #{userId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from course_fav
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from course_fav a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
