<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.edu.dao.TestQuestionFavMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.edu.TestQuestionFav">
        <id property="id" column="id" />
        <result property="testqId" column="testq" />
        <result property="userId" column="user" />
        <association property="testq" columnPrefix="testq_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.edu.TestQuestion" 
            resultMap="net.bodz.violet.schema.edu.dao.TestQuestionMapper.objlist_map" />
        <association property="user" columnPrefix="user_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.testq, 
            a."user", 
            testq.id testq_id, 
            testq.uid testq_uid, 
            testq.gid testq_gid, 
            testq.mode testq_mode, 
            testq.acl testq_acl, 
            testq.priority testq_priority, 
            testq.flags testq_flags, 
            testq."state" testq_state, 
            testq.creation testq_creation, 
            testq.lastmod testq_lastmod, 
            testq."version" testq_version, 
            testq.subject testq_subject, 
            testq.op testq_op, 
            testq.text testq_text, 
            testq.form testq_form, 
            testq.formargs testq_formargs, 
            testq.course testq_course, 
            testq.props testq_props, 
            testq.nfav testq_nfav, 
            testq.nvote testq_nvote, 
            testq.nhate testq_nhate, 
            testq.pos testq_pos, 
            testq.answer testq_answer, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person
        from testq_fav a
            left join testq testq on a.testq = testq.id
            left join lily."user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.testq, 
            a."user", 
            testq.id testq_id, 
            testq.uid testq_uid, 
            testq.gid testq_gid, 
            testq.mode testq_mode, 
            testq.acl testq_acl, 
            testq.priority testq_priority, 
            testq.flags testq_flags, 
            testq."state" testq_state, 
            testq.creation testq_creation, 
            testq.lastmod testq_lastmod, 
            testq."version" testq_version, 
            testq.subject testq_subject, 
            testq.op testq_op, 
            testq.text testq_text, 
            testq.form testq_form, 
            testq.formargs testq_formargs, 
            testq.course testq_course, 
            testq.props testq_props, 
            testq.nfav testq_nfav, 
            testq.nvote testq_nvote, 
            testq.nhate testq_nhate, 
            testq.pos testq_pos, 
            testq.answer testq_answer, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person
        from testq_fav a
            left join testq testq on a.testq = testq.id
            left join lily."user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into testq_fav(
            testq,
            "user"
        ) values(
            #{testqId},
            #{userId}
        );
    ]]></insert>

    <update id="update">
        update testq_fav
        <set>
            testq = #{testqId},
            "user" = #{userId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from testq_fav
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from testq_fav a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
