<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.edu.dao.TestApplyItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.edu.TestApplyItem">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="answer" column="ans" />
        <result property="anstext" column="anstext" />
        <result property="score" column="score" />
        <result property="waittime" column="waittime" />
        <result property="applyId" column="apply" />
        <result property="questionId" column="q" />
        <association property="question" columnPrefix="q_"
            javaType="net.bodz.violet.schema.edu.TestQuestion" 
            resultMap="net.bodz.violet.schema.edu.dao.TestQuestionMapper.objlist_map" />
        <association property="apply" columnPrefix="apply_"
            javaType="net.bodz.violet.schema.edu.TestApply" 
            resultMap="net.bodz.violet.schema.edu.dao.TestApplyMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.apply, 
            a.q, 
            a.ans, 
            a.anstext, 
            a.score, 
            a.waittime, 
            q.id q_id, 
            q.uid q_uid, 
            q.gid q_gid, 
            q.mode q_mode, 
            q.acl q_acl, 
            q.priority q_priority, 
            q.flags q_flags, 
            q."state" q_state, 
            q.creation q_creation, 
            q.lastmod q_lastmod, 
            q."version" q_version, 
            q.subject q_subject, 
            q.op q_op, 
            q.text q_text, 
            q.form q_form, 
            q.formargs q_formargs, 
            q.course q_course, 
            q.props q_props, 
            q.nfav q_nfav, 
            q.nvote q_nvote, 
            q.nhate q_nhate, 
            q.pos q_pos, 
            q.answer q_answer, 
            apply.id apply_id, 
            apply.uid apply_uid, 
            apply.gid apply_gid, 
            apply.mode apply_mode, 
            apply.acl apply_acl, 
            apply.label apply_label, 
            apply.description apply_description, 
            apply.priority apply_priority, 
            apply.flags apply_flags, 
            apply."state" apply_state, 
            apply.creation apply_creation, 
            apply.lastmod apply_lastmod, 
            apply."version" apply_version, 
            apply.t0 apply_t0, 
            apply.t1 apply_t1, 
            apply."year" apply_year, 
            apply.paper apply_paper, 
            apply.person apply_person, 
            apply.score apply_score
        from testapplyl a
            left join testq q on a.q = q.id
            left join testapply apply on a.apply = apply.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.apply, 
            a.q, 
            a.ans, 
            a.anstext, 
            a.score, 
            a.waittime, 
            q.id q_id, 
            q.uid q_uid, 
            q.gid q_gid, 
            q.mode q_mode, 
            q.acl q_acl, 
            q.priority q_priority, 
            q.flags q_flags, 
            q."state" q_state, 
            q.creation q_creation, 
            q.lastmod q_lastmod, 
            q."version" q_version, 
            q.subject q_subject, 
            q.op q_op, 
            q.text q_text, 
            q.form q_form, 
            q.formargs q_formargs, 
            q.course q_course, 
            q.props q_props, 
            q.nfav q_nfav, 
            q.nvote q_nvote, 
            q.nhate q_nhate, 
            q.pos q_pos, 
            q.answer q_answer, 
            apply.id apply_id, 
            apply.uid apply_uid, 
            apply.gid apply_gid, 
            apply.mode apply_mode, 
            apply.acl apply_acl, 
            apply.label apply_label, 
            apply.description apply_description, 
            apply.priority apply_priority, 
            apply.flags apply_flags, 
            apply."state" apply_state, 
            apply.creation apply_creation, 
            apply.lastmod apply_lastmod, 
            apply."version" apply_version, 
            apply.t0 apply_t0, 
            apply.t1 apply_t1, 
            apply."year" apply_year, 
            apply.paper apply_paper, 
            apply.person apply_person, 
            apply.score apply_score
        from testapplyl a
            left join testq q on a.q = q.id
            left join testapply apply on a.apply = apply.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into testapplyl(
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            apply,
            q,
            ans,
            anstext,
            score,
            waittime
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{applyId},
            #{questionId},
            #{answer},
            #{anstext},
            #{score},
            #{waittime}
        );
    ]]></insert>

    <update id="update">
        update testapplyl
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            apply = #{applyId},
            q = #{questionId},
            ans = #{answer},
            anstext = #{anstext},
            score = #{score},
            waittime = #{waittime},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from testapplyl
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from testapplyl
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
