<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.plan.dao.PlanFavMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.plan.PlanFav">
        <id property="id" column="id" />
        <result property="planId" column="plan" />
        <result property="userId" column="user" />
        <association property="plan" columnPrefix="plan_"
            javaType="net.bodz.violet.schema.plan.Plan" 
            resultMap="net.bodz.violet.schema.plan.dao.PlanMapper.objlist_map" />
        <association property="user" columnPrefix="user_"
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.plan, 
            a."user", 
            plan.id plan_id, 
            plan.uid plan_uid, 
            plan.gid plan_gid, 
            plan.mode plan_mode, 
            plan.acl plan_acl, 
            plan.priority plan_priority, 
            plan.flags plan_flags, 
            plan."state" plan_state, 
            plan.t0 plan_t0, 
            plan.t1 plan_t1, 
            plan."year" plan_year, 
            plan.subject plan_subject, 
            plan.op plan_op, 
            plan.text plan_text, 
            plan.form plan_form, 
            plan.formargs plan_formargs, 
            plan.creation plan_creation, 
            plan.lastmod plan_lastmod, 
            plan."version" plan_version, 
            plan.cat plan_cat, 
            plan.phase plan_phase, 
            plan.nread plan_nread, 
            plan.nvote plan_nvote, 
            plan.nlike plan_nlike, 
            plan."value" plan_value, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer
        from plan_fav a
            left join plan plan on a.plan = plan.id
            left join lily."user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.plan, 
            a."user", 
            plan.id plan_id, 
            plan.uid plan_uid, 
            plan.gid plan_gid, 
            plan.mode plan_mode, 
            plan.acl plan_acl, 
            plan.priority plan_priority, 
            plan.flags plan_flags, 
            plan."state" plan_state, 
            plan.t0 plan_t0, 
            plan.t1 plan_t1, 
            plan."year" plan_year, 
            plan.subject plan_subject, 
            plan.op plan_op, 
            plan.text plan_text, 
            plan.form plan_form, 
            plan.formargs plan_formargs, 
            plan.creation plan_creation, 
            plan.lastmod plan_lastmod, 
            plan."version" plan_version, 
            plan.cat plan_cat, 
            plan.phase plan_phase, 
            plan.nread plan_nread, 
            plan.nvote plan_nvote, 
            plan.nlike plan_nlike, 
            plan."value" plan_value, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer
        from plan_fav a
            left join plan plan on a.plan = plan.id
            left join lily."user" "user" on a."user" = "user".id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into plan_fav(
            plan,
            "user"
        ) values(
            #{planId},
            #{userId}
        );
    ]]></insert>

    <update id="update">
        update plan_fav
        <set>
            plan = #{planId},
            "user" = #{userId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from plan_fav
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from plan_fav
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
