<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.art.dao.ArtifactVoteMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.art.ArtifactVote">
        <id property="id" column="id" />
        <result property="voteScore" column="votes" />
        <result property="parentId" column="parent" />
        <result property="userId" column="user" />
        <association property="user" columnPrefix="user_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="parent" columnPrefix="parent_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.parent, 
            a."user", 
            a.votes, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person, 
            parent.id parent_id, 
            parent.sku parent_sku, 
            parent.barcode parent_barcode, 
            parent.rfid parent_rfid, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.icon parent_icon, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.model parent_model, 
            parent.proto parent_proto, 
            parent.cat parent_cat, 
            parent.phase parent_phase, 
            parent.uom parent_uom, 
            parent.props parent_props, 
            parent.finish parent_finish, 
            parent.price parent_price
        from art_vote a
            left join lily."user" "user" on a."user" = "user".id
            left join art parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.parent, 
            a."user", 
            a.votes, 
            "user".id user_id, 
            "user"."type" user_type, 
            "user"."name" user_name, 
            "user".label user_label, 
            "user".description user_description, 
            "user".icon user_icon, 
            "user".priority user_priority, 
            "user".flags user_flags, 
            "user"."state" user_state, 
            "user".creation user_creation, 
            "user".lastmod user_lastmod, 
            "user"."version" user_version, 
            "user".props user_props, 
            "user".gid0 user_gid0, 
            "user".referer user_referer, 
            "user".person user_person, 
            parent.id parent_id, 
            parent.sku parent_sku, 
            parent.barcode parent_barcode, 
            parent.rfid parent_rfid, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.icon parent_icon, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.model parent_model, 
            parent.proto parent_proto, 
            parent.cat parent_cat, 
            parent.phase parent_phase, 
            parent.uom parent_uom, 
            parent.props parent_props, 
            parent.finish parent_finish, 
            parent.price parent_price
        from art_vote a
            left join lily."user" "user" on a."user" = "user".id
            left join art parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into art_vote(
            parent,
            "user",
            votes
        ) values(
            #{parentId},
            #{userId},
            #{voteScore}
        );
    ]]></insert>

    <update id="update">
        update art_vote
        <set>
            parent = #{parentId},
            "user" = #{userId},
            votes = #{voteScore},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from art_vote
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from art_vote a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
