<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.store.impl.OffStoreItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.store.OffStoreItem" extends="co.MAP_UVX">
        <result property="quantity" column="qty" />
        
        <!-- result property="batchStruct" column="batch" / -->
        
        <association property="artifact" javaType="net.bodz.violet.art.Artifact">
            <id property="id" column="art" />
            <result property="label" column="art_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            art.label art_label,
            u.label "uid_label",
            g.label "gid_label"
        from offstorel a
            left join art on a.art = art.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            art.label art_label,
            u.label "uid_label",
            g.label "gid_label"
        from offstorel a
            left join art on a.art = art.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into offstorel(
            art, qty
        ) values(
            #{artifact.id}, #{quantity}
        );
    ]]></insert>

    <update id="update">
        update offstorel
        <set>
            <include refid="co.setS" />
            art = #{artifact.id},
            qty = #{quantity},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from offstorel where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from offstorel
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
