<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.store.impl.StoreOrderItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.store.StoreOrderItem" extends="co.MAP_UVX">
        <result property="beginDate" column="t0" />
        <result property="endDate" column="t1" />
    
        <result property="serial" column="serial" />
        <result property="expire" column="serial" />
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <result property="notes" column="notes" />
        
        <!-- result property="batchStruct" column="batch" / -->
        
        <association property="order" javaType="net.bodz.violet.store.StorePhase">
            <id property="id" column="odr" />
            <result property="subject" column="odr_subject" />
        </association>
        <association property="artifact" javaType="net.bodz.violet.art.Artifact">
            <id property="id" column="art" />
            <result property="label" column="artifact_label" />
        </association>
        <association property="region" javaType="net.bodz.violet.store.Region">
            <id property="id" column="region" />
            <result property="label" column="region_label" />
            <result property="fullPath" column="region_path" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            odr.subject odr_subject,
            art.label art_label,
            region.label region_label,
            region.path region_path,
            u.label "uid_label",
            g.label "gid_label"
        from storeodrl a
            left join storeodr odr on a.odr = odr.id
            left join art on a.art = art.id
            left join region on a.region = region.id 
            left join "user" u on odr.uid=u.id
            left join "group" g on odr.gid=g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            odr.subject odr_subject,
            art.label art_label,
            region.label region_label,
            region.path region_path,
            u.label "uid_label",
            g.label "gid_label"
        from storeodrl a
            left join storeodr odr on a.odr = odr.id
            left join art on a.art = art.id
            left join region on a.region = region.id 
            left join "user" u on odr.uid=u.id
            left join "group" g on odr.gid=g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into storeodrl(
            odr, art, region,
            serial, expire,
            qty, price, amount, notes
        ) values(
            #{order.id}, #{artifact.id}, #{region.id},
            #{serial}, #{expire},
            #{quantity}, #{price}, #{amount}, #{notes}
        );
    ]]></insert>

    <update id="update">
        update storeodrl
        <set>
            <include refid="co.setS" />
            odr = #{order.id},
            art = #{artifact.id},
            region = #{region.id},
            serial = #{serial},
            expire = #{expire},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
            notes = #{notes},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from storeodrl where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from storeodrl
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
