<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.model.contact.impl.PersonMapper">

    <resultMap id="map1" type="net.bodz.lily.model.contact.Person" extends="co.mapUS">
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label"
        from person a
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label"
        from person a
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <select id="insert" resultType="long"><![CDATA[
        insert into person(
            code, label, description
        ) values(
            #{codeName},#{label},#{description}
        ) returning id
    ]]></select>

    <update id="update">
        update person
        <set>
            <include refid="co.setUS" />
        </set>
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </update>

    <delete id="delete">
        delete from person where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from person
        <where>
            <include refid="filtconds" />
        </where>
    </select>

</mapper>
