// -*- css -*-

#views {

    > [k=project] {
        margin: 1em;
    }
    
    > [k=modules] {
        margin: 1em;
        a {
            cursor: pointer;
        }
    }
    
    > [k=list] {
        margin: 1em;
        .name {
            font-weight: bold;
        }
    }
}

.ws-url {
    margin: 1em;
    padding: 1em;
    border: solid 1px gray;
    font-family: monospace;
}

.syntax {
    margin: 1em !important;
    padding: 1em !important;
    border: solid 1px gray;
    .nonterm {
        font-weight: bold;
    }
    .token:before {
        content: '"';
    }
    .token:after {
        content: '"';
    }
    li {
        margin: .5em 0;
    }
}
