<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.contact.dao.OrgUnitMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.contact.OrgUnit">
        <id property="id" column="id" />
        <result property="mode" column="mode" />
        <result property="acl" column="acl" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="alias" column="alias" />
        <result property="ctprops.jsonStr" column="ctprops" />
        <result property="address1" column="address1" />
        <result property="address2" column="address2" />
        <result property="tel" column="tel" />
        <result property="telok" column="telok" />
        <result property="email" column="email" />
        <result property="emailok" column="emailok" />
        <result property="properties.jsonStr" column="props" />
        <result property="depth" column="depth" />
        <result property="uId" column="uid" />
        <result property="gId" column="gid" />
        <result property="zoneId" column="zone" />
        <result property="orgId" column="org" />
        <result property="parentId" column="parent" />
        <association property="org" columnPrefix="org_"
            javaType="net.bodz.lily.contact.Organization" 
            resultMap="net.bodz.lily.contact.dao.OrganizationMapper.objlist_map" />
        <association property="g" columnPrefix="gid_"
            javaType="net.bodz.lily.security.Group" 
            resultMap="net.bodz.lily.security.dao.GroupMapper.objlist_map" />
        <association property="parent" columnPrefix="parent_"
            javaType="net.bodz.lily.contact.OrgUnit" 
            resultMap="objlist_map" />
        <association property="u" columnPrefix="uid_"
            javaType="net.bodz.lily.security.User" 
            resultMap="net.bodz.lily.security.dao.UserMapper.objlist_map" />
        <association property="zone" columnPrefix="zone_"
            javaType="net.bodz.lily.geo.Zone" 
            resultMap="net.bodz.lily.geo.dao.ZoneMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.label, 
            a.description, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.alias, 
            a.ctprops, 
            a.address1, 
            a.address2, 
            a."zone", 
            a.tel, 
            a.telok, 
            a.email, 
            a.emailok, 
            a.props, 
            a.org, 
            a.parent, 
            a."depth", 
            org.id org_id, 
            org.uid org_uid, 
            org.gid org_gid, 
            org.mode org_mode, 
            org.acl org_acl, 
            org.label org_label, 
            org.description org_description, 
            org.priority org_priority, 
            org.flags org_flags, 
            org."state" org_state, 
            org.creation org_creation, 
            org.lastmod org_lastmod, 
            org."version" org_version, 
            org.alias org_alias, 
            org.ctprops org_ctprops, 
            org.address1 org_address1, 
            org.address2 org_address2, 
            org."zone" org_zone, 
            org.tel org_tel, 
            org.telok org_telok, 
            org.email org_email, 
            org.emailok org_emailok, 
            org.props org_props, 
            org.cat org_cat, 
            org.birthday org_birthday, 
            org.locale org_locale, 
            org.timezone org_timezone, 
            org.nrole org_nrole, 
            org.supplier org_supplier, 
            org.customer org_customer, 
            org.subject org_subject, 
            org.nbank org_nbank, 
            org."size" org_size, 
            org.taxid org_taxid, 
            gid.id gid_id, 
            gid."name" gid_name, 
            gid."type" gid_type, 
            gid.label gid_label, 
            gid.description gid_description, 
            gid.priority gid_priority, 
            gid.flags gid_flags, 
            gid."state" gid_state, 
            gid.creation gid_creation, 
            gid.lastmod gid_lastmod, 
            gid."version" gid_version, 
            gid.props gid_props, 
            gid.parent gid_parent, 
            parent.id parent_id, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.alias parent_alias, 
            parent.ctprops parent_ctprops, 
            parent.address1 parent_address1, 
            parent.address2 parent_address2, 
            parent."zone" parent_zone, 
            parent.tel parent_tel, 
            parent.telok parent_telok, 
            parent.email parent_email, 
            parent.emailok parent_emailok, 
            parent.props parent_props, 
            parent.org parent_org, 
            parent.parent parent_parent, 
            parent."depth" parent_depth, 
            uid.id uid_id, 
            uid."type" uid_type, 
            uid."name" uid_name, 
            uid.label uid_label, 
            uid.description uid_description, 
            uid.priority uid_priority, 
            uid.flags uid_flags, 
            uid."state" uid_state, 
            uid.creation uid_creation, 
            uid.lastmod uid_lastmod, 
            uid."version" uid_version, 
            uid.props uid_props, 
            uid.gid0 uid_gid0, 
            uid.referer uid_referer, 
            uid.person uid_person, 
            "zone".id zone_id, 
            "zone".code zone_code, 
            "zone".uid zone_uid, 
            "zone".gid zone_gid, 
            "zone".mode zone_mode, 
            "zone".acl zone_acl, 
            "zone".label zone_label, 
            "zone".description zone_description, 
            "zone".priority zone_priority, 
            "zone".flags zone_flags, 
            "zone"."state" zone_state, 
            "zone".creation zone_creation, 
            "zone".lastmod zone_lastmod, 
            "zone"."version" zone_version, 
            "zone".cat zone_cat, 
            "zone".country zone_country, 
            "zone".parent zone_parent, 
            "zone"."depth" zone_depth, 
            "zone".telcode zone_telcode, 
            "zone".postcode zone_postcode, 
            "zone".props zone_props, 
            "zone"."data" zone_data
        from orgunit a
            left join org org on a.org = org.id
            left join "group" gid on a.gid = gid.id
            left join orgunit parent on a.parent = parent.id
            left join "user" uid on a.uid = uid.id
            left join "zone" "zone" on a."zone" = "zone".id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.label, 
            a.description, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.alias, 
            a.ctprops, 
            a.address1, 
            a.address2, 
            a."zone", 
            a.tel, 
            a.telok, 
            a.email, 
            a.emailok, 
            a.props, 
            a.org, 
            a.parent, 
            a."depth", 
            org.id org_id, 
            org.uid org_uid, 
            org.gid org_gid, 
            org.mode org_mode, 
            org.acl org_acl, 
            org.label org_label, 
            org.description org_description, 
            org.priority org_priority, 
            org.flags org_flags, 
            org."state" org_state, 
            org.creation org_creation, 
            org.lastmod org_lastmod, 
            org."version" org_version, 
            org.alias org_alias, 
            org.ctprops org_ctprops, 
            org.address1 org_address1, 
            org.address2 org_address2, 
            org."zone" org_zone, 
            org.tel org_tel, 
            org.telok org_telok, 
            org.email org_email, 
            org.emailok org_emailok, 
            org.props org_props, 
            org.cat org_cat, 
            org.birthday org_birthday, 
            org.locale org_locale, 
            org.timezone org_timezone, 
            org.nrole org_nrole, 
            org.supplier org_supplier, 
            org.customer org_customer, 
            org.subject org_subject, 
            org.nbank org_nbank, 
            org."size" org_size, 
            org.taxid org_taxid, 
            gid.id gid_id, 
            gid."name" gid_name, 
            gid."type" gid_type, 
            gid.label gid_label, 
            gid.description gid_description, 
            gid.priority gid_priority, 
            gid.flags gid_flags, 
            gid."state" gid_state, 
            gid.creation gid_creation, 
            gid.lastmod gid_lastmod, 
            gid."version" gid_version, 
            gid.props gid_props, 
            gid.parent gid_parent, 
            parent.id parent_id, 
            parent.uid parent_uid, 
            parent.gid parent_gid, 
            parent.mode parent_mode, 
            parent.acl parent_acl, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.alias parent_alias, 
            parent.ctprops parent_ctprops, 
            parent.address1 parent_address1, 
            parent.address2 parent_address2, 
            parent."zone" parent_zone, 
            parent.tel parent_tel, 
            parent.telok parent_telok, 
            parent.email parent_email, 
            parent.emailok parent_emailok, 
            parent.props parent_props, 
            parent.org parent_org, 
            parent.parent parent_parent, 
            parent."depth" parent_depth, 
            uid.id uid_id, 
            uid."type" uid_type, 
            uid."name" uid_name, 
            uid.label uid_label, 
            uid.description uid_description, 
            uid.priority uid_priority, 
            uid.flags uid_flags, 
            uid."state" uid_state, 
            uid.creation uid_creation, 
            uid.lastmod uid_lastmod, 
            uid."version" uid_version, 
            uid.props uid_props, 
            uid.gid0 uid_gid0, 
            uid.referer uid_referer, 
            uid.person uid_person, 
            "zone".id zone_id, 
            "zone".code zone_code, 
            "zone".uid zone_uid, 
            "zone".gid zone_gid, 
            "zone".mode zone_mode, 
            "zone".acl zone_acl, 
            "zone".label zone_label, 
            "zone".description zone_description, 
            "zone".priority zone_priority, 
            "zone".flags zone_flags, 
            "zone"."state" zone_state, 
            "zone".creation zone_creation, 
            "zone".lastmod zone_lastmod, 
            "zone"."version" zone_version, 
            "zone".cat zone_cat, 
            "zone".country zone_country, 
            "zone".parent zone_parent, 
            "zone"."depth" zone_depth, 
            "zone".telcode zone_telcode, 
            "zone".postcode zone_postcode, 
            "zone".props zone_props, 
            "zone"."data" zone_data
        from orgunit a
            left join org org on a.org = org.id
            left join "group" gid on a.gid = gid.id
            left join orgunit parent on a.parent = parent.id
            left join "user" uid on a.uid = uid.id
            left join "zone" "zone" on a."zone" = "zone".id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="m.id != null">and a.id = #{m.id}</if>
        <if test="m.idRange!= null">
            <if test="m.idRange.hasStartIncl">and a.id >= #{m.idRange.start}</if>
            <if test="m.idRange.hasStartExcl">and a.id > #{m.idRange.start}</if>
            <if test="m.idRange.hasEndIncl">and a.id &lt;= #{m.idRange.end}</if>
            <if test="m.idRange.hasEndExcl">and a.id &lt; #{m.idRange.end}</if>
        </if>
        <if test="m.uId != null">and a.uid = #{m.uId}</if>
        <if test="m.uIdRange!= null">
            <if test="m.uIdRange.hasStartIncl">and a.uid >= #{m.uIdRange.start}</if>
            <if test="m.uIdRange.hasStartExcl">and a.uid > #{m.uIdRange.start}</if>
            <if test="m.uIdRange.hasEndIncl">and a.uid &lt;= #{m.uIdRange.end}</if>
            <if test="m.uIdRange.hasEndExcl">and a.uid &lt; #{m.uIdRange.end}</if>
        </if>
        <if test="m.gId != null">and a.gid = #{m.gId}</if>
        <if test="m.gIdRange!= null">
            <if test="m.gIdRange.hasStartIncl">and a.gid >= #{m.gIdRange.start}</if>
            <if test="m.gIdRange.hasStartExcl">and a.gid > #{m.gIdRange.start}</if>
            <if test="m.gIdRange.hasEndIncl">and a.gid &lt;= #{m.gIdRange.end}</if>
            <if test="m.gIdRange.hasEndExcl">and a.gid &lt; #{m.gIdRange.end}</if>
        </if>
        <if test="m.mode != null">and a.mode = #{m.mode}</if>
        <if test="m.modeRange!= null">
            <if test="m.modeRange.hasStartIncl">and a.mode >= #{m.modeRange.start}</if>
            <if test="m.modeRange.hasStartExcl">and a.mode > #{m.modeRange.start}</if>
            <if test="m.modeRange.hasEndIncl">and a.mode &lt;= #{m.modeRange.end}</if>
            <if test="m.modeRange.hasEndExcl">and a.mode &lt; #{m.modeRange.end}</if>
        </if>
        <if test="m.acl != null">and a.acl = #{m.acl}</if>
        <if test="m.aclRange!= null">
            <if test="m.aclRange.hasStartIncl">and a.acl >= #{m.aclRange.start}</if>
            <if test="m.aclRange.hasStartExcl">and a.acl > #{m.aclRange.start}</if>
            <if test="m.aclRange.hasEndIncl">and a.acl &lt;= #{m.aclRange.end}</if>
            <if test="m.aclRange.hasEndExcl">and a.acl &lt; #{m.aclRange.end}</if>
        </if>
        <if test="m.label != null">and a.label = #{m.label}</if>
        <if test="m.labelPattern != null">and a.label like '${m.labelPattern}'</if>
        <if test="m.description != null">and a.description = #{m.description}</if>
        <if test="m.descriptionPattern != null">and a.description like '${m.descriptionPattern}'</if>
        <if test="m.priority != null">and a.priority = #{m.priority}</if>
        <if test="m.priorityRange!= null">
            <if test="m.priorityRange.hasStartIncl">and a.priority >= #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasStartExcl">and a.priority > #{m.priorityRange.start}</if>
            <if test="m.priorityRange.hasEndIncl">and a.priority &lt;= #{m.priorityRange.end}</if>
            <if test="m.priorityRange.hasEndExcl">and a.priority &lt; #{m.priorityRange.end}</if>
        </if>
        <if test="m.flags != null">and a.flags = #{m.flags}</if>
        <if test="m.flagsRange!= null">
            <if test="m.flagsRange.hasStartIncl">and a.flags >= #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasStartExcl">and a.flags > #{m.flagsRange.start}</if>
            <if test="m.flagsRange.hasEndIncl">and a.flags &lt;= #{m.flagsRange.end}</if>
            <if test="m.flagsRange.hasEndExcl">and a.flags &lt; #{m.flagsRange.end}</if>
        </if>
        <if test="m.state != null">and a."state" = #{m.state}</if>
        <if test="m.stateRange!= null">
            <if test="m.stateRange.hasStartIncl">and a."state" >= #{m.stateRange.start}</if>
            <if test="m.stateRange.hasStartExcl">and a."state" > #{m.stateRange.start}</if>
            <if test="m.stateRange.hasEndIncl">and a."state" &lt;= #{m.stateRange.end}</if>
            <if test="m.stateRange.hasEndExcl">and a."state" &lt; #{m.stateRange.end}</if>
        </if>
        <if test="m.creationDate != null">and a.creation = #{m.creationDate}</if>
        <if test="m.lastModifiedDate != null">and a.lastmod = #{m.lastModifiedDate}</if>
        <if test="m.version != null">and a."version" = #{m.version}</if>
        <if test="m.versionRange!= null">
            <if test="m.versionRange.hasStartIncl">and a."version" >= #{m.versionRange.start}</if>
            <if test="m.versionRange.hasStartExcl">and a."version" > #{m.versionRange.start}</if>
            <if test="m.versionRange.hasEndIncl">and a."version" &lt;= #{m.versionRange.end}</if>
            <if test="m.versionRange.hasEndExcl">and a."version" &lt; #{m.versionRange.end}</if>
        </if>
        <if test="m.alias != null">and a.alias = #{m.alias}</if>
        <if test="m.aliasPattern != null">and a.alias like '${m.aliasPattern}'</if>
        <if test="m.ctprops != null">and a.ctprops = #{m.ctprops}</if>
        <if test="m.address1 != null">and a.address1 = #{m.address1}</if>
        <if test="m.address1Pattern != null">and a.address1 like '${m.address1Pattern}'</if>
        <if test="m.address2 != null">and a.address2 = #{m.address2}</if>
        <if test="m.address2Pattern != null">and a.address2 like '${m.address2Pattern}'</if>
        <if test="m.zoneId != null">and a."zone" = #{m.zoneId}</if>
        <if test="m.zoneIdRange!= null">
            <if test="m.zoneIdRange.hasStartIncl">and a."zone" >= #{m.zoneIdRange.start}</if>
            <if test="m.zoneIdRange.hasStartExcl">and a."zone" > #{m.zoneIdRange.start}</if>
            <if test="m.zoneIdRange.hasEndIncl">and a."zone" &lt;= #{m.zoneIdRange.end}</if>
            <if test="m.zoneIdRange.hasEndExcl">and a."zone" &lt; #{m.zoneIdRange.end}</if>
        </if>
        <if test="m.tel != null">and a.tel = #{m.tel}</if>
        <if test="m.telPattern != null">and a.tel like '${m.telPattern}'</if>
        <if test="m.telok != null">and a.telok = #{m.telok}</if>
        <if test="m.email != null">and a.email = #{m.email}</if>
        <if test="m.emailPattern != null">and a.email like '${m.emailPattern}'</if>
        <if test="m.emailok != null">and a.emailok = #{m.emailok}</if>
        <if test="m.properties != null">and a.props = #{m.properties}</if>
        <if test="m.orgId != null">and a.org = #{m.orgId}</if>
        <if test="m.orgIdRange!= null">
            <if test="m.orgIdRange.hasStartIncl">and a.org >= #{m.orgIdRange.start}</if>
            <if test="m.orgIdRange.hasStartExcl">and a.org > #{m.orgIdRange.start}</if>
            <if test="m.orgIdRange.hasEndIncl">and a.org &lt;= #{m.orgIdRange.end}</if>
            <if test="m.orgIdRange.hasEndExcl">and a.org &lt; #{m.orgIdRange.end}</if>
        </if>
        <if test="m.parentId != null">and a.parent = #{m.parentId}</if>
        <if test="m.parentIdRange!= null">
            <if test="m.parentIdRange.hasStartIncl">and a.parent >= #{m.parentIdRange.start}</if>
            <if test="m.parentIdRange.hasStartExcl">and a.parent > #{m.parentIdRange.start}</if>
            <if test="m.parentIdRange.hasEndIncl">and a.parent &lt;= #{m.parentIdRange.end}</if>
            <if test="m.parentIdRange.hasEndExcl">and a.parent &lt; #{m.parentIdRange.end}</if>
        </if>
        <if test="m.depth != null">and a."depth" = #{m.depth}</if>
        <if test="m.depthRange!= null">
            <if test="m.depthRange.hasStartIncl">and a."depth" >= #{m.depthRange.start}</if>
            <if test="m.depthRange.hasStartExcl">and a."depth" > #{m.depthRange.start}</if>
            <if test="m.depthRange.hasEndIncl">and a."depth" &lt;= #{m.depthRange.end}</if>
            <if test="m.depthRange.hasEndExcl">and a."depth" &lt; #{m.depthRange.end}</if>
        </if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into orgunit(
            uid,
            gid,
            mode,
            acl,
            label,
            description,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            alias,
            ctprops,
            address1,
            address2,
            "zone",
            tel,
            telok,
            email,
            emailok,
            props,
            org,
            parent,
            "depth"
        ) values(
            #{uId},
            #{gId},
            #{mode},
            #{acl},
            #{label},
            #{description},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{alias},
            #{ctprops.jsonStr}::jsonb,
            #{address1},
            #{address2},
            #{zoneId},
            #{tel},
            #{telok},
            #{email},
            #{emailok},
            #{properties.jsonStr}::jsonb,
            #{orgId},
            #{parentId},
            #{depth}
        );
    ]]></insert>

    <update id="update">
        update orgunit
        <set>
            uid = #{uId},
            gid = #{gId},
            mode = #{mode},
            acl = #{acl},
            label = #{label},
            description = #{description},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            alias = #{alias},
            ctprops = #{ctprops.jsonStr}::jsonb,
            address1 = #{address1},
            address2 = #{address2},
            "zone" = #{zoneId},
            tel = #{tel},
            telok = #{telok},
            email = #{email},
            emailok = #{emailok},
            props = #{properties.jsonStr}::jsonb,
            org = #{orgId},
            parent = #{parentId},
            "depth" = #{depth},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from orgunit
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from orgunit
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

    <update id="delete_xrefs">
        alter table lily.orgunit drop constraint orgunit_parent_fkey;
        alter table lily.personrole drop constraint personrole_ou_fkey;
        alter table violet.asset drop constraint asset_o_orgunit_fkey;
        alter table violet.asset_ou drop constraint asset_ou_owner_fkey;
        alter table violet.fabtrack drop constraint fabtrack_ou_fkey;
        alter table violet.storeodr drop constraint storeodr_ou_fkey;
    </update>

    <update id="create_xrefs">
        alter table lily.orgunit
            add constraint orgunit_parent_fkey foreign key (parent)
            references lily.orgunit (id)
            on update cascade
            on delete cascade
            ;
        alter table lily.personrole
            add constraint personrole_ou_fkey foreign key (ou)
            references lily.orgunit (id)
            on update cascade
            on delete cascade
            ;
        alter table violet.asset
            add constraint asset_o_orgunit_fkey foreign key (o_orgunit)
            references lily.orgunit (id)
            on update cascade
            ;
        alter table violet.asset_ou
            add constraint asset_ou_owner_fkey foreign key (owner)
            references lily.orgunit (id)
            on update cascade
            on delete cascade
            ;
        alter table violet.fabtrack
            add constraint fabtrack_ou_fkey foreign key (ou)
            references lily.orgunit (id)
            on update cascade
            on delete cascade
            ;
        alter table violet.storeodr
            add constraint storeodr_ou_fkey foreign key (ou)
            references lily.orgunit (id)
            on update cascade
            ;
    </update>

</mapper>
