<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.contact.dao.PersonRoleMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.contact.PersonRole">
        <id property="id" column="id" />
        <result property="role" column="role" />
        <result property="description" column="description" />
        <result property="orgId" column="org" />
        <result property="orgUnitId" column="ou" />
        <result property="personId" column="person" />
        <association property="orgUnit" columnPrefix="ou_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.OrgUnit" 
            resultMap="net.bodz.lily.schema.contact.dao.OrgUnitMapper.objlist_map" />
        <association property="person" columnPrefix="person_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Person" 
            resultMap="net.bodz.lily.schema.contact.dao.PersonMapper.objlist_map" />
        <association property="org" columnPrefix="org_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Organization" 
            resultMap="net.bodz.lily.schema.contact.dao.OrganizationMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.org, 
            a.ou, 
            a.person, 
            a."role", 
            a.description, 
            ou.id ou_id, 
            ou.uid ou_uid, 
            ou.gid ou_gid, 
            ou.mode ou_mode, 
            ou.acl ou_acl, 
            ou.label ou_label, 
            ou.description ou_description, 
            ou.icon ou_icon, 
            ou.priority ou_priority, 
            ou.flags ou_flags, 
            ou."state" ou_state, 
            ou.creation ou_creation, 
            ou.lastmod ou_lastmod, 
            ou."version" ou_version, 
            ou.alias ou_alias, 
            ou.ctprops ou_ctprops, 
            ou.address1 ou_address1, 
            ou.address2 ou_address2, 
            ou."zone" ou_zone, 
            ou.tel ou_tel, 
            ou.telok ou_telok, 
            ou.email ou_email, 
            ou.emailok ou_emailok, 
            ou.props ou_props, 
            ou.files ou_files, 
            ou.org ou_org, 
            ou.parent ou_parent, 
            ou."depth" ou_depth, 
            person.id person_id, 
            person.uid person_uid, 
            person.gid person_gid, 
            person.mode person_mode, 
            person.acl person_acl, 
            person.label person_label, 
            person.description person_description, 
            person.icon person_icon, 
            person.priority person_priority, 
            person.flags person_flags, 
            person."state" person_state, 
            person.creation person_creation, 
            person.lastmod person_lastmod, 
            person."version" person_version, 
            person.alias person_alias, 
            person.ctprops person_ctprops, 
            person.address1 person_address1, 
            person.address2 person_address2, 
            person."zone" person_zone, 
            person.tel person_tel, 
            person.telok person_telok, 
            person.email person_email, 
            person.emailok person_emailok, 
            person.props person_props, 
            person.files person_files, 
            person.cat person_cat, 
            person.birthday person_birthday, 
            person.father person_father, 
            person.mother person_mother, 
            person.locale person_locale, 
            person.timezone person_timezone, 
            person.nrole person_nrole, 
            person.customer person_customer, 
            person.supplier person_supplier, 
            person.employee person_employee, 
            person.subject person_subject, 
            person.nbank person_nbank, 
            person.gender person_gender, 
            person.pronoun person_pronoun, 
            person.sexual_orient person_sexual_orient, 
            person.homeland person_homeland, 
            person.passport person_passport, 
            person.ssn person_ssn, 
            person.dln person_dln, 
            org.id org_id, 
            org.uid org_uid, 
            org.gid org_gid, 
            org.mode org_mode, 
            org.acl org_acl, 
            org.label org_label, 
            org.description org_description, 
            org.icon org_icon, 
            org.priority org_priority, 
            org.flags org_flags, 
            org."state" org_state, 
            org.creation org_creation, 
            org.lastmod org_lastmod, 
            org."version" org_version, 
            org.alias org_alias, 
            org.ctprops org_ctprops, 
            org.address1 org_address1, 
            org.address2 org_address2, 
            org."zone" org_zone, 
            org.tel org_tel, 
            org.telok org_telok, 
            org.email org_email, 
            org.emailok org_emailok, 
            org.props org_props, 
            org.files org_files, 
            org.cat org_cat, 
            org.birthday org_birthday, 
            org.locale org_locale, 
            org.timezone org_timezone, 
            org.nrole org_nrole, 
            org.supplier org_supplier, 
            org.customer org_customer, 
            org.subject org_subject, 
            org.nbank org_nbank, 
            org."size" org_size, 
            org.taxid org_taxid
        from personrole a
            left join orgunit ou on a.ou = ou.id
            left join person person on a.person = person.id
            left join org org on a.org = org.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.org, 
            a.ou, 
            a.person, 
            a."role", 
            a.description, 
            ou.id ou_id, 
            ou.uid ou_uid, 
            ou.gid ou_gid, 
            ou.mode ou_mode, 
            ou.acl ou_acl, 
            ou.label ou_label, 
            ou.description ou_description, 
            ou.icon ou_icon, 
            ou.priority ou_priority, 
            ou.flags ou_flags, 
            ou."state" ou_state, 
            ou.creation ou_creation, 
            ou.lastmod ou_lastmod, 
            ou."version" ou_version, 
            ou.alias ou_alias, 
            ou.ctprops ou_ctprops, 
            ou.address1 ou_address1, 
            ou.address2 ou_address2, 
            ou."zone" ou_zone, 
            ou.tel ou_tel, 
            ou.telok ou_telok, 
            ou.email ou_email, 
            ou.emailok ou_emailok, 
            ou.props ou_props, 
            ou.files ou_files, 
            ou.org ou_org, 
            ou.parent ou_parent, 
            ou."depth" ou_depth, 
            person.id person_id, 
            person.uid person_uid, 
            person.gid person_gid, 
            person.mode person_mode, 
            person.acl person_acl, 
            person.label person_label, 
            person.description person_description, 
            person.icon person_icon, 
            person.priority person_priority, 
            person.flags person_flags, 
            person."state" person_state, 
            person.creation person_creation, 
            person.lastmod person_lastmod, 
            person."version" person_version, 
            person.alias person_alias, 
            person.ctprops person_ctprops, 
            person.address1 person_address1, 
            person.address2 person_address2, 
            person."zone" person_zone, 
            person.tel person_tel, 
            person.telok person_telok, 
            person.email person_email, 
            person.emailok person_emailok, 
            person.props person_props, 
            person.files person_files, 
            person.cat person_cat, 
            person.birthday person_birthday, 
            person.father person_father, 
            person.mother person_mother, 
            person.locale person_locale, 
            person.timezone person_timezone, 
            person.nrole person_nrole, 
            person.customer person_customer, 
            person.supplier person_supplier, 
            person.employee person_employee, 
            person.subject person_subject, 
            person.nbank person_nbank, 
            person.gender person_gender, 
            person.pronoun person_pronoun, 
            person.sexual_orient person_sexual_orient, 
            person.homeland person_homeland, 
            person.passport person_passport, 
            person.ssn person_ssn, 
            person.dln person_dln, 
            org.id org_id, 
            org.uid org_uid, 
            org.gid org_gid, 
            org.mode org_mode, 
            org.acl org_acl, 
            org.label org_label, 
            org.description org_description, 
            org.icon org_icon, 
            org.priority org_priority, 
            org.flags org_flags, 
            org."state" org_state, 
            org.creation org_creation, 
            org.lastmod org_lastmod, 
            org."version" org_version, 
            org.alias org_alias, 
            org.ctprops org_ctprops, 
            org.address1 org_address1, 
            org.address2 org_address2, 
            org."zone" org_zone, 
            org.tel org_tel, 
            org.telok org_telok, 
            org.email org_email, 
            org.emailok org_emailok, 
            org.props org_props, 
            org.files org_files, 
            org.cat org_cat, 
            org.birthday org_birthday, 
            org.locale org_locale, 
            org.timezone org_timezone, 
            org.nrole org_nrole, 
            org.supplier org_supplier, 
            org.customer org_customer, 
            org.subject org_subject, 
            org.nbank org_nbank, 
            org."size" org_size, 
            org.taxid org_taxid
        from personrole a
            left join orgunit ou on a.ou = ou.id
            left join person person on a.person = person.id
            left join org org on a.org = org.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into personrole(
            org,
            ou,
            person,
            "role",
            description
        ) values(
            #{orgId},
            #{orgUnitId},
            #{personId},
            #{role},
            #{description}
        );
    ]]></insert>

    <update id="update">
        update personrole
        <set>
            org = #{orgId},
            ou = #{orgUnitId},
            person = #{personId},
            "role" = #{role},
            description = #{description},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from personrole
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from personrole a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
