<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.contact.dao.PersonMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.contact.Person">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="contact.rename" column="alias" />
        <result property="contact.properties" column="ctprops" />
        <result property="contact.address1" column="address1" />
        <result property="contact.address2" column="address2" />
        <result property="contact.tel" column="tel" />
        <result property="contact.telValidated" column="telok" />
        <result property="contact.email" column="email" />
        <result property="contact.emailValidated" column="emailok" />
        <result property="properties" column="props" />
        <result property="files" column="files" />
        <result property="birthday" column="birthday" />
        <result property="langTag" column="locale" />
        <result property="timeZone" column="timezone" />
        <result property="roleCount" column="nrole" />
        <result property="customer" column="customer" />
        <result property="supplier" column="supplier" />
        <result property="employee" column="employee" />
        <result property="subject" column="subject" />
        <result property="bankCount" column="nbank" />
        <result property="gender" column="gender" />
        <result property="pronoun" column="pronoun" />
        <result property="sexualOrientation" column="sexual_orient" />
        <result property="homeland" column="homeland" />
        <result property="passport" column="passport" />
        <result property="ssn" column="ssn" />
        <result property="dln" column="dln" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="contact.zoneId" column="zone" />
        <result property="categoryId" column="cat" />
        <result property="fatherId" column="father" />
        <result property="motherId" column="mother" />
        <association property="mother" columnPrefix="mother_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Person" 
            resultMap="objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="father" columnPrefix="father_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Person" 
            resultMap="objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="category" columnPrefix="category_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.PartyCategory" 
            resultMap="net.bodz.lily.schema.contact.dao.PartyCategoryMapper.objlist_map" />
        <association property="contact.zone" columnPrefix="zone_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.geo.Zone" 
            resultMap="net.bodz.lily.schema.geo.dao.ZoneMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.alias, 
            a.ctprops, 
            a.address1, 
            a.address2, 
            a."zone", 
            a.tel, 
            a.telok, 
            a.email, 
            a.emailok, 
            a.props, 
            a.files, 
            a.cat, 
            a.birthday, 
            a.father, 
            a.mother, 
            a.locale, 
            a.timezone, 
            a.nrole, 
            a.customer, 
            a.supplier, 
            a.employee, 
            a.subject, 
            a.nbank, 
            a.gender, 
            a.pronoun, 
            a.sexual_orient, 
            a.homeland, 
            a.passport, 
            a.ssn, 
            a.dln, 
            mother.id mother_id, 
            mother.uid mother_uid, 
            mother.gid mother_gid, 
            mother.mode mother_mode, 
            mother.acl mother_acl, 
            mother.label mother_label, 
            mother.description mother_description, 
            mother.icon mother_icon, 
            mother.priority mother_priority, 
            mother.flags mother_flags, 
            mother."state" mother_state, 
            mother.creation mother_creation, 
            mother.lastmod mother_lastmod, 
            mother."version" mother_version, 
            mother.alias mother_alias, 
            mother.ctprops mother_ctprops, 
            mother.address1 mother_address1, 
            mother.address2 mother_address2, 
            mother."zone" mother_zone, 
            mother.tel mother_tel, 
            mother.telok mother_telok, 
            mother.email mother_email, 
            mother.emailok mother_emailok, 
            mother.props mother_props, 
            mother.files mother_files, 
            mother.cat mother_cat, 
            mother.birthday mother_birthday, 
            mother.father mother_father, 
            mother.mother mother_mother, 
            mother.locale mother_locale, 
            mother.timezone mother_timezone, 
            mother.nrole mother_nrole, 
            mother.customer mother_customer, 
            mother.supplier mother_supplier, 
            mother.employee mother_employee, 
            mother.subject mother_subject, 
            mother.nbank mother_nbank, 
            mother.gender mother_gender, 
            mother.pronoun mother_pronoun, 
            mother.sexual_orient mother_sexual_orient, 
            mother.homeland mother_homeland, 
            mother.passport mother_passport, 
            mother.ssn mother_ssn, 
            mother.dln mother_dln, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.files ownerGroup_files, 
            ownerGroup.parent ownerGroup_parent, 
            father.id father_id, 
            father.uid father_uid, 
            father.gid father_gid, 
            father.mode father_mode, 
            father.acl father_acl, 
            father.label father_label, 
            father.description father_description, 
            father.icon father_icon, 
            father.priority father_priority, 
            father.flags father_flags, 
            father."state" father_state, 
            father.creation father_creation, 
            father.lastmod father_lastmod, 
            father."version" father_version, 
            father.alias father_alias, 
            father.ctprops father_ctprops, 
            father.address1 father_address1, 
            father.address2 father_address2, 
            father."zone" father_zone, 
            father.tel father_tel, 
            father.telok father_telok, 
            father.email father_email, 
            father.emailok father_emailok, 
            father.props father_props, 
            father.files father_files, 
            father.cat father_cat, 
            father.birthday father_birthday, 
            father.father father_father, 
            father.mother father_mother, 
            father.locale father_locale, 
            father.timezone father_timezone, 
            father.nrole father_nrole, 
            father.customer father_customer, 
            father.supplier father_supplier, 
            father.employee father_employee, 
            father.subject father_subject, 
            father.nbank father_nbank, 
            father.gender father_gender, 
            father.pronoun father_pronoun, 
            father.sexual_orient father_sexual_orient, 
            father.homeland father_homeland, 
            father.passport father_passport, 
            father.ssn father_ssn, 
            father.dln father_dln, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.files ownerUser_files, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.files category_files, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref, 
            "zone".id zone_id, 
            "zone".code zone_code, 
            "zone".uid zone_uid, 
            "zone".gid zone_gid, 
            "zone".mode zone_mode, 
            "zone".acl zone_acl, 
            "zone".label zone_label, 
            "zone".description zone_description, 
            "zone".icon zone_icon, 
            "zone".priority zone_priority, 
            "zone".flags zone_flags, 
            "zone"."state" zone_state, 
            "zone".creation zone_creation, 
            "zone".lastmod zone_lastmod, 
            "zone"."version" zone_version, 
            "zone".cat zone_cat, 
            "zone".country zone_country, 
            "zone".parent zone_parent, 
            "zone"."depth" zone_depth, 
            "zone".telcode zone_telcode, 
            "zone".postcode zone_postcode, 
            "zone".props zone_props, 
            "zone".files zone_files, 
            "zone"."data" zone_data
        from person a
            left join person mother on a.mother = mother.id
            left join "group" ownerGroup on a.gid = ownerGroup.id
            left join person father on a.father = father.id
            left join "user" ownerUser on a.uid = ownerUser.id
            left join partycat category on a.cat = category.id
            left join "zone" "zone" on a."zone" = "zone".id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.alias, 
            a.ctprops, 
            a.address1, 
            a.address2, 
            a."zone", 
            a.tel, 
            a.telok, 
            a.email, 
            a.emailok, 
            a.props, 
            a.files, 
            a.cat, 
            a.birthday, 
            a.father, 
            a.mother, 
            a.locale, 
            a.timezone, 
            a.nrole, 
            a.customer, 
            a.supplier, 
            a.employee, 
            a.subject, 
            a.nbank, 
            a.gender, 
            a.pronoun, 
            a.sexual_orient, 
            a.homeland, 
            a.passport, 
            a.ssn, 
            a.dln, 
            mother.id mother_id, 
            mother.uid mother_uid, 
            mother.gid mother_gid, 
            mother.mode mother_mode, 
            mother.acl mother_acl, 
            mother.label mother_label, 
            mother.description mother_description, 
            mother.icon mother_icon, 
            mother.priority mother_priority, 
            mother.flags mother_flags, 
            mother."state" mother_state, 
            mother.creation mother_creation, 
            mother.lastmod mother_lastmod, 
            mother."version" mother_version, 
            mother.alias mother_alias, 
            mother.ctprops mother_ctprops, 
            mother.address1 mother_address1, 
            mother.address2 mother_address2, 
            mother."zone" mother_zone, 
            mother.tel mother_tel, 
            mother.telok mother_telok, 
            mother.email mother_email, 
            mother.emailok mother_emailok, 
            mother.props mother_props, 
            mother.files mother_files, 
            mother.cat mother_cat, 
            mother.birthday mother_birthday, 
            mother.father mother_father, 
            mother.mother mother_mother, 
            mother.locale mother_locale, 
            mother.timezone mother_timezone, 
            mother.nrole mother_nrole, 
            mother.customer mother_customer, 
            mother.supplier mother_supplier, 
            mother.employee mother_employee, 
            mother.subject mother_subject, 
            mother.nbank mother_nbank, 
            mother.gender mother_gender, 
            mother.pronoun mother_pronoun, 
            mother.sexual_orient mother_sexual_orient, 
            mother.homeland mother_homeland, 
            mother.passport mother_passport, 
            mother.ssn mother_ssn, 
            mother.dln mother_dln, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.files ownerGroup_files, 
            ownerGroup.parent ownerGroup_parent, 
            father.id father_id, 
            father.uid father_uid, 
            father.gid father_gid, 
            father.mode father_mode, 
            father.acl father_acl, 
            father.label father_label, 
            father.description father_description, 
            father.icon father_icon, 
            father.priority father_priority, 
            father.flags father_flags, 
            father."state" father_state, 
            father.creation father_creation, 
            father.lastmod father_lastmod, 
            father."version" father_version, 
            father.alias father_alias, 
            father.ctprops father_ctprops, 
            father.address1 father_address1, 
            father.address2 father_address2, 
            father."zone" father_zone, 
            father.tel father_tel, 
            father.telok father_telok, 
            father.email father_email, 
            father.emailok father_emailok, 
            father.props father_props, 
            father.files father_files, 
            father.cat father_cat, 
            father.birthday father_birthday, 
            father.father father_father, 
            father.mother father_mother, 
            father.locale father_locale, 
            father.timezone father_timezone, 
            father.nrole father_nrole, 
            father.customer father_customer, 
            father.supplier father_supplier, 
            father.employee father_employee, 
            father.subject father_subject, 
            father.nbank father_nbank, 
            father.gender father_gender, 
            father.pronoun father_pronoun, 
            father.sexual_orient father_sexual_orient, 
            father.homeland father_homeland, 
            father.passport father_passport, 
            father.ssn father_ssn, 
            father.dln father_dln, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.files ownerUser_files, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.files category_files, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref, 
            "zone".id zone_id, 
            "zone".code zone_code, 
            "zone".uid zone_uid, 
            "zone".gid zone_gid, 
            "zone".mode zone_mode, 
            "zone".acl zone_acl, 
            "zone".label zone_label, 
            "zone".description zone_description, 
            "zone".icon zone_icon, 
            "zone".priority zone_priority, 
            "zone".flags zone_flags, 
            "zone"."state" zone_state, 
            "zone".creation zone_creation, 
            "zone".lastmod zone_lastmod, 
            "zone"."version" zone_version, 
            "zone".cat zone_cat, 
            "zone".country zone_country, 
            "zone".parent zone_parent, 
            "zone"."depth" zone_depth, 
            "zone".telcode zone_telcode, 
            "zone".postcode zone_postcode, 
            "zone".props zone_props, 
            "zone".files zone_files, 
            "zone"."data" zone_data
        from person a
            left join person mother on a.mother = mother.id
            left join "group" ownerGroup on a.gid = ownerGroup.id
            left join person father on a.father = father.id
            left join "user" ownerUser on a.uid = ownerUser.id
            left join partycat category on a.cat = category.id
            left join "zone" "zone" on a."zone" = "zone".id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into person(
            uid,
            gid,
            mode,
            acl,
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            alias,
            ctprops,
            address1,
            address2,
            "zone",
            tel,
            telok,
            email,
            emailok,
            props,
            files,
            cat,
            birthday,
            father,
            mother,
            locale,
            timezone,
            nrole,
            customer,
            supplier,
            employee,
            subject,
            nbank,
            gender,
            pronoun,
            sexual_orient,
            homeland,
            passport,
            ssn,
            dln
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{contact.rename},
            #{contact.properties},
            #{contact.address1},
            #{contact.address2},
            #{contact.zoneId},
            #{contact.tel},
            #{contact.telValidated},
            #{contact.email},
            #{contact.emailValidated},
            #{properties},
            #{files},
            #{categoryId},
            #{birthday},
            #{fatherId},
            #{motherId},
            #{langTag},
            #{timeZone},
            #{roleCount},
            #{customer},
            #{supplier},
            #{employee},
            #{subject},
            #{bankCount},
            #{gender},
            #{pronoun},
            #{sexualOrientation},
            #{homeland},
            #{passport},
            #{ssn},
            #{dln}
        );
    ]]></insert>

    <update id="update">
        update person
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            alias = #{contact.rename},
            ctprops = #{contact.properties},
            address1 = #{contact.address1},
            address2 = #{contact.address2},
            "zone" = #{contact.zoneId},
            tel = #{contact.tel},
            telok = #{contact.telValidated},
            email = #{contact.email},
            emailok = #{contact.emailValidated},
            props = #{properties},
            files = #{files},
            cat = #{categoryId},
            birthday = #{birthday},
            father = #{fatherId},
            mother = #{motherId},
            locale = #{langTag},
            timezone = #{timeZone},
            nrole = #{roleCount},
            customer = #{customer},
            supplier = #{supplier},
            employee = #{employee},
            subject = #{subject},
            nbank = #{bankCount},
            gender = #{gender},
            pronoun = #{pronoun},
            sexual_orient = #{sexualOrientation},
            homeland = #{homeland},
            passport = #{passport},
            ssn = #{ssn},
            dln = #{dln},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from person
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from person a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
