<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.meta.dao.CategoryDefMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.meta.CategoryDef">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="depth" column="depth" />
        <result property="properties" column="props" />
        <result property="refCount" column="nobj" />
        <result property="schemaId" column="schema" />
        <result property="parentId" column="parent" />
        <association property="schema" columnPrefix="schema_"
            javaType="net.bodz.lily.schema.meta.SchemaDef" 
            resultMap="net.bodz.lily.schema.meta.dao.SchemaDefMapper.objlist_map" />
        <association property="parent" columnPrefix="parent_"
            javaType="net.bodz.lily.schema.meta.CategoryDef" 
            resultMap="objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a."schema", 
            a.parent, 
            a."depth", 
            a.props, 
            a.nobj, 
            "schema".id schema_id, 
            "schema".code schema_code, 
            "schema".label schema_label, 
            "schema".description schema_description, 
            "schema".icon schema_icon, 
            "schema".priority schema_priority, 
            "schema".flags schema_flags, 
            "schema"."state" schema_state, 
            "schema".creation schema_creation, 
            "schema".lastmod schema_lastmod, 
            "schema"."version" schema_version, 
            "schema".dummy schema_dummy, 
            parent.id parent_id, 
            parent.code parent_code, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.icon parent_icon, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent."schema" parent_schema, 
            parent.parent parent_parent, 
            parent."depth" parent_depth, 
            parent.props parent_props, 
            parent.nobj parent_nobj
        from _cat a
            left join _schema "schema" on a."schema" = "schema".id
            left join _cat parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a."schema", 
            a.parent, 
            a."depth", 
            a.props, 
            a.nobj, 
            "schema".id schema_id, 
            "schema".code schema_code, 
            "schema".label schema_label, 
            "schema".description schema_description, 
            "schema".icon schema_icon, 
            "schema".priority schema_priority, 
            "schema".flags schema_flags, 
            "schema"."state" schema_state, 
            "schema".creation schema_creation, 
            "schema".lastmod schema_lastmod, 
            "schema"."version" schema_version, 
            "schema".dummy schema_dummy, 
            parent.id parent_id, 
            parent.code parent_code, 
            parent.label parent_label, 
            parent.description parent_description, 
            parent.icon parent_icon, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent."schema" parent_schema, 
            parent.parent parent_parent, 
            parent."depth" parent_depth, 
            parent.props parent_props, 
            parent.nobj parent_nobj
        from _cat a
            left join _schema "schema" on a."schema" = "schema".id
            left join _cat parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into _cat(
            code,
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            "schema",
            parent,
            "depth",
            props,
            nobj
        ) values(
            #{code},
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{schemaId},
            #{parentId},
            #{depth},
            #{properties},
            #{refCount}
        );
    ]]></insert>

    <update id="update">
        update _cat
        <set>
            code = #{code},
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            "schema" = #{schemaId},
            parent = #{parentId},
            "depth" = #{depth},
            props = #{properties},
            nobj = #{refCount},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from _cat
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from _cat a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
