<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.meta.dao.ParameterValueMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.meta.ParameterValue">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="val" column="val" />
        <result property="parameterId" column="parm" />
        <association property="parameter" columnPrefix="parm_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.meta.ParameterDef" 
            resultMap="net.bodz.lily.schema.meta.dao.ParameterDefMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.parm, 
            a.val, 
            parm.id parm_id, 
            parm.code parm_code, 
            parm.label parm_label, 
            parm.description parm_description, 
            parm.icon parm_icon, 
            parm.priority parm_priority, 
            parm.flags parm_flags, 
            parm."state" parm_state, 
            parm.creation parm_creation, 
            parm.lastmod parm_lastmod, 
            parm."version" parm_version, 
            parm."schema" parm_schema
        from _parmval a
            left join _parm parm on a.parm = parm.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.parm, 
            a.val, 
            parm.id parm_id, 
            parm.code parm_code, 
            parm.label parm_label, 
            parm.description parm_description, 
            parm.icon parm_icon, 
            parm.priority parm_priority, 
            parm.flags parm_flags, 
            parm."state" parm_state, 
            parm.creation parm_creation, 
            parm.lastmod parm_lastmod, 
            parm."version" parm_version, 
            parm."schema" parm_schema
        from _parmval a
            left join _parm parm on a.parm = parm.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into _parmval(
            code,
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            parm,
            val
        ) values(
            #{code},
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{parameterId},
            #{val}
        );
    ]]></insert>

    <update id="update">
        update _parmval
        <set>
            code = #{code},
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            parm = #{parameterId},
            val = #{val},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from _parmval
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from _parmval a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
