<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.meta.dao.TagDefMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.meta.TagDef">
        <id property="id" column="id" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="icon" column="icon" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="tagGroupId" column="tagv" />
        <association property="tagGroup" columnPrefix="tagv_"
            javaType="net.bodz.lily.schema.meta.TagGroupDef" 
            resultMap="net.bodz.lily.schema.meta.dao.TagGroupDefMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.tagv, 
            tagv.id tagv_id, 
            tagv.code tagv_code, 
            tagv.label tagv_label, 
            tagv.description tagv_description, 
            tagv.icon tagv_icon, 
            tagv.priority tagv_priority, 
            tagv.flags tagv_flags, 
            tagv."state" tagv_state, 
            tagv.creation tagv_creation, 
            tagv.lastmod tagv_lastmod, 
            tagv."version" tagv_version, 
            tagv."schema" tagv_schema, 
            tagv.topic tagv_topic, 
            tagv.reply tagv_reply
        from _tag a
            left join _tagv tagv on a.tagv = tagv.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.label, 
            a.description, 
            a.icon, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.tagv, 
            tagv.id tagv_id, 
            tagv.code tagv_code, 
            tagv.label tagv_label, 
            tagv.description tagv_description, 
            tagv.icon tagv_icon, 
            tagv.priority tagv_priority, 
            tagv.flags tagv_flags, 
            tagv."state" tagv_state, 
            tagv.creation tagv_creation, 
            tagv.lastmod tagv_lastmod, 
            tagv."version" tagv_version, 
            tagv."schema" tagv_schema, 
            tagv.topic tagv_topic, 
            tagv.reply tagv_reply
        from _tag a
            left join _tagv tagv on a.tagv = tagv.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into _tag(
            label,
            description,
            icon,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            tagv
        ) values(
            #{label},
            #{description},
            #{icon},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{tagGroupId}
        );
    ]]></insert>

    <update id="update">
        update _tag
        <set>
            label = #{label},
            description = #{description},
            icon = #{icon},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            tagv = #{tagGroupId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from _tag
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from _tag a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
