<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.asset.dao.AssetMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.asset.Asset">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="batch" column="batch" />
        <result property="quantity" column="qty" />
        <result property="serial" column="serial" />
        <result property="expire" column="expire" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="artifactId" column="art" />
        <result property="regionId" column="region" />
        <result property="userId" column="o_user" />
        <result property="groupId" column="o_group" />
        <result property="orgId" column="o_org" />
        <result property="orgUnitId" column="o_orgunit" />
        <result property="personId" column="o_person" />
        <association property="person" columnPrefix="o_person_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Person" 
            resultMap="net.bodz.lily.schema.contact.dao.PersonMapper.objlist_map" />
        <association property="group" columnPrefix="o_group_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="org" columnPrefix="o_org_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Organization" 
            resultMap="net.bodz.lily.schema.contact.dao.OrganizationMapper.objlist_map" />
        <association property="orgUnit" columnPrefix="o_orgunit_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.OrgUnit" 
            resultMap="net.bodz.lily.schema.contact.dao.OrgUnitMapper.objlist_map" />
        <association property="artifact" columnPrefix="art_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
        <association property="region" columnPrefix="region_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.store.Region" 
            resultMap="net.bodz.violet.schema.store.dao.RegionMapper.objlist_map" />
        <association property="user" columnPrefix="o_user_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            a.o_user, 
            a.o_group, 
            a.o_org, 
            a.o_orgunit, 
            a.o_person, 
            o_person.id o_person_id, 
            o_person.uid o_person_uid, 
            o_person.gid o_person_gid, 
            o_person.mode o_person_mode, 
            o_person.acl o_person_acl, 
            o_person.label o_person_label, 
            o_person.description o_person_description, 
            o_person.icon o_person_icon, 
            o_person.priority o_person_priority, 
            o_person.flags o_person_flags, 
            o_person."state" o_person_state, 
            o_person.creation o_person_creation, 
            o_person.lastmod o_person_lastmod, 
            o_person."version" o_person_version, 
            o_person.alias o_person_alias, 
            o_person.ctprops o_person_ctprops, 
            o_person.address1 o_person_address1, 
            o_person.address2 o_person_address2, 
            o_person."zone" o_person_zone, 
            o_person.tel o_person_tel, 
            o_person.telok o_person_telok, 
            o_person.email o_person_email, 
            o_person.emailok o_person_emailok, 
            o_person.props o_person_props, 
            o_person.cat o_person_cat, 
            o_person.birthday o_person_birthday, 
            o_person.father o_person_father, 
            o_person.mother o_person_mother, 
            o_person.locale o_person_locale, 
            o_person.timezone o_person_timezone, 
            o_person.nrole o_person_nrole, 
            o_person.customer o_person_customer, 
            o_person.supplier o_person_supplier, 
            o_person.employee o_person_employee, 
            o_person.subject o_person_subject, 
            o_person.nbank o_person_nbank, 
            o_person.gender o_person_gender, 
            o_person.pronoun o_person_pronoun, 
            o_person.sexual_orient o_person_sexual_orient, 
            o_person.homeland o_person_homeland, 
            o_person.passport o_person_passport, 
            o_person.ssn o_person_ssn, 
            o_person.dln o_person_dln, 
            o_group.id o_group_id, 
            o_group."name" o_group_name, 
            o_group."type" o_group_type, 
            o_group.label o_group_label, 
            o_group.description o_group_description, 
            o_group.icon o_group_icon, 
            o_group.priority o_group_priority, 
            o_group.flags o_group_flags, 
            o_group."state" o_group_state, 
            o_group.creation o_group_creation, 
            o_group.lastmod o_group_lastmod, 
            o_group."version" o_group_version, 
            o_group.props o_group_props, 
            o_group.parent o_group_parent, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            o_org.id o_org_id, 
            o_org.uid o_org_uid, 
            o_org.gid o_org_gid, 
            o_org.mode o_org_mode, 
            o_org.acl o_org_acl, 
            o_org.label o_org_label, 
            o_org.description o_org_description, 
            o_org.icon o_org_icon, 
            o_org.priority o_org_priority, 
            o_org.flags o_org_flags, 
            o_org."state" o_org_state, 
            o_org.creation o_org_creation, 
            o_org.lastmod o_org_lastmod, 
            o_org."version" o_org_version, 
            o_org.alias o_org_alias, 
            o_org.ctprops o_org_ctprops, 
            o_org.address1 o_org_address1, 
            o_org.address2 o_org_address2, 
            o_org."zone" o_org_zone, 
            o_org.tel o_org_tel, 
            o_org.telok o_org_telok, 
            o_org.email o_org_email, 
            o_org.emailok o_org_emailok, 
            o_org.props o_org_props, 
            o_org.cat o_org_cat, 
            o_org.birthday o_org_birthday, 
            o_org.locale o_org_locale, 
            o_org.timezone o_org_timezone, 
            o_org.nrole o_org_nrole, 
            o_org.supplier o_org_supplier, 
            o_org.customer o_org_customer, 
            o_org.subject o_org_subject, 
            o_org.nbank o_org_nbank, 
            o_org."size" o_org_size, 
            o_org.taxid o_org_taxid, 
            o_orgunit.id o_orgunit_id, 
            o_orgunit.uid o_orgunit_uid, 
            o_orgunit.gid o_orgunit_gid, 
            o_orgunit.mode o_orgunit_mode, 
            o_orgunit.acl o_orgunit_acl, 
            o_orgunit.label o_orgunit_label, 
            o_orgunit.description o_orgunit_description, 
            o_orgunit.icon o_orgunit_icon, 
            o_orgunit.priority o_orgunit_priority, 
            o_orgunit.flags o_orgunit_flags, 
            o_orgunit."state" o_orgunit_state, 
            o_orgunit.creation o_orgunit_creation, 
            o_orgunit.lastmod o_orgunit_lastmod, 
            o_orgunit."version" o_orgunit_version, 
            o_orgunit.alias o_orgunit_alias, 
            o_orgunit.ctprops o_orgunit_ctprops, 
            o_orgunit.address1 o_orgunit_address1, 
            o_orgunit.address2 o_orgunit_address2, 
            o_orgunit."zone" o_orgunit_zone, 
            o_orgunit.tel o_orgunit_tel, 
            o_orgunit.telok o_orgunit_telok, 
            o_orgunit.email o_orgunit_email, 
            o_orgunit.emailok o_orgunit_emailok, 
            o_orgunit.props o_orgunit_props, 
            o_orgunit.org o_orgunit_org, 
            o_orgunit.parent o_orgunit_parent, 
            o_orgunit."depth" o_orgunit_depth, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art."type" art_type, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.icon region_icon, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            o_user.id o_user_id, 
            o_user."type" o_user_type, 
            o_user."name" o_user_name, 
            o_user.label o_user_label, 
            o_user.description o_user_description, 
            o_user.icon o_user_icon, 
            o_user.priority o_user_priority, 
            o_user.flags o_user_flags, 
            o_user."state" o_user_state, 
            o_user.creation o_user_creation, 
            o_user.lastmod o_user_lastmod, 
            o_user."version" o_user_version, 
            o_user.props o_user_props, 
            o_user.gid0 o_user_gid0, 
            o_user.referer o_user_referer, 
            o_user.person o_user_person
        from asset a
            left join lily.person o_person on a.o_person = o_person.id
            left join lily."group" o_group on a.o_group = o_group.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily.org o_org on a.o_org = o_org.id
            left join lily.orgunit o_orgunit on a.o_orgunit = o_orgunit.id
            left join art art on a.art = art.id
            left join region region on a.region = region.id
            left join lily."user" o_user on a.o_user = o_user.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            a.o_user, 
            a.o_group, 
            a.o_org, 
            a.o_orgunit, 
            a.o_person, 
            o_person.id o_person_id, 
            o_person.uid o_person_uid, 
            o_person.gid o_person_gid, 
            o_person.mode o_person_mode, 
            o_person.acl o_person_acl, 
            o_person.label o_person_label, 
            o_person.description o_person_description, 
            o_person.icon o_person_icon, 
            o_person.priority o_person_priority, 
            o_person.flags o_person_flags, 
            o_person."state" o_person_state, 
            o_person.creation o_person_creation, 
            o_person.lastmod o_person_lastmod, 
            o_person."version" o_person_version, 
            o_person.alias o_person_alias, 
            o_person.ctprops o_person_ctprops, 
            o_person.address1 o_person_address1, 
            o_person.address2 o_person_address2, 
            o_person."zone" o_person_zone, 
            o_person.tel o_person_tel, 
            o_person.telok o_person_telok, 
            o_person.email o_person_email, 
            o_person.emailok o_person_emailok, 
            o_person.props o_person_props, 
            o_person.cat o_person_cat, 
            o_person.birthday o_person_birthday, 
            o_person.father o_person_father, 
            o_person.mother o_person_mother, 
            o_person.locale o_person_locale, 
            o_person.timezone o_person_timezone, 
            o_person.nrole o_person_nrole, 
            o_person.customer o_person_customer, 
            o_person.supplier o_person_supplier, 
            o_person.employee o_person_employee, 
            o_person.subject o_person_subject, 
            o_person.nbank o_person_nbank, 
            o_person.gender o_person_gender, 
            o_person.pronoun o_person_pronoun, 
            o_person.sexual_orient o_person_sexual_orient, 
            o_person.homeland o_person_homeland, 
            o_person.passport o_person_passport, 
            o_person.ssn o_person_ssn, 
            o_person.dln o_person_dln, 
            o_group.id o_group_id, 
            o_group."name" o_group_name, 
            o_group."type" o_group_type, 
            o_group.label o_group_label, 
            o_group.description o_group_description, 
            o_group.icon o_group_icon, 
            o_group.priority o_group_priority, 
            o_group.flags o_group_flags, 
            o_group."state" o_group_state, 
            o_group.creation o_group_creation, 
            o_group.lastmod o_group_lastmod, 
            o_group."version" o_group_version, 
            o_group.props o_group_props, 
            o_group.parent o_group_parent, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            o_org.id o_org_id, 
            o_org.uid o_org_uid, 
            o_org.gid o_org_gid, 
            o_org.mode o_org_mode, 
            o_org.acl o_org_acl, 
            o_org.label o_org_label, 
            o_org.description o_org_description, 
            o_org.icon o_org_icon, 
            o_org.priority o_org_priority, 
            o_org.flags o_org_flags, 
            o_org."state" o_org_state, 
            o_org.creation o_org_creation, 
            o_org.lastmod o_org_lastmod, 
            o_org."version" o_org_version, 
            o_org.alias o_org_alias, 
            o_org.ctprops o_org_ctprops, 
            o_org.address1 o_org_address1, 
            o_org.address2 o_org_address2, 
            o_org."zone" o_org_zone, 
            o_org.tel o_org_tel, 
            o_org.telok o_org_telok, 
            o_org.email o_org_email, 
            o_org.emailok o_org_emailok, 
            o_org.props o_org_props, 
            o_org.cat o_org_cat, 
            o_org.birthday o_org_birthday, 
            o_org.locale o_org_locale, 
            o_org.timezone o_org_timezone, 
            o_org.nrole o_org_nrole, 
            o_org.supplier o_org_supplier, 
            o_org.customer o_org_customer, 
            o_org.subject o_org_subject, 
            o_org.nbank o_org_nbank, 
            o_org."size" o_org_size, 
            o_org.taxid o_org_taxid, 
            o_orgunit.id o_orgunit_id, 
            o_orgunit.uid o_orgunit_uid, 
            o_orgunit.gid o_orgunit_gid, 
            o_orgunit.mode o_orgunit_mode, 
            o_orgunit.acl o_orgunit_acl, 
            o_orgunit.label o_orgunit_label, 
            o_orgunit.description o_orgunit_description, 
            o_orgunit.icon o_orgunit_icon, 
            o_orgunit.priority o_orgunit_priority, 
            o_orgunit.flags o_orgunit_flags, 
            o_orgunit."state" o_orgunit_state, 
            o_orgunit.creation o_orgunit_creation, 
            o_orgunit.lastmod o_orgunit_lastmod, 
            o_orgunit."version" o_orgunit_version, 
            o_orgunit.alias o_orgunit_alias, 
            o_orgunit.ctprops o_orgunit_ctprops, 
            o_orgunit.address1 o_orgunit_address1, 
            o_orgunit.address2 o_orgunit_address2, 
            o_orgunit."zone" o_orgunit_zone, 
            o_orgunit.tel o_orgunit_tel, 
            o_orgunit.telok o_orgunit_telok, 
            o_orgunit.email o_orgunit_email, 
            o_orgunit.emailok o_orgunit_emailok, 
            o_orgunit.props o_orgunit_props, 
            o_orgunit.org o_orgunit_org, 
            o_orgunit.parent o_orgunit_parent, 
            o_orgunit."depth" o_orgunit_depth, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art."type" art_type, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.icon region_icon, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            o_user.id o_user_id, 
            o_user."type" o_user_type, 
            o_user."name" o_user_name, 
            o_user.label o_user_label, 
            o_user.description o_user_description, 
            o_user.icon o_user_icon, 
            o_user.priority o_user_priority, 
            o_user.flags o_user_flags, 
            o_user."state" o_user_state, 
            o_user.creation o_user_creation, 
            o_user.lastmod o_user_lastmod, 
            o_user."version" o_user_version, 
            o_user.props o_user_props, 
            o_user.gid0 o_user_gid0, 
            o_user.referer o_user_referer, 
            o_user.person o_user_person
        from asset a
            left join lily.person o_person on a.o_person = o_person.id
            left join lily."group" o_group on a.o_group = o_group.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily.org o_org on a.o_org = o_org.id
            left join lily.orgunit o_orgunit on a.o_orgunit = o_orgunit.id
            left join art art on a.art = art.id
            left join region region on a.region = region.id
            left join lily."user" o_user on a.o_user = o_user.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into asset(
            uid,
            gid,
            mode,
            acl,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            art,
            region,
            batch,
            qty,
            serial,
            expire,
            o_user,
            o_group,
            o_org,
            o_orgunit,
            o_person
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{artifactId},
            #{regionId},
            #{batch},
            #{quantity},
            #{serial},
            #{expire},
            #{userId},
            #{groupId},
            #{orgId},
            #{orgUnitId},
            #{personId}
        );
    ]]></insert>

    <update id="update">
        update asset
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            art = #{artifactId},
            region = #{regionId},
            batch = #{batch},
            qty = #{quantity},
            serial = #{serial},
            expire = #{expire},
            o_user = #{userId},
            o_group = #{groupId},
            o_org = #{orgId},
            o_orgunit = #{orgUnitId},
            o_person = #{personId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from asset
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from asset a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
