<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.asset.dao.UserAssetMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.asset.UserAsset">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="batch.jsonStr" column="batch" />
        <result property="quantity" column="qty" />
        <result property="serial" column="serial" />
        <result property="expire" column="expire" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="ownerId" column="owner" />
        <result property="artifactId" column="art" />
        <result property="regionId" column="region" />
        <association property="region" columnPrefix="region_"
            javaType="net.bodz.violet.schema.store.Region" 
            resultMap="net.bodz.violet.schema.store.dao.RegionMapper.objlist_map" />
        <association property="owner" columnPrefix="owner_"
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_"
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_"
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="artifact" columnPrefix="art_"
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.owner, 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            owner.id owner_id, 
            owner."type" owner_type, 
            owner."name" owner_name, 
            owner.label owner_label, 
            owner.description owner_description, 
            owner.priority owner_priority, 
            owner.flags owner_flags, 
            owner."state" owner_state, 
            owner.creation owner_creation, 
            owner.lastmod owner_lastmod, 
            owner."version" owner_version, 
            owner.props owner_props, 
            owner.gid0 owner_gid0, 
            owner.referer owner_referer, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from asset_user a
            left join region region on a.region = region.id
            left join lily."user" owner on a.owner = owner.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.owner, 
            a.art, 
            a.region, 
            a.batch, 
            a.qty, 
            a.serial, 
            a.expire, 
            region.id region_id, 
            region.code region_code, 
            region.uid region_uid, 
            region.gid region_gid, 
            region.mode region_mode, 
            region.acl region_acl, 
            region.label region_label, 
            region.description region_description, 
            region.priority region_priority, 
            region.flags region_flags, 
            region."state" region_state, 
            region.creation region_creation, 
            region.lastmod region_lastmod, 
            region."version" region_version, 
            region.props region_props, 
            region."path" region_path, 
            region.proto region_proto, 
            region.parent region_parent, 
            region."depth" region_depth, 
            region.height region_height, 
            region."level" region_level, 
            region.cat region_cat, 
            region.tag region_tag, 
            region.x region_x, 
            region.y region_y, 
            region.z region_z, 
            region.dx region_dx, 
            region.dy region_dy, 
            region.dz region_dz, 
            region.material region_material, 
            region.for_cat region_for_cat, 
            region.for_art region_for_art, 
            region.art region_art, 
            owner.id owner_id, 
            owner."type" owner_type, 
            owner."name" owner_name, 
            owner.label owner_label, 
            owner.description owner_description, 
            owner.priority owner_priority, 
            owner.flags owner_flags, 
            owner."state" owner_state, 
            owner.creation owner_creation, 
            owner.lastmod owner_lastmod, 
            owner."version" owner_version, 
            owner.props owner_props, 
            owner.gid0 owner_gid0, 
            owner.referer owner_referer, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from asset_user a
            left join region region on a.region = region.id
            left join lily."user" owner on a.owner = owner.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into asset_user(
            uid,
            gid,
            mode,
            acl,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            owner,
            art,
            region,
            batch,
            qty,
            serial,
            expire
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{ownerId},
            #{artifactId},
            #{regionId},
            #{batch.jsonStr}::jsonb,
            #{quantity},
            #{serial},
            #{expire}
        );
    ]]></insert>

    <update id="update">
        update asset_user
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            owner = #{ownerId},
            art = #{artifactId},
            region = #{regionId},
            batch = #{batch.jsonStr}::jsonb,
            qty = #{quantity},
            serial = #{serial},
            expire = #{expire},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from asset_user
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from asset_user
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
