<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.asset.impl.AssetMapper">

    <resultMap id="map1" type="net.bodz.violet.asset.Asset" extends="co.MAP_UVX">
        <result property="quantity" column="qty" />
        <result property="serial" column="serial" />
        <result property="expire" column="expire" />
        <association property="artifact" javaType="net.bodz.violet.art.Artifact">
            <id property="id" column="art" />
            <result property="label" column="art_label" />
        </association>
        <association property="region" javaType="net.bodz.violet.store.Region">
            <id property="id" column="region" />
            <result property="label" column="region_label" />
        </association>
        <association property="user" javaType="net.bodz.lily.security.User">
            <id property="id" column="o_user" />
            <result property="label" column="ou_label" />
        </association>
        <association property="group" javaType="net.bodz.lily.security.Group">
            <id property="id" column="o_group" />
            <result property="label" column="og_label" />
        </association>
        <association property="org" javaType="net.bodz.lily.contact.Organization">
            <id property="id" column="o_org" />
            <result property="label" column="oo_label" />
        </association>
        <association property="orgUnit" javaType="net.bodz.lily.contact.OrgUnit">
            <id property="id" column="o_orgunit" />
            <result property="label" column="oou_label" />
        </association>
        <association property="person" javaType="net.bodz.lily.contact.Person">
            <id property="id" column="o_person" />
            <result property="label" column="op_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            art.label "art_label",
            region.label "region_label",
            u.label "uid_label",
            g.label "gid_label"
        from asset a
            left join art on a.art = art.id
            left join region on a.region = region.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            art.label "art_label",
            region.label "region_label",
            ou.label "ou_label",
            og.label "og_label",
            oo.label "oo_label",
            oou.label "oou_label",
            op.label "op_label",
            u.label "uid_label",
            g.label "gid_label"
        from asset a
            left join art on a.art = art.id
            left join region on a.region = region.id
            left join "user" ou on a.o_user = ou.id
            left join "group" og on a.o_group = og.id
            left join org oo on a.o_org = oo.id
            left join orgunit oou on a.o_orgunit = oou.id
            left join person op on a.o_person = op.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into asset(
            priority, flags, state, uid, gid, mode, acl,
            art, region, 
            qty, serial, expire,
            o_user, o_group, o_org, o_orgunit, o_person
        ) values(
            #{priority}, #{flags}, #{state}, #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{artifact.id}, #{region.id},
            #{quantity}, #{serial}, #{expire},
            #{user.id}, #{group.id}, #{org.id}, #{orgUnit.id}, #{person.id}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update asset
        <set>
            <include refid="co.setVSA" />
            art = #{artifact.id},
            region = #{region.id},
            qty = #{quantity}, 
            serial = #{serial},
            expire = #{expire},
            o_user = #{user.id},
            o_group = #{group.id},
            o_org = #{org.id},
            o_orgunit = #{orgUnit.id},
            o_person = #{person.id},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from asset where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from asset
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
