<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.fab.dao.FabStdProcessInputMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.fab.FabStdProcessInput">
        <id property="id" column="id" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="quantity" column="qty" />
        <result property="processId" column="proc" />
        <result property="modelId" column="model" />
        <result property="artifactId" column="art" />
        <association property="process" columnPrefix="proc_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.fab.FabStdProcess" 
            resultMap="net.bodz.violet.schema.fab.dao.FabStdProcessMapper.objlist_map" />
        <association property="model" columnPrefix="model_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.ArtifactModel" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactModelMapper.objlist_map" />
        <association property="artifact" columnPrefix="art_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.proc, 
            a.model, 
            a.art, 
            a.qty, 
            proc.id proc_id, 
            proc.uid proc_uid, 
            proc.gid proc_gid, 
            proc.mode proc_mode, 
            proc.acl proc_acl, 
            proc.label proc_label, 
            proc.description proc_description, 
            proc.icon proc_icon, 
            proc.priority proc_priority, 
            proc.flags proc_flags, 
            proc."state" proc_state, 
            proc.creation proc_creation, 
            proc.lastmod proc_lastmod, 
            proc."version" proc_version, 
            proc."valid" proc_valid, 
            proc.validsince proc_validsince, 
            proc.validuntil proc_validuntil, 
            proc.props proc_props, 
            proc."output" proc_output, 
            proc.fn proc_fn, 
            proc.duration proc_duration, 
            proc.strict proc_strict, 
            proc.test proc_test, 
            model.id model_id, 
            model.uid model_uid, 
            model.gid model_gid, 
            model.mode model_mode, 
            model.acl model_acl, 
            model.label model_label, 
            model.description model_description, 
            model.icon model_icon, 
            model.priority model_priority, 
            model.flags model_flags, 
            model."state" model_state, 
            model.creation model_creation, 
            model.lastmod model_lastmod, 
            model."version" model_version, 
            model.t0 model_t0, 
            model.t1 model_t1, 
            model."year" model_year, 
            model.props model_props, 
            model."valid" model_valid, 
            model.validsince model_validsince, 
            model.validuntil model_validuntil, 
            model.obsolete model_obsolete, 
            model.art model_art, 
            model.model model_model, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from fabstdproc_in a
            left join fabstdproc proc on a.proc = proc.id
            left join artmodel model on a.model = model.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.proc, 
            a.model, 
            a.art, 
            a.qty, 
            proc.id proc_id, 
            proc.uid proc_uid, 
            proc.gid proc_gid, 
            proc.mode proc_mode, 
            proc.acl proc_acl, 
            proc.label proc_label, 
            proc.description proc_description, 
            proc.icon proc_icon, 
            proc.priority proc_priority, 
            proc.flags proc_flags, 
            proc."state" proc_state, 
            proc.creation proc_creation, 
            proc.lastmod proc_lastmod, 
            proc."version" proc_version, 
            proc."valid" proc_valid, 
            proc.validsince proc_validsince, 
            proc.validuntil proc_validuntil, 
            proc.props proc_props, 
            proc."output" proc_output, 
            proc.fn proc_fn, 
            proc.duration proc_duration, 
            proc.strict proc_strict, 
            proc.test proc_test, 
            model.id model_id, 
            model.uid model_uid, 
            model.gid model_gid, 
            model.mode model_mode, 
            model.acl model_acl, 
            model.label model_label, 
            model.description model_description, 
            model.icon model_icon, 
            model.priority model_priority, 
            model.flags model_flags, 
            model."state" model_state, 
            model.creation model_creation, 
            model.lastmod model_lastmod, 
            model."version" model_version, 
            model.t0 model_t0, 
            model.t1 model_t1, 
            model."year" model_year, 
            model.props model_props, 
            model."valid" model_valid, 
            model.validsince model_validsince, 
            model.validuntil model_validuntil, 
            model.obsolete model_obsolete, 
            model.art model_art, 
            model.model model_model, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from fabstdproc_in a
            left join fabstdproc proc on a.proc = proc.id
            left join artmodel model on a.model = model.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into fabstdproc_in(
            creation,
            lastmod,
            "version",
            proc,
            model,
            art,
            qty
        ) values(
            #{creationDate},
            #{lastModified},
            #{version},
            #{processId},
            #{modelId},
            #{artifactId},
            #{quantity}
        );
    ]]></insert>

    <update id="update">
        update fabstdproc_in
        <set>
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            proc = #{processId},
            model = #{modelId},
            art = #{artifactId},
            qty = #{quantity},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from fabstdproc_in
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from fabstdproc_in a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
