<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.contact.impl.PersonRoleMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.contact.PersonRole">
        <result property="role" column="role" />
        <result property="description" column="description" />
        <association property="org" javaType="net.bodz.lily.contact.Organization">
            <id property="id" column="org" />
            <result property="label" column="org_label" />
        </association>
        <association property="orgUnit" javaType="net.bodz.lily.contact.OrgUnit">
            <id property="id" column="ou" />
            <result property="label" column="ou_label" />
        </association>
        <association property="person" javaType="net.bodz.lily.contact.Person">
            <id property="id" column="person" />
            <result property="label" column="person_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            org.label "org_label",
            ou.label "ou_label",
            p.label "person_label"
        from personrole a
            left join org on a.org = org.id
            left join orgunit ou on a.ou = ou.id
            left join person p on a.person = p.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            org.label "org_label",
            ou.label "ou_label",
            p.label "person_label"
        from personrole a
            left join org on a.org = org.id
            left join orgunit ou on a.ou = ou.id
            left join person p on a.person = p.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into personrole(
            org, ou, person,
            role, description
        ) values(
            #{org.id}, #{orgUnit.id}, #{person.id},
            #{role}, #{description}
        ) returning id
    ]]></insert>

    <update id="update">
        update personrole
        <set>
            org = #{org.id},
            ou = #{orgUnit.id},
            person = #{person.id},
            role = #{role},
            description = #{description},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from personrole where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from personrole
        <where>
            <include refid="filtconds" />
        </where>
    </select>

</mapper>
