<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.contact.impl.PersonMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.contact.Person" extends="co.MAP_ALL">
        <result property="properties.jsonStr" column="props" />
        
        <result property="birthday" column="birthday" />
        <result property="langTag" column="locale" />
        <result property="timeZoneId" column="timezone" />
        <result property="supplier" column="supplier" />
        <result property="customer" column="customer" />
        <result property="subject" column="subject" />
        <result property="gender" column="gender" />
        <result property="homeland" column="homeland" />
        <result property="passport" column="passport" />
        <result property="socialSecurityNum" column="ssn" />
        <result property="driverLicenseNum" column="dln" />

        <!-- contact -->
        <result property="contact.address1" column="address1" />
        <result property="contact.address2" column="address2" />
        <result property="contact.tel" column="tel" />
        
        <association property="category" javaType="net.bodz.lily.contact.PartyCategory">
            <id property="id" column="cat" />
            <result property="label" column="cat_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from person a
            left join partycat cat on a.cat = cat.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            cat.label "cat_label",
            u.label "uid_label",
            g.label "gid_label"
        from person a
            left join partycat cat on a.cat = cat.id
            left join "user" u on a.uid = u.id
            left join "group" g on a.gid = g.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into person(
            label, description,
            priority, flags, state, uid, gid, mode, acl,
            props,
            cat,
            birthday, locale, timezone,
            supplier, customer, subject,
            <if test="contact != null">
                address1, address2, tel,
            </if>
            gender, homeland, passport, ssn, dln
        ) values(
            #{label},#{description},
            #{priority}, #{flags}, #{state}, #{ownerUser.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{properties.jsonStr}::jsonb,
            #{category.id},
            #{birthday}, #{langTag}, #{timeZoneId},
            #{supplier}, #{customer}, #{subject},
            <if test="contact != null">
                #{contact.address1}, #{contact.address2}, #{contact.tel},
            </if>
            #{gender}, #{homeland}, #{passport}, #{socialSecurityNum}, #{driverLicenseNum}
        ) returning id; --
    </insert>

    <update id="update">
        update person
        <set>
            <include refid="co.setUSA" />
            <if test="properties != null">props = #{properties.jsonStr}::jsonb,</if>
            <if test="category != null">cat = #{category.id},</if>
            birthday = #{birthday},
            locale = #{langTag},
            timezone = #{timeZoneId},
            supplier = #{supplier},
            customer = #{customer},
            subject = #{subject},

            gender = #{gender},
            homeland = #{homeland},
            passport = #{passport},
            ssn = #{socialSecurityNum},
            dln = #{driverLicenseNum},

            <if test="contact != null">
                address1 = #{contact.address1},
                address2 = #{contact.address2},
                tel = #{contact.tel},
            </if>
        </set>
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </update>

    <delete id="delete">
        delete from person where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from person
        <where>
            <include refid="filtconds" />
        </where>
    </select>

</mapper>
