<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.shop.dao.SalesOrderMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.shop.SalesOrder">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="subject" column="subject" />
        <result property="rawText" column="text" />
        <result property="formArguments" column="formargs" />
        <result property="properties" column="props" />
        <result property="files" column="files" />
        <result property="length" column="length" />
        <result property="totalQuantity" column="sum_qty" />
        <result property="totalAmount" column="sum_amount" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="opId" column="op" />
        <result property="formId" column="form" />
        <result property="categoryId" column="cat" />
        <result property="phaseId" column="phase" />
        <result property="previousOrderId" column="prev" />
        <result property="planId" column="plan" />
        <result property="customerOrgId" column="customer_org" />
        <result property="customerId" column="customer" />
        <association property="customer" columnPrefix="customer_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Person" 
            resultMap="net.bodz.lily.schema.contact.dao.PersonMapper.objlist_map" />
        <association property="form" columnPrefix="form_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.meta.FormDef" 
            resultMap="net.bodz.lily.schema.meta.dao.FormDefMapper.objlist_map" />
        <association property="phase" columnPrefix="phase_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.SalesPhase" 
            resultMap="net.bodz.violet.schema.shop.dao.SalesPhaseMapper.objlist_map" />
        <association property="customerOrg" columnPrefix="customer_org_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Organization" 
            resultMap="net.bodz.lily.schema.contact.dao.OrganizationMapper.objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="previousOrder" columnPrefix="prev_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.SalesOrder" 
            resultMap="objlist_map" />
        <association property="op" columnPrefix="op_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="plan" columnPrefix="plan_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.plan.Plan" 
            resultMap="net.bodz.violet.schema.plan.dao.PlanMapper.objlist_map" />
        <association property="category" columnPrefix="category_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.SalesCategory" 
            resultMap="net.bodz.violet.schema.shop.dao.SalesCategoryMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.props, 
            a.files, 
            a.cat, 
            a.phase, 
            a.prev, 
            a.plan, 
            a.customer_org, 
            a.customer, 
            a."length", 
            a.sum_qty, 
            a.sum_amount, 
            customer.id customer_id, 
            customer.uid customer_uid, 
            customer.gid customer_gid, 
            customer.mode customer_mode, 
            customer.acl customer_acl, 
            customer.label customer_label, 
            customer.description customer_description, 
            customer.icon customer_icon, 
            customer.priority customer_priority, 
            customer.flags customer_flags, 
            customer."state" customer_state, 
            customer.creation customer_creation, 
            customer.lastmod customer_lastmod, 
            customer."version" customer_version, 
            customer.alias customer_alias, 
            customer.ctprops customer_ctprops, 
            customer.address1 customer_address1, 
            customer.address2 customer_address2, 
            customer."zone" customer_zone, 
            customer.tel customer_tel, 
            customer.telok customer_telok, 
            customer.email customer_email, 
            customer.emailok customer_emailok, 
            customer.props customer_props, 
            customer.files customer_files, 
            customer.cat customer_cat, 
            customer.birthday customer_birthday, 
            customer.father customer_father, 
            customer.mother customer_mother, 
            customer.locale customer_locale, 
            customer.timezone customer_timezone, 
            customer.nrole customer_nrole, 
            customer.customer customer_customer, 
            customer.supplier customer_supplier, 
            customer.employee customer_employee, 
            customer.subject customer_subject, 
            customer.nbank customer_nbank, 
            customer.gender customer_gender, 
            customer.pronoun customer_pronoun, 
            customer.sexual_orient customer_sexual_orient, 
            customer.homeland customer_homeland, 
            customer.passport customer_passport, 
            customer.ssn customer_ssn, 
            customer.dln customer_dln, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            phase.id phase_id, 
            phase.uid phase_uid, 
            phase.gid phase_gid, 
            phase.mode phase_mode, 
            phase.acl phase_acl, 
            phase.code phase_code, 
            phase.label phase_label, 
            phase.description phase_description, 
            phase.icon phase_icon, 
            phase.priority phase_priority, 
            phase.flags phase_flags, 
            phase."state" phase_state, 
            phase.creation phase_creation, 
            phase.lastmod phase_lastmod, 
            phase."version" phase_version, 
            phase.nref phase_nref, 
            customer_org.id customer_org_id, 
            customer_org.uid customer_org_uid, 
            customer_org.gid customer_org_gid, 
            customer_org.mode customer_org_mode, 
            customer_org.acl customer_org_acl, 
            customer_org.label customer_org_label, 
            customer_org.description customer_org_description, 
            customer_org.icon customer_org_icon, 
            customer_org.priority customer_org_priority, 
            customer_org.flags customer_org_flags, 
            customer_org."state" customer_org_state, 
            customer_org.creation customer_org_creation, 
            customer_org.lastmod customer_org_lastmod, 
            customer_org."version" customer_org_version, 
            customer_org.alias customer_org_alias, 
            customer_org.ctprops customer_org_ctprops, 
            customer_org.address1 customer_org_address1, 
            customer_org.address2 customer_org_address2, 
            customer_org."zone" customer_org_zone, 
            customer_org.tel customer_org_tel, 
            customer_org.telok customer_org_telok, 
            customer_org.email customer_org_email, 
            customer_org.emailok customer_org_emailok, 
            customer_org.props customer_org_props, 
            customer_org.files customer_org_files, 
            customer_org.cat customer_org_cat, 
            customer_org.birthday customer_org_birthday, 
            customer_org.locale customer_org_locale, 
            customer_org.timezone customer_org_timezone, 
            customer_org.nrole customer_org_nrole, 
            customer_org.supplier customer_org_supplier, 
            customer_org.customer customer_org_customer, 
            customer_org.subject customer_org_subject, 
            customer_org.nbank customer_org_nbank, 
            customer_org."size" customer_org_size, 
            customer_org.taxid customer_org_taxid, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.files ownerGroup_files, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.files ownerUser_files, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            prev.id prev_id, 
            prev.uid prev_uid, 
            prev.gid prev_gid, 
            prev.mode prev_mode, 
            prev.acl prev_acl, 
            prev.priority prev_priority, 
            prev.flags prev_flags, 
            prev."state" prev_state, 
            prev.creation prev_creation, 
            prev.lastmod prev_lastmod, 
            prev."version" prev_version, 
            prev.t0 prev_t0, 
            prev.t1 prev_t1, 
            prev."year" prev_year, 
            prev.subject prev_subject, 
            prev.op prev_op, 
            prev.text prev_text, 
            prev.form prev_form, 
            prev.formargs prev_formargs, 
            prev.props prev_props, 
            prev.files prev_files, 
            prev.cat prev_cat, 
            prev.phase prev_phase, 
            prev.prev prev_prev, 
            prev.plan prev_plan, 
            prev.customer_org prev_customer_org, 
            prev.customer prev_customer, 
            prev."length" prev_length, 
            prev.sum_qty prev_sum_qty, 
            prev.sum_amount prev_sum_amount, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.files op_files, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person, 
            plan.id plan_id, 
            plan.uid plan_uid, 
            plan.gid plan_gid, 
            plan.mode plan_mode, 
            plan.acl plan_acl, 
            plan.priority plan_priority, 
            plan.flags plan_flags, 
            plan."state" plan_state, 
            plan.t0 plan_t0, 
            plan.t1 plan_t1, 
            plan."year" plan_year, 
            plan.subject plan_subject, 
            plan.op plan_op, 
            plan.text plan_text, 
            plan.form plan_form, 
            plan.formargs plan_formargs, 
            plan.creation plan_creation, 
            plan.lastmod plan_lastmod, 
            plan."version" plan_version, 
            plan.cat plan_cat, 
            plan.phase plan_phase, 
            plan.nread plan_nread, 
            plan.nvote plan_nvote, 
            plan.nlike plan_nlike, 
            plan."value" plan_value, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.files category_files, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref
        from saleodr a
            left join lily.person customer on a.customer = customer.id
            left join lily._form form on a.form = form.id
            left join salephase phase on a.phase = phase.id
            left join lily.org customer_org on a.customer_org = customer_org.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join saleodr prev on a.prev = prev.id
            left join lily."user" op on a.op = op.id
            left join plan plan on a.plan = plan.id
            left join salecat category on a.cat = category.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.props, 
            a.files, 
            a.cat, 
            a.phase, 
            a.prev, 
            a.plan, 
            a.customer_org, 
            a.customer, 
            a."length", 
            a.sum_qty, 
            a.sum_amount, 
            customer.id customer_id, 
            customer.uid customer_uid, 
            customer.gid customer_gid, 
            customer.mode customer_mode, 
            customer.acl customer_acl, 
            customer.label customer_label, 
            customer.description customer_description, 
            customer.icon customer_icon, 
            customer.priority customer_priority, 
            customer.flags customer_flags, 
            customer."state" customer_state, 
            customer.creation customer_creation, 
            customer.lastmod customer_lastmod, 
            customer."version" customer_version, 
            customer.alias customer_alias, 
            customer.ctprops customer_ctprops, 
            customer.address1 customer_address1, 
            customer.address2 customer_address2, 
            customer."zone" customer_zone, 
            customer.tel customer_tel, 
            customer.telok customer_telok, 
            customer.email customer_email, 
            customer.emailok customer_emailok, 
            customer.props customer_props, 
            customer.files customer_files, 
            customer.cat customer_cat, 
            customer.birthday customer_birthday, 
            customer.father customer_father, 
            customer.mother customer_mother, 
            customer.locale customer_locale, 
            customer.timezone customer_timezone, 
            customer.nrole customer_nrole, 
            customer.customer customer_customer, 
            customer.supplier customer_supplier, 
            customer.employee customer_employee, 
            customer.subject customer_subject, 
            customer.nbank customer_nbank, 
            customer.gender customer_gender, 
            customer.pronoun customer_pronoun, 
            customer.sexual_orient customer_sexual_orient, 
            customer.homeland customer_homeland, 
            customer.passport customer_passport, 
            customer.ssn customer_ssn, 
            customer.dln customer_dln, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            phase.id phase_id, 
            phase.uid phase_uid, 
            phase.gid phase_gid, 
            phase.mode phase_mode, 
            phase.acl phase_acl, 
            phase.code phase_code, 
            phase.label phase_label, 
            phase.description phase_description, 
            phase.icon phase_icon, 
            phase.priority phase_priority, 
            phase.flags phase_flags, 
            phase."state" phase_state, 
            phase.creation phase_creation, 
            phase.lastmod phase_lastmod, 
            phase."version" phase_version, 
            phase.nref phase_nref, 
            customer_org.id customer_org_id, 
            customer_org.uid customer_org_uid, 
            customer_org.gid customer_org_gid, 
            customer_org.mode customer_org_mode, 
            customer_org.acl customer_org_acl, 
            customer_org.label customer_org_label, 
            customer_org.description customer_org_description, 
            customer_org.icon customer_org_icon, 
            customer_org.priority customer_org_priority, 
            customer_org.flags customer_org_flags, 
            customer_org."state" customer_org_state, 
            customer_org.creation customer_org_creation, 
            customer_org.lastmod customer_org_lastmod, 
            customer_org."version" customer_org_version, 
            customer_org.alias customer_org_alias, 
            customer_org.ctprops customer_org_ctprops, 
            customer_org.address1 customer_org_address1, 
            customer_org.address2 customer_org_address2, 
            customer_org."zone" customer_org_zone, 
            customer_org.tel customer_org_tel, 
            customer_org.telok customer_org_telok, 
            customer_org.email customer_org_email, 
            customer_org.emailok customer_org_emailok, 
            customer_org.props customer_org_props, 
            customer_org.files customer_org_files, 
            customer_org.cat customer_org_cat, 
            customer_org.birthday customer_org_birthday, 
            customer_org.locale customer_org_locale, 
            customer_org.timezone customer_org_timezone, 
            customer_org.nrole customer_org_nrole, 
            customer_org.supplier customer_org_supplier, 
            customer_org.customer customer_org_customer, 
            customer_org.subject customer_org_subject, 
            customer_org.nbank customer_org_nbank, 
            customer_org."size" customer_org_size, 
            customer_org.taxid customer_org_taxid, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.files ownerGroup_files, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.files ownerUser_files, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            prev.id prev_id, 
            prev.uid prev_uid, 
            prev.gid prev_gid, 
            prev.mode prev_mode, 
            prev.acl prev_acl, 
            prev.priority prev_priority, 
            prev.flags prev_flags, 
            prev."state" prev_state, 
            prev.creation prev_creation, 
            prev.lastmod prev_lastmod, 
            prev."version" prev_version, 
            prev.t0 prev_t0, 
            prev.t1 prev_t1, 
            prev."year" prev_year, 
            prev.subject prev_subject, 
            prev.op prev_op, 
            prev.text prev_text, 
            prev.form prev_form, 
            prev.formargs prev_formargs, 
            prev.props prev_props, 
            prev.files prev_files, 
            prev.cat prev_cat, 
            prev.phase prev_phase, 
            prev.prev prev_prev, 
            prev.plan prev_plan, 
            prev.customer_org prev_customer_org, 
            prev.customer prev_customer, 
            prev."length" prev_length, 
            prev.sum_qty prev_sum_qty, 
            prev.sum_amount prev_sum_amount, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.files op_files, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person, 
            plan.id plan_id, 
            plan.uid plan_uid, 
            plan.gid plan_gid, 
            plan.mode plan_mode, 
            plan.acl plan_acl, 
            plan.priority plan_priority, 
            plan.flags plan_flags, 
            plan."state" plan_state, 
            plan.t0 plan_t0, 
            plan.t1 plan_t1, 
            plan."year" plan_year, 
            plan.subject plan_subject, 
            plan.op plan_op, 
            plan.text plan_text, 
            plan.form plan_form, 
            plan.formargs plan_formargs, 
            plan.creation plan_creation, 
            plan.lastmod plan_lastmod, 
            plan."version" plan_version, 
            plan.cat plan_cat, 
            plan.phase plan_phase, 
            plan.nread plan_nread, 
            plan.nvote plan_nvote, 
            plan.nlike plan_nlike, 
            plan."value" plan_value, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.files category_files, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref
        from saleodr a
            left join lily.person customer on a.customer = customer.id
            left join lily._form form on a.form = form.id
            left join salephase phase on a.phase = phase.id
            left join lily.org customer_org on a.customer_org = customer_org.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join saleodr prev on a.prev = prev.id
            left join lily."user" op on a.op = op.id
            left join plan plan on a.plan = plan.id
            left join salecat category on a.cat = category.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into saleodr(
            uid,
            gid,
            mode,
            acl,
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            subject,
            op,
            text,
            form,
            formargs,
            props,
            files,
            cat,
            phase,
            prev,
            plan,
            customer_org,
            customer,
            "length",
            sum_qty,
            sum_amount
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{subject},
            #{opId},
            #{rawText},
            #{formId},
            #{formArguments},
            #{properties},
            #{files},
            #{categoryId},
            #{phaseId},
            #{previousOrderId},
            #{planId},
            #{customerOrgId},
            #{customerId},
            #{length},
            #{totalQuantity},
            #{totalAmount}
        );
    ]]></insert>

    <update id="update">
        update saleodr
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            subject = #{subject},
            op = #{opId},
            text = #{rawText},
            form = #{formId},
            formargs = #{formArguments},
            props = #{properties},
            files = #{files},
            cat = #{categoryId},
            phase = #{phaseId},
            prev = #{previousOrderId},
            plan = #{planId},
            customer_org = #{customerOrgId},
            customer = #{customerId},
            "length" = #{length},
            sum_qty = #{totalQuantity},
            sum_amount = #{totalAmount},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from saleodr
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from saleodr a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
