<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.shop.dao.SalesOrderItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.shop.SalesOrderItem">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="properties" column="props" />
        <result property="batch" column="batch" />
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <result property="n1" column="n1" />
        <result property="orderId" column="odr" />
        <result property="shopItemId" column="shopitem" />
        <result property="artifactId" column="art" />
        <association property="order" columnPrefix="odr_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.SalesOrder" 
            resultMap="net.bodz.violet.schema.shop.dao.SalesOrderMapper.objlist_map" />
        <association property="shopItem" columnPrefix="shopitem_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.ShopItem" 
            resultMap="net.bodz.violet.schema.shop.dao.ShopItemMapper.objlist_map" />
        <association property="artifact" columnPrefix="art_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.props, 
            a.odr, 
            a.shopitem, 
            a.art, 
            a.batch, 
            a.qty, 
            a.price, 
            a.amount, 
            a.n1, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.props odr_props, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.plan odr_plan, 
            odr.customer_org odr_customer_org, 
            odr.customer odr_customer, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount, 
            shopitem.id shopitem_id, 
            shopitem.label shopitem_label, 
            shopitem.description shopitem_description, 
            shopitem.icon shopitem_icon, 
            shopitem.priority shopitem_priority, 
            shopitem.flags shopitem_flags, 
            shopitem."state" shopitem_state, 
            shopitem.t0 shopitem_t0, 
            shopitem.t1 shopitem_t1, 
            shopitem."year" shopitem_year, 
            shopitem.creation shopitem_creation, 
            shopitem.lastmod shopitem_lastmod, 
            shopitem."version" shopitem_version, 
            shopitem.props shopitem_props, 
            shopitem.shop shopitem_shop, 
            shopitem.cat shopitem_cat, 
            shopitem.art shopitem_art, 
            shopitem.batch shopitem_batch, 
            shopitem.price shopitem_price, 
            shopitem.qty shopitem_qty, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art."type" art_type, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from saleodrl a
            left join saleodr odr on a.odr = odr.id
            left join shopitem shopitem on a.shopitem = shopitem.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.props, 
            a.odr, 
            a.shopitem, 
            a.art, 
            a.batch, 
            a.qty, 
            a.price, 
            a.amount, 
            a.n1, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.props odr_props, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.plan odr_plan, 
            odr.customer_org odr_customer_org, 
            odr.customer odr_customer, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount, 
            shopitem.id shopitem_id, 
            shopitem.label shopitem_label, 
            shopitem.description shopitem_description, 
            shopitem.icon shopitem_icon, 
            shopitem.priority shopitem_priority, 
            shopitem.flags shopitem_flags, 
            shopitem."state" shopitem_state, 
            shopitem.t0 shopitem_t0, 
            shopitem.t1 shopitem_t1, 
            shopitem."year" shopitem_year, 
            shopitem.creation shopitem_creation, 
            shopitem.lastmod shopitem_lastmod, 
            shopitem."version" shopitem_version, 
            shopitem.props shopitem_props, 
            shopitem.shop shopitem_shop, 
            shopitem.cat shopitem_cat, 
            shopitem.art shopitem_art, 
            shopitem.batch shopitem_batch, 
            shopitem.price shopitem_price, 
            shopitem.qty shopitem_qty, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art."type" art_type, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price
        from saleodrl a
            left join saleodr odr on a.odr = odr.id
            left join shopitem shopitem on a.shopitem = shopitem.id
            left join art art on a.art = art.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into saleodrl(
            priority,
            flags,
            "state",
            t0,
            t1,
            "year",
            props,
            odr,
            shopitem,
            art,
            batch,
            qty,
            price,
            amount,
            n1
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{beginTime},
            #{endTime},
            #{year},
            #{properties},
            #{orderId},
            #{shopItemId},
            #{artifactId},
            #{batch},
            #{quantity},
            #{price},
            #{amount},
            #{n1}
        );
    ]]></insert>

    <update id="update">
        update saleodrl
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            props = #{properties},
            odr = #{orderId},
            shopitem = #{shopItemId},
            art = #{artifactId},
            batch = #{batch},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
            n1 = #{n1},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from saleodrl
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from saleodrl a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
