<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.tran.dao.TransportOrderItemMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.tran.TransportOrderItem">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="quantity" column="qty" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <result property="orderId" column="odr" />
        <result property="artifactId" column="art" />
        <association property="artifact" columnPrefix="art_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.art.Artifact" 
            resultMap="net.bodz.violet.schema.art.dao.ArtifactMapper.objlist_map" />
        <association property="order" columnPrefix="odr_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.tran.TransportOrder" 
            resultMap="net.bodz.violet.schema.tran.dao.TransportOrderMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.odr, 
            a.art, 
            a.qty, 
            a.price, 
            a.amount, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.props odr_props, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.saleodr odr_saleodr, 
            odr.storeodr odr_storeodr, 
            odr.shipper odr_shipper, 
            odr.src_alias odr_src_alias, 
            odr.src_ctprops odr_src_ctprops, 
            odr.src_address1 odr_src_address1, 
            odr.src_address2 odr_src_address2, 
            odr.src_zone odr_src_zone, 
            odr.src_tel odr_src_tel, 
            odr.src_telok odr_src_telok, 
            odr.src_email odr_src_email, 
            odr.src_emailok odr_src_emailok, 
            odr.dst_alias odr_dst_alias, 
            odr.dst_ctprops odr_dst_ctprops, 
            odr.dst_address1 odr_dst_address1, 
            odr.dst_address2 odr_dst_address2, 
            odr.dst_zone odr_dst_zone, 
            odr.dst_tel odr_dst_tel, 
            odr.dst_telok odr_dst_telok, 
            odr.dst_email odr_dst_email, 
            odr.dst_emailok odr_dst_emailok, 
            odr.shipcost odr_shipcost, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount
        from tranodrl a
            left join art art on a.art = art.id
            left join tranodr odr on a.odr = odr.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.odr, 
            a.art, 
            a.qty, 
            a.price, 
            a.amount, 
            art.id art_id, 
            art.sku art_sku, 
            art.barcode art_barcode, 
            art.rfid art_rfid, 
            art.uid art_uid, 
            art.gid art_gid, 
            art.mode art_mode, 
            art.acl art_acl, 
            art.label art_label, 
            art.description art_description, 
            art.icon art_icon, 
            art.priority art_priority, 
            art.flags art_flags, 
            art."state" art_state, 
            art.creation art_creation, 
            art.lastmod art_lastmod, 
            art."version" art_version, 
            art.model art_model, 
            art.proto art_proto, 
            art.cat art_cat, 
            art.phase art_phase, 
            art.uom art_uom, 
            art.props art_props, 
            art.finish art_finish, 
            art.price art_price, 
            odr.id odr_id, 
            odr.uid odr_uid, 
            odr.gid odr_gid, 
            odr.mode odr_mode, 
            odr.acl odr_acl, 
            odr.priority odr_priority, 
            odr.flags odr_flags, 
            odr."state" odr_state, 
            odr.t0 odr_t0, 
            odr.t1 odr_t1, 
            odr."year" odr_year, 
            odr.creation odr_creation, 
            odr.lastmod odr_lastmod, 
            odr."version" odr_version, 
            odr.subject odr_subject, 
            odr.op odr_op, 
            odr.text odr_text, 
            odr.form odr_form, 
            odr.formargs odr_formargs, 
            odr.props odr_props, 
            odr.cat odr_cat, 
            odr.phase odr_phase, 
            odr.prev odr_prev, 
            odr.saleodr odr_saleodr, 
            odr.storeodr odr_storeodr, 
            odr.shipper odr_shipper, 
            odr.src_alias odr_src_alias, 
            odr.src_ctprops odr_src_ctprops, 
            odr.src_address1 odr_src_address1, 
            odr.src_address2 odr_src_address2, 
            odr.src_zone odr_src_zone, 
            odr.src_tel odr_src_tel, 
            odr.src_telok odr_src_telok, 
            odr.src_email odr_src_email, 
            odr.src_emailok odr_src_emailok, 
            odr.dst_alias odr_dst_alias, 
            odr.dst_ctprops odr_dst_ctprops, 
            odr.dst_address1 odr_dst_address1, 
            odr.dst_address2 odr_dst_address2, 
            odr.dst_zone odr_dst_zone, 
            odr.dst_tel odr_dst_tel, 
            odr.dst_telok odr_dst_telok, 
            odr.dst_email odr_dst_email, 
            odr.dst_emailok odr_dst_emailok, 
            odr.shipcost odr_shipcost, 
            odr."length" odr_length, 
            odr.sum_qty odr_sum_qty, 
            odr.sum_amount odr_sum_amount
        from tranodrl a
            left join art art on a.art = art.id
            left join tranodr odr on a.odr = odr.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into tranodrl(
            priority,
            flags,
            "state",
            odr,
            art,
            qty,
            price,
            amount
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{orderId},
            #{artifactId},
            #{quantity},
            #{price},
            #{amount}
        );
    ]]></insert>

    <update id="update">
        update tranodrl
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            odr = #{orderId},
            art = #{artifactId},
            qty = #{quantity},
            price = #{price},
            amount = #{amount},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from tranodrl
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from tranodrl a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
