<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.schema.tran.dao.TransportOrderMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.schema.tran.TransportOrder">
        <id property="id" column="id" />
        <result property="accessMode" column="mode" />
        <result property="acl" column="acl" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="subject" column="subject" />
        <result property="rawText" column="text" />
        <result property="formArguments" column="formargs" />
        <result property="properties" column="props" />
        <result property="src.alias" column="src_alias" />
        <result property="src.properties" column="src_ctprops" />
        <result property="src.address1" column="src_address1" />
        <result property="src.address2" column="src_address2" />
        <result property="src.tel" column="src_tel" />
        <result property="src.telValidated" column="src_telok" />
        <result property="src.email" column="src_email" />
        <result property="src.emailValidated" column="src_emailok" />
        <result property="dst.alias" column="dst_alias" />
        <result property="dst.properties" column="dst_ctprops" />
        <result property="dst.address1" column="dst_address1" />
        <result property="dst.address2" column="dst_address2" />
        <result property="dst.tel" column="dst_tel" />
        <result property="dst.telValidated" column="dst_telok" />
        <result property="dst.email" column="dst_email" />
        <result property="dst.emailValidated" column="dst_emailok" />
        <result property="shipcost" column="shipcost" />
        <result property="length" column="length" />
        <result property="totalQuantity" column="sum_qty" />
        <result property="totalAmount" column="sum_amount" />
        <result property="ownerUserId" column="uid" />
        <result property="ownerGroupId" column="gid" />
        <result property="opId" column="op" />
        <result property="formId" column="form" />
        <result property="categoryId" column="cat" />
        <result property="phaseId" column="phase" />
        <result property="prevId" column="prev" />
        <result property="salesOrderId" column="saleodr" />
        <result property="storeodrId" column="storeodr" />
        <result property="shipperId" column="shipper" />
        <result property="src.zoneId" column="src_zone" />
        <result property="dst.zoneId" column="dst_zone" />
        <association property="op" columnPrefix="op_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="ownerGroup" columnPrefix="ownerGroup_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.Group" 
            resultMap="net.bodz.lily.schema.account.dao.GroupMapper.objlist_map" />
        <association property="ownerUser" columnPrefix="ownerUser_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
        <association property="prev" columnPrefix="prev_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.tran.TransportOrder" 
            resultMap="objlist_map" />
        <association property="form" columnPrefix="form_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.meta.FormDef" 
            resultMap="net.bodz.lily.schema.meta.dao.FormDefMapper.objlist_map" />
        <association property="shipper" columnPrefix="shipper_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.contact.Organization" 
            resultMap="net.bodz.lily.schema.contact.dao.OrganizationMapper.objlist_map" />
        <association property="dst.zone" columnPrefix="dst_zone_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.geo.Zone" 
            resultMap="net.bodz.lily.schema.geo.dao.ZoneMapper.objlist_map" />
        <association property="category" columnPrefix="category_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.tran.TransportCategory" 
            resultMap="net.bodz.violet.schema.tran.dao.TransportCategoryMapper.objlist_map" />
        <association property="src.zone" columnPrefix="src_zone_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.geo.Zone" 
            resultMap="net.bodz.lily.schema.geo.dao.ZoneMapper.objlist_map" />
        <association property="salesOrder" columnPrefix="saleodr_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.shop.SalesOrder" 
            resultMap="net.bodz.violet.schema.shop.dao.SalesOrderMapper.objlist_map" />
        <association property="phase" columnPrefix="phase_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.tran.TransportPhase" 
            resultMap="net.bodz.violet.schema.tran.dao.TransportPhaseMapper.objlist_map" />
        <association property="storeodr" columnPrefix="storeodr_" notNullColumn="id" 
            javaType="net.bodz.violet.schema.store.StoreOrder" 
            resultMap="net.bodz.violet.schema.store.dao.StoreOrderMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.props, 
            a.cat, 
            a.phase, 
            a.prev, 
            a.saleodr, 
            a.storeodr, 
            a.shipper, 
            a.src_alias, 
            a.src_ctprops, 
            a.src_address1, 
            a.src_address2, 
            a.src_zone, 
            a.src_tel, 
            a.src_telok, 
            a.src_email, 
            a.src_emailok, 
            a.dst_alias, 
            a.dst_ctprops, 
            a.dst_address1, 
            a.dst_address2, 
            a.dst_zone, 
            a.dst_tel, 
            a.dst_telok, 
            a.dst_email, 
            a.dst_emailok, 
            a.shipcost, 
            a."length", 
            a.sum_qty, 
            a.sum_amount, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            prev.id prev_id, 
            prev.uid prev_uid, 
            prev.gid prev_gid, 
            prev.mode prev_mode, 
            prev.acl prev_acl, 
            prev.priority prev_priority, 
            prev.flags prev_flags, 
            prev."state" prev_state, 
            prev.t0 prev_t0, 
            prev.t1 prev_t1, 
            prev."year" prev_year, 
            prev.creation prev_creation, 
            prev.lastmod prev_lastmod, 
            prev."version" prev_version, 
            prev.subject prev_subject, 
            prev.op prev_op, 
            prev.text prev_text, 
            prev.form prev_form, 
            prev.formargs prev_formargs, 
            prev.props prev_props, 
            prev.cat prev_cat, 
            prev.phase prev_phase, 
            prev.prev prev_prev, 
            prev.saleodr prev_saleodr, 
            prev.storeodr prev_storeodr, 
            prev.shipper prev_shipper, 
            prev.src_alias prev_src_alias, 
            prev.src_ctprops prev_src_ctprops, 
            prev.src_address1 prev_src_address1, 
            prev.src_address2 prev_src_address2, 
            prev.src_zone prev_src_zone, 
            prev.src_tel prev_src_tel, 
            prev.src_telok prev_src_telok, 
            prev.src_email prev_src_email, 
            prev.src_emailok prev_src_emailok, 
            prev.dst_alias prev_dst_alias, 
            prev.dst_ctprops prev_dst_ctprops, 
            prev.dst_address1 prev_dst_address1, 
            prev.dst_address2 prev_dst_address2, 
            prev.dst_zone prev_dst_zone, 
            prev.dst_tel prev_dst_tel, 
            prev.dst_telok prev_dst_telok, 
            prev.dst_email prev_dst_email, 
            prev.dst_emailok prev_dst_emailok, 
            prev.shipcost prev_shipcost, 
            prev."length" prev_length, 
            prev.sum_qty prev_sum_qty, 
            prev.sum_amount prev_sum_amount, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            shipper.id shipper_id, 
            shipper.uid shipper_uid, 
            shipper.gid shipper_gid, 
            shipper.mode shipper_mode, 
            shipper.acl shipper_acl, 
            shipper.label shipper_label, 
            shipper.description shipper_description, 
            shipper.icon shipper_icon, 
            shipper.priority shipper_priority, 
            shipper.flags shipper_flags, 
            shipper."state" shipper_state, 
            shipper.creation shipper_creation, 
            shipper.lastmod shipper_lastmod, 
            shipper."version" shipper_version, 
            shipper.alias shipper_alias, 
            shipper.ctprops shipper_ctprops, 
            shipper.address1 shipper_address1, 
            shipper.address2 shipper_address2, 
            shipper."zone" shipper_zone, 
            shipper.tel shipper_tel, 
            shipper.telok shipper_telok, 
            shipper.email shipper_email, 
            shipper.emailok shipper_emailok, 
            shipper.props shipper_props, 
            shipper.cat shipper_cat, 
            shipper.birthday shipper_birthday, 
            shipper.locale shipper_locale, 
            shipper.timezone shipper_timezone, 
            shipper.nrole shipper_nrole, 
            shipper.supplier shipper_supplier, 
            shipper.customer shipper_customer, 
            shipper.subject shipper_subject, 
            shipper.nbank shipper_nbank, 
            shipper."size" shipper_size, 
            shipper.taxid shipper_taxid, 
            dst_zone.id dst_zone_id, 
            dst_zone.code dst_zone_code, 
            dst_zone.uid dst_zone_uid, 
            dst_zone.gid dst_zone_gid, 
            dst_zone.mode dst_zone_mode, 
            dst_zone.acl dst_zone_acl, 
            dst_zone.label dst_zone_label, 
            dst_zone.description dst_zone_description, 
            dst_zone.icon dst_zone_icon, 
            dst_zone.priority dst_zone_priority, 
            dst_zone.flags dst_zone_flags, 
            dst_zone."state" dst_zone_state, 
            dst_zone.creation dst_zone_creation, 
            dst_zone.lastmod dst_zone_lastmod, 
            dst_zone."version" dst_zone_version, 
            dst_zone.cat dst_zone_cat, 
            dst_zone.country dst_zone_country, 
            dst_zone.parent dst_zone_parent, 
            dst_zone."depth" dst_zone_depth, 
            dst_zone.telcode dst_zone_telcode, 
            dst_zone.postcode dst_zone_postcode, 
            dst_zone.props dst_zone_props, 
            dst_zone."data" dst_zone_data, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref, 
            src_zone.id src_zone_id, 
            src_zone.code src_zone_code, 
            src_zone.uid src_zone_uid, 
            src_zone.gid src_zone_gid, 
            src_zone.mode src_zone_mode, 
            src_zone.acl src_zone_acl, 
            src_zone.label src_zone_label, 
            src_zone.description src_zone_description, 
            src_zone.icon src_zone_icon, 
            src_zone.priority src_zone_priority, 
            src_zone.flags src_zone_flags, 
            src_zone."state" src_zone_state, 
            src_zone.creation src_zone_creation, 
            src_zone.lastmod src_zone_lastmod, 
            src_zone."version" src_zone_version, 
            src_zone.cat src_zone_cat, 
            src_zone.country src_zone_country, 
            src_zone.parent src_zone_parent, 
            src_zone."depth" src_zone_depth, 
            src_zone.telcode src_zone_telcode, 
            src_zone.postcode src_zone_postcode, 
            src_zone.props src_zone_props, 
            src_zone."data" src_zone_data, 
            saleodr.id saleodr_id, 
            saleodr.uid saleodr_uid, 
            saleodr.gid saleodr_gid, 
            saleodr.mode saleodr_mode, 
            saleodr.acl saleodr_acl, 
            saleodr.priority saleodr_priority, 
            saleodr.flags saleodr_flags, 
            saleodr."state" saleodr_state, 
            saleodr.creation saleodr_creation, 
            saleodr.lastmod saleodr_lastmod, 
            saleodr."version" saleodr_version, 
            saleodr.t0 saleodr_t0, 
            saleodr.t1 saleodr_t1, 
            saleodr."year" saleodr_year, 
            saleodr.subject saleodr_subject, 
            saleodr.op saleodr_op, 
            saleodr.text saleodr_text, 
            saleodr.form saleodr_form, 
            saleodr.formargs saleodr_formargs, 
            saleodr.props saleodr_props, 
            saleodr.cat saleodr_cat, 
            saleodr.phase saleodr_phase, 
            saleodr.prev saleodr_prev, 
            saleodr.plan saleodr_plan, 
            saleodr.customer_org saleodr_customer_org, 
            saleodr.customer saleodr_customer, 
            saleodr."length" saleodr_length, 
            saleodr.sum_qty saleodr_sum_qty, 
            saleodr.sum_amount saleodr_sum_amount, 
            phase.id phase_id, 
            phase.uid phase_uid, 
            phase.gid phase_gid, 
            phase.mode phase_mode, 
            phase.acl phase_acl, 
            phase.code phase_code, 
            phase.label phase_label, 
            phase.description phase_description, 
            phase.icon phase_icon, 
            phase.priority phase_priority, 
            phase.flags phase_flags, 
            phase."state" phase_state, 
            phase.creation phase_creation, 
            phase.lastmod phase_lastmod, 
            phase."version" phase_version, 
            phase.nref phase_nref, 
            storeodr.id storeodr_id, 
            storeodr.uid storeodr_uid, 
            storeodr.gid storeodr_gid, 
            storeodr.mode storeodr_mode, 
            storeodr.acl storeodr_acl, 
            storeodr.priority storeodr_priority, 
            storeodr.flags storeodr_flags, 
            storeodr."state" storeodr_state, 
            storeodr.creation storeodr_creation, 
            storeodr.lastmod storeodr_lastmod, 
            storeodr."version" storeodr_version, 
            storeodr.t0 storeodr_t0, 
            storeodr.t1 storeodr_t1, 
            storeodr."year" storeodr_year, 
            storeodr.subject storeodr_subject, 
            storeodr.op storeodr_op, 
            storeodr.text storeodr_text, 
            storeodr.form storeodr_form, 
            storeodr.formargs storeodr_formargs, 
            storeodr.cat storeodr_cat, 
            storeodr.phase storeodr_phase, 
            storeodr.prev storeodr_prev, 
            storeodr.plan storeodr_plan, 
            storeodr.org storeodr_org, 
            storeodr.ou storeodr_ou, 
            storeodr.person storeodr_person, 
            storeodr."length" storeodr_length, 
            storeodr.sum_qty storeodr_sum_qty, 
            storeodr.sum_amount storeodr_sum_amount
        from tranodr a
            left join lily."user" op on a.op = op.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join tranodr prev on a.prev = prev.id
            left join lily._form form on a.form = form.id
            left join lily.org shipper on a.shipper = shipper.id
            left join lily."zone" dst_zone on a.dst_zone = dst_zone.id
            left join trancat category on a.cat = category.id
            left join lily."zone" src_zone on a.src_zone = src_zone.id
            left join saleodr saleodr on a.saleodr = saleodr.id
            left join tranphase phase on a.phase = phase.id
            left join storeodr storeodr on a.storeodr = storeodr.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.uid, 
            a.gid, 
            a.mode, 
            a.acl, 
            a.priority, 
            a.flags, 
            a."state", 
            a.t0, 
            a.t1, 
            a."year", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.props, 
            a.cat, 
            a.phase, 
            a.prev, 
            a.saleodr, 
            a.storeodr, 
            a.shipper, 
            a.src_alias, 
            a.src_ctprops, 
            a.src_address1, 
            a.src_address2, 
            a.src_zone, 
            a.src_tel, 
            a.src_telok, 
            a.src_email, 
            a.src_emailok, 
            a.dst_alias, 
            a.dst_ctprops, 
            a.dst_address1, 
            a.dst_address2, 
            a.dst_zone, 
            a.dst_tel, 
            a.dst_telok, 
            a.dst_email, 
            a.dst_emailok, 
            a.shipcost, 
            a."length", 
            a.sum_qty, 
            a.sum_amount, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person, 
            ownerGroup.id ownerGroup_id, 
            ownerGroup."name" ownerGroup_name, 
            ownerGroup."type" ownerGroup_type, 
            ownerGroup.label ownerGroup_label, 
            ownerGroup.description ownerGroup_description, 
            ownerGroup.icon ownerGroup_icon, 
            ownerGroup.priority ownerGroup_priority, 
            ownerGroup.flags ownerGroup_flags, 
            ownerGroup."state" ownerGroup_state, 
            ownerGroup.creation ownerGroup_creation, 
            ownerGroup.lastmod ownerGroup_lastmod, 
            ownerGroup."version" ownerGroup_version, 
            ownerGroup.props ownerGroup_props, 
            ownerGroup.parent ownerGroup_parent, 
            ownerUser.id ownerUser_id, 
            ownerUser."type" ownerUser_type, 
            ownerUser."name" ownerUser_name, 
            ownerUser.label ownerUser_label, 
            ownerUser.description ownerUser_description, 
            ownerUser.icon ownerUser_icon, 
            ownerUser.priority ownerUser_priority, 
            ownerUser.flags ownerUser_flags, 
            ownerUser."state" ownerUser_state, 
            ownerUser.creation ownerUser_creation, 
            ownerUser.lastmod ownerUser_lastmod, 
            ownerUser."version" ownerUser_version, 
            ownerUser.props ownerUser_props, 
            ownerUser.gid0 ownerUser_gid0, 
            ownerUser.referer ownerUser_referer, 
            ownerUser.person ownerUser_person, 
            prev.id prev_id, 
            prev.uid prev_uid, 
            prev.gid prev_gid, 
            prev.mode prev_mode, 
            prev.acl prev_acl, 
            prev.priority prev_priority, 
            prev.flags prev_flags, 
            prev."state" prev_state, 
            prev.t0 prev_t0, 
            prev.t1 prev_t1, 
            prev."year" prev_year, 
            prev.creation prev_creation, 
            prev.lastmod prev_lastmod, 
            prev."version" prev_version, 
            prev.subject prev_subject, 
            prev.op prev_op, 
            prev.text prev_text, 
            prev.form prev_form, 
            prev.formargs prev_formargs, 
            prev.props prev_props, 
            prev.cat prev_cat, 
            prev.phase prev_phase, 
            prev.prev prev_prev, 
            prev.saleodr prev_saleodr, 
            prev.storeodr prev_storeodr, 
            prev.shipper prev_shipper, 
            prev.src_alias prev_src_alias, 
            prev.src_ctprops prev_src_ctprops, 
            prev.src_address1 prev_src_address1, 
            prev.src_address2 prev_src_address2, 
            prev.src_zone prev_src_zone, 
            prev.src_tel prev_src_tel, 
            prev.src_telok prev_src_telok, 
            prev.src_email prev_src_email, 
            prev.src_emailok prev_src_emailok, 
            prev.dst_alias prev_dst_alias, 
            prev.dst_ctprops prev_dst_ctprops, 
            prev.dst_address1 prev_dst_address1, 
            prev.dst_address2 prev_dst_address2, 
            prev.dst_zone prev_dst_zone, 
            prev.dst_tel prev_dst_tel, 
            prev.dst_telok prev_dst_telok, 
            prev.dst_email prev_dst_email, 
            prev.dst_emailok prev_dst_emailok, 
            prev.shipcost prev_shipcost, 
            prev."length" prev_length, 
            prev.sum_qty prev_sum_qty, 
            prev.sum_amount prev_sum_amount, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            shipper.id shipper_id, 
            shipper.uid shipper_uid, 
            shipper.gid shipper_gid, 
            shipper.mode shipper_mode, 
            shipper.acl shipper_acl, 
            shipper.label shipper_label, 
            shipper.description shipper_description, 
            shipper.icon shipper_icon, 
            shipper.priority shipper_priority, 
            shipper.flags shipper_flags, 
            shipper."state" shipper_state, 
            shipper.creation shipper_creation, 
            shipper.lastmod shipper_lastmod, 
            shipper."version" shipper_version, 
            shipper.alias shipper_alias, 
            shipper.ctprops shipper_ctprops, 
            shipper.address1 shipper_address1, 
            shipper.address2 shipper_address2, 
            shipper."zone" shipper_zone, 
            shipper.tel shipper_tel, 
            shipper.telok shipper_telok, 
            shipper.email shipper_email, 
            shipper.emailok shipper_emailok, 
            shipper.props shipper_props, 
            shipper.cat shipper_cat, 
            shipper.birthday shipper_birthday, 
            shipper.locale shipper_locale, 
            shipper.timezone shipper_timezone, 
            shipper.nrole shipper_nrole, 
            shipper.supplier shipper_supplier, 
            shipper.customer shipper_customer, 
            shipper.subject shipper_subject, 
            shipper.nbank shipper_nbank, 
            shipper."size" shipper_size, 
            shipper.taxid shipper_taxid, 
            dst_zone.id dst_zone_id, 
            dst_zone.code dst_zone_code, 
            dst_zone.uid dst_zone_uid, 
            dst_zone.gid dst_zone_gid, 
            dst_zone.mode dst_zone_mode, 
            dst_zone.acl dst_zone_acl, 
            dst_zone.label dst_zone_label, 
            dst_zone.description dst_zone_description, 
            dst_zone.icon dst_zone_icon, 
            dst_zone.priority dst_zone_priority, 
            dst_zone.flags dst_zone_flags, 
            dst_zone."state" dst_zone_state, 
            dst_zone.creation dst_zone_creation, 
            dst_zone.lastmod dst_zone_lastmod, 
            dst_zone."version" dst_zone_version, 
            dst_zone.cat dst_zone_cat, 
            dst_zone.country dst_zone_country, 
            dst_zone.parent dst_zone_parent, 
            dst_zone."depth" dst_zone_depth, 
            dst_zone.telcode dst_zone_telcode, 
            dst_zone.postcode dst_zone_postcode, 
            dst_zone.props dst_zone_props, 
            dst_zone."data" dst_zone_data, 
            category.id category_id, 
            category."name" category_name, 
            category.uid category_uid, 
            category.gid category_gid, 
            category.mode category_mode, 
            category.acl category_acl, 
            category.label category_label, 
            category.description category_description, 
            category.icon category_icon, 
            category.priority category_priority, 
            category.flags category_flags, 
            category."state" category_state, 
            category.creation category_creation, 
            category.lastmod category_lastmod, 
            category."version" category_version, 
            category.props category_props, 
            category.parent category_parent, 
            category."depth" category_depth, 
            category.nref category_nref, 
            src_zone.id src_zone_id, 
            src_zone.code src_zone_code, 
            src_zone.uid src_zone_uid, 
            src_zone.gid src_zone_gid, 
            src_zone.mode src_zone_mode, 
            src_zone.acl src_zone_acl, 
            src_zone.label src_zone_label, 
            src_zone.description src_zone_description, 
            src_zone.icon src_zone_icon, 
            src_zone.priority src_zone_priority, 
            src_zone.flags src_zone_flags, 
            src_zone."state" src_zone_state, 
            src_zone.creation src_zone_creation, 
            src_zone.lastmod src_zone_lastmod, 
            src_zone."version" src_zone_version, 
            src_zone.cat src_zone_cat, 
            src_zone.country src_zone_country, 
            src_zone.parent src_zone_parent, 
            src_zone."depth" src_zone_depth, 
            src_zone.telcode src_zone_telcode, 
            src_zone.postcode src_zone_postcode, 
            src_zone.props src_zone_props, 
            src_zone."data" src_zone_data, 
            saleodr.id saleodr_id, 
            saleodr.uid saleodr_uid, 
            saleodr.gid saleodr_gid, 
            saleodr.mode saleodr_mode, 
            saleodr.acl saleodr_acl, 
            saleodr.priority saleodr_priority, 
            saleodr.flags saleodr_flags, 
            saleodr."state" saleodr_state, 
            saleodr.creation saleodr_creation, 
            saleodr.lastmod saleodr_lastmod, 
            saleodr."version" saleodr_version, 
            saleodr.t0 saleodr_t0, 
            saleodr.t1 saleodr_t1, 
            saleodr."year" saleodr_year, 
            saleodr.subject saleodr_subject, 
            saleodr.op saleodr_op, 
            saleodr.text saleodr_text, 
            saleodr.form saleodr_form, 
            saleodr.formargs saleodr_formargs, 
            saleodr.props saleodr_props, 
            saleodr.cat saleodr_cat, 
            saleodr.phase saleodr_phase, 
            saleodr.prev saleodr_prev, 
            saleodr.plan saleodr_plan, 
            saleodr.customer_org saleodr_customer_org, 
            saleodr.customer saleodr_customer, 
            saleodr."length" saleodr_length, 
            saleodr.sum_qty saleodr_sum_qty, 
            saleodr.sum_amount saleodr_sum_amount, 
            phase.id phase_id, 
            phase.uid phase_uid, 
            phase.gid phase_gid, 
            phase.mode phase_mode, 
            phase.acl phase_acl, 
            phase.code phase_code, 
            phase.label phase_label, 
            phase.description phase_description, 
            phase.icon phase_icon, 
            phase.priority phase_priority, 
            phase.flags phase_flags, 
            phase."state" phase_state, 
            phase.creation phase_creation, 
            phase.lastmod phase_lastmod, 
            phase."version" phase_version, 
            phase.nref phase_nref, 
            storeodr.id storeodr_id, 
            storeodr.uid storeodr_uid, 
            storeodr.gid storeodr_gid, 
            storeodr.mode storeodr_mode, 
            storeodr.acl storeodr_acl, 
            storeodr.priority storeodr_priority, 
            storeodr.flags storeodr_flags, 
            storeodr."state" storeodr_state, 
            storeodr.creation storeodr_creation, 
            storeodr.lastmod storeodr_lastmod, 
            storeodr."version" storeodr_version, 
            storeodr.t0 storeodr_t0, 
            storeodr.t1 storeodr_t1, 
            storeodr."year" storeodr_year, 
            storeodr.subject storeodr_subject, 
            storeodr.op storeodr_op, 
            storeodr.text storeodr_text, 
            storeodr.form storeodr_form, 
            storeodr.formargs storeodr_formargs, 
            storeodr.cat storeodr_cat, 
            storeodr.phase storeodr_phase, 
            storeodr.prev storeodr_prev, 
            storeodr.plan storeodr_plan, 
            storeodr.org storeodr_org, 
            storeodr.ou storeodr_ou, 
            storeodr.person storeodr_person, 
            storeodr."length" storeodr_length, 
            storeodr.sum_qty storeodr_sum_qty, 
            storeodr.sum_amount storeodr_sum_amount
        from tranodr a
            left join lily."user" op on a.op = op.id
            left join lily."group" ownerGroup on a.gid = ownerGroup.id
            left join lily."user" ownerUser on a.uid = ownerUser.id
            left join tranodr prev on a.prev = prev.id
            left join lily._form form on a.form = form.id
            left join lily.org shipper on a.shipper = shipper.id
            left join lily."zone" dst_zone on a.dst_zone = dst_zone.id
            left join trancat category on a.cat = category.id
            left join lily."zone" src_zone on a.src_zone = src_zone.id
            left join saleodr saleodr on a.saleodr = saleodr.id
            left join tranphase phase on a.phase = phase.id
            left join storeodr storeodr on a.storeodr = storeodr.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into tranodr(
            uid,
            gid,
            mode,
            acl,
            priority,
            flags,
            "state",
            t0,
            t1,
            "year",
            creation,
            lastmod,
            "version",
            subject,
            op,
            text,
            form,
            formargs,
            props,
            cat,
            phase,
            prev,
            saleodr,
            storeodr,
            shipper,
            src_alias,
            src_ctprops,
            src_address1,
            src_address2,
            src_zone,
            src_tel,
            src_telok,
            src_email,
            src_emailok,
            dst_alias,
            dst_ctprops,
            dst_address1,
            dst_address2,
            dst_zone,
            dst_tel,
            dst_telok,
            dst_email,
            dst_emailok,
            shipcost,
            "length",
            sum_qty,
            sum_amount
        ) values(
            #{ownerUserId},
            #{ownerGroupId},
            #{accessMode},
            #{acl},
            #{priority},
            #{flags},
            #{state},
            #{beginTime},
            #{endTime},
            #{year},
            #{creationDate},
            #{lastModified},
            #{version},
            #{subject},
            #{opId},
            #{rawText},
            #{formId},
            #{formArguments},
            #{properties},
            #{categoryId},
            #{phaseId},
            #{prevId},
            #{salesOrderId},
            #{storeodrId},
            #{shipperId},
            #{src.alias},
            #{src.properties},
            #{src.address1},
            #{src.address2},
            #{src.zoneId},
            #{src.tel},
            #{src.telValidated},
            #{src.email},
            #{src.emailValidated},
            #{dst.alias},
            #{dst.properties},
            #{dst.address1},
            #{dst.address2},
            #{dst.zoneId},
            #{dst.tel},
            #{dst.telValidated},
            #{dst.email},
            #{dst.emailValidated},
            #{shipcost},
            #{length},
            #{totalQuantity},
            #{totalAmount}
        );
    ]]></insert>

    <update id="update">
        update tranodr
        <set>
            uid = #{ownerUserId},
            gid = #{ownerGroupId},
            mode = #{accessMode},
            acl = #{acl},
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            subject = #{subject},
            op = #{opId},
            text = #{rawText},
            form = #{formId},
            formargs = #{formArguments},
            props = #{properties},
            cat = #{categoryId},
            phase = #{phaseId},
            prev = #{prevId},
            saleodr = #{salesOrderId},
            storeodr = #{storeodrId},
            shipper = #{shipperId},
            src_alias = #{src.alias},
            src_ctprops = #{src.properties},
            src_address1 = #{src.address1},
            src_address2 = #{src.address2},
            src_zone = #{src.zoneId},
            src_tel = #{src.tel},
            src_telok = #{src.telValidated},
            src_email = #{src.email},
            src_emailok = #{src.emailValidated},
            dst_alias = #{dst.alias},
            dst_ctprops = #{dst.properties},
            dst_address1 = #{dst.address1},
            dst_address2 = #{dst.address2},
            dst_zone = #{dst.zoneId},
            dst_tel = #{dst.tel},
            dst_telok = #{dst.telValidated},
            dst_email = #{dst.email},
            dst_emailok = #{dst.emailValidated},
            shipcost = #{shipcost},
            "length" = #{length},
            sum_qty = #{totalQuantity},
            sum_amount = #{totalAmount},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from tranodr
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from tranodr a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    <include refid="co.countOpts" />
    </select>

</mapper>
