<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.model.base.security.GroupMapper">

    <resultMap id="User_U" type="net.bodz.lily.model.base.security.User" extends="co.mapU">
        <id property="id" column="id" />
    </resultMap>

    <resultMap id="Group_X" type="net.bodz.lily.model.base.security.Group" extends="co.mapUS">
        <id property="id" column="id" />

        <collection property="users" columnPrefix="h_" resultMap="User_U" />
    </resultMap>

    <sql id="selectGroup_X"><![CDATA[
        select
            g.id,
            g.code,
            g.label,
            g.description,
            
            u.id "h_id",
            u.code "h_code",
            u.label "h_label",
            u.description "h_description"
        from "group" g
            left join group_user a on a."group"=g.id
            left join "user" u on u.id=a."user" 
        ]]>
    </sql>

    <select id="all" resultMap="Group_X">
        <include refid="selectGroup_X" />
    </select>

    <select id="select" parameterType="int" resultMap="Group_X">
        <include refid="selectGroup_X" />
        <where>
            <if test="_parameter != null">g.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="int">
        <![CDATA[
        insert into "group"(code, label, description)
        values(#{codeName},#{label},#{description})
        returning id
    ]]></select>

    <update id="update">
        update "group"
        <set>
            <include refid="co.setU" />
        </set>
        where id=#{id}
    </update>

</mapper>