<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.model.base.security.UserMapper">

    <resultMap id="Group_U" type="net.bodz.lily.model.base.security.Group" extends="co.mapU">
        <id property="id" column="id" />
    </resultMap>

    <resultMap id="User_X" type="net.bodz.lily.model.base.security.User" extends="co.mapUS">
        <id property="id" column="id" />
        <result property="email" column="email" />
        <result property="emailValidated" column="emailok" />
        <result property="salt" column="salt" />
        <result property="password" column="passwd" />
        <result property="lastLoginTime" column="lastlog" />
        <result property="lastLoginIP" column="lastlogip" typeHandler="PgInetAddressTypeHandler" />

        <association property="primaryGroup" columnPrefix="g_" resultMap="Group_U" />
        <collection property="groups" columnPrefix="h_" resultMap="Group_U" />
    </resultMap>

    <sql id="selectUser_X"><![CDATA[
        select
            u.id,
            u.code,
            u.label,
            u.description,
            
            gid0,
            email,
            emailok,
            salt,
            passwd,
            lastlog,
            lastlogip,
            
            g.id "g_id",
            g.code "g_code",
            g.label "g_label",
            g.description "g_description",
            
            h.id "h_id",
            h.code "h_code",
            h.label "h_label",
            h.description "h_description"
        from "user" u
            left join "group" g on u.gid0=g.id
            left join group_user a on a."user"=u.id
            left join "group" h on h.id=a."group" 
        ]]>
    </sql>

    <select id="all" resultMap="User_X">
        <include refid="selectUser_X" />
    </select>

    <select id="select" parameterType="int" resultMap="User_X">
        <include refid="selectUser_X" />
        <where>
            <if test="_parameter != null">u.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="int">
        <![CDATA[
        insert into "user"(code, label, description, gid0, email, salt, passwd)
        values(#{codeName},#{label},#{description},
            #{primaryGroup.id}, #{email}, #{salt}, #{password})
        returning id
    ]]></select>

    <update id="update">
        update "user"
        <set>
            <include refid="co.setU" />
        </set>
        where id=#{id}
    </update>

</mapper>