<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.fab.dao.FabTrackPartyMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.fab.FabTrackParty">
        <id property="id" column="id" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="role" column="role" />
        <result property="trackId" column="track" />
        <result property="personId" column="person" />
        <association property="person" columnPrefix="person_"
            javaType="net.bodz.lily.contact.Person" 
            resultMap="net.bodz.lily.contact.dao.PersonMapper.objlist_map" />
        <association property="track" columnPrefix="track_"
            javaType="net.bodz.violet.fab.FabTrack" 
            resultMap="net.bodz.violet.fab.FabTrackMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.track, 
            a.person, 
            a."role", 
            person.id person_id, 
            person.uid person_uid, 
            person.gid person_gid, 
            person.mode person_mode, 
            person.acl person_acl, 
            person.label person_label, 
            person.description person_description, 
            person.priority person_priority, 
            person.flags person_flags, 
            person."state" person_state, 
            person.creation person_creation, 
            person.lastmod person_lastmod, 
            person."version" person_version, 
            person.alias person_alias, 
            person.ctprops person_ctprops, 
            person.address1 person_address1, 
            person.address2 person_address2, 
            person."zone" person_zone, 
            person.tel person_tel, 
            person.telok person_telok, 
            person.email person_email, 
            person.emailok person_emailok, 
            person.props person_props, 
            person.cat person_cat, 
            person.birthday person_birthday, 
            person.locale person_locale, 
            person.timezone person_timezone, 
            person.nrole person_nrole, 
            person.customer person_customer, 
            person.supplier person_supplier, 
            person.employee person_employee, 
            person.subject person_subject, 
            person.nbank person_nbank, 
            person.gender person_gender, 
            person.homeland person_homeland, 
            person.passport person_passport, 
            person.ssn person_ssn, 
            person.dln person_dln, 
            track.id track_id, 
            track.uid track_uid, 
            track.gid track_gid, 
            track.mode track_mode, 
            track.acl track_acl, 
            track.label track_label, 
            track.description track_description, 
            track.priority track_priority, 
            track.flags track_flags, 
            track."state" track_state, 
            track.creation track_creation, 
            track.lastmod track_lastmod, 
            track."version" track_version, 
            track.t0 track_t0, 
            track.t1 track_t1, 
            track."year" track_year, 
            track.proc track_proc, 
            track.since track_since, 
            track.deadline track_deadline, 
            track.qty_plan track_qty_plan, 
            track.qty_actual track_qty_actual, 
            track.qty_valid track_qty_valid, 
            track.ou track_ou
        from fabtrack_op a
            left join lily.person person on a.person = person.id
            left join fabtrack track on a.track = track.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.track, 
            a.person, 
            a."role", 
            person.id person_id, 
            person.uid person_uid, 
            person.gid person_gid, 
            person.mode person_mode, 
            person.acl person_acl, 
            person.label person_label, 
            person.description person_description, 
            person.priority person_priority, 
            person.flags person_flags, 
            person."state" person_state, 
            person.creation person_creation, 
            person.lastmod person_lastmod, 
            person."version" person_version, 
            person.alias person_alias, 
            person.ctprops person_ctprops, 
            person.address1 person_address1, 
            person.address2 person_address2, 
            person."zone" person_zone, 
            person.tel person_tel, 
            person.telok person_telok, 
            person.email person_email, 
            person.emailok person_emailok, 
            person.props person_props, 
            person.cat person_cat, 
            person.birthday person_birthday, 
            person.locale person_locale, 
            person.timezone person_timezone, 
            person.nrole person_nrole, 
            person.customer person_customer, 
            person.supplier person_supplier, 
            person.employee person_employee, 
            person.subject person_subject, 
            person.nbank person_nbank, 
            person.gender person_gender, 
            person.homeland person_homeland, 
            person.passport person_passport, 
            person.ssn person_ssn, 
            person.dln person_dln, 
            track.id track_id, 
            track.uid track_uid, 
            track.gid track_gid, 
            track.mode track_mode, 
            track.acl track_acl, 
            track.label track_label, 
            track.description track_description, 
            track.priority track_priority, 
            track.flags track_flags, 
            track."state" track_state, 
            track.creation track_creation, 
            track.lastmod track_lastmod, 
            track."version" track_version, 
            track.t0 track_t0, 
            track.t1 track_t1, 
            track."year" track_year, 
            track.proc track_proc, 
            track.since track_since, 
            track.deadline track_deadline, 
            track.qty_plan track_qty_plan, 
            track.qty_actual track_qty_actual, 
            track.qty_valid track_qty_valid, 
            track.ou track_ou
        from fabtrack_op a
            left join lily.person person on a.person = person.id
            left join fabtrack track on a.track = track.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into fabtrack_op(
            creation,
            lastmod,
            "version",
            track,
            person,
            "role"
        ) values(
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{trackId},
            #{personId},
            #{role}
        );
    ]]></insert>

    <update id="update">
        update fabtrack_op
        <set>
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            track = #{trackId},
            person = #{personId},
            "role" = #{role},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from fabtrack_op
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from fabtrack_op
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
