<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.impl.PriorityDefMapper">

    <resultMap id="map1" type="net.bodz.lily.schema.PriorityDef" extends="co.MAP_ALL">
        <association property="schema" javaType="net.bodz.lily.schema.SchemaDef">
            <id property="id" column="schema" />
            <id property="label" column="schema_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select a.*, s.label schema_label
        from _priority a
            left join _schema s on a.schema=s.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select a.*, s.label schema_label
        from _priority a
            left join _schema s on a.schema=s.id
        ]]>
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <if test="m.schemaId != null">and a.schema=#{m.schemaId}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into _priority(
            label, description,
            priority, flags, state,
            schema
        ) values(
            #{label},#{description},
            #{priority}, #{flags}, #{state},
            #{schema.id}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update _priority
        <set>
            <include refid="co.setUS" />
            schema = #{schema.id},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from _priority where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from _priority
    </select>
    
</mapper>
