<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.impl.TagGroupDefMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.TagGroupDef" extends="co.MAP_ALL">
        <association property="schema" javaType="net.bodz.lily.schema.SchemaDef">
            <id property="id" column="schema" />
            <id property="label" column="schema_label" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select a.*, s.label schema_label
        from _tagv a
            left join _schema s on a.schema=s.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select a.*, s.label schema_label
        from _tagv a
            left join _schema s on a.schema=s.id
        ]]>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <if test="m.schemaId != null">and a.schema=#{m.schemaId}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into _tagv(
            label, description,
            priority, flags, state,
            schema
        ) values(
            #{label},#{description},
            #{priority}, #{flags}, #{state},
            #{schema.id}
        );
    ]]></insert>

    <update id="update">
        update _tagv
        <set>
            <include refid="co.setUS" />
            schema = #{schema.id},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from _tagv where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from _tagv
    </select>
    
</mapper>
