<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.model.base.schema.impl.SchemaDefMapper">

    <resultMap id="map1" type="net.bodz.lily.model.base.schema.SchemaDef" extends="base.mapUS">
    </resultMap>

    <sql id="select1"><![CDATA[
        select a.* from schema a
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select a.*, from schema a
        ]]>
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <if test="categoryId != null">and a.id=#{categoryId}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="int">
        <![CDATA[
        insert into schema(code, label, description)
            values(#{codeName},#{label},#{description})
            returning id
    ]]></select>

    <update id="update">
        update schema
        <set>
            <include refid="base.setUS" />
        </set>
        <where>
            <if test="id != null">id=#{id}, </if>
        </where>
    </update>

    <delete id="delete">
        delete from schema where id=#{id}
    </delete>
    
</mapper>
