<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.pub.impl.PostTalkMapper">

    <resultMap id="map1" type="net.bodz.lily.pub.PostTalk" extends="message.MAP_ALL">
        <association property="post" javaType="net.bodz.lily.pub.Post">
            <id property="id" column="post" />
            <result property="label" column="post_label" />
        </association>
        <association property="parent" javaType="net.bodz.lily.pub.PostTalk">
            <id property="id" column="parent" />
            <result property="label" column="parent_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            op.label "op_label",
            post.subject "post_subject",
            parent.subject "parent_subject"
        from post_msg a
            left join "user" op on a.op = op.id
            left join post on a.post = post.id
            left join post_msg parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            op.label "op_label",
            post.subject "post_subject",
            parent.subject "parent_subject"
        from post_msg a
            left join "user" op on a.op = op.id
            left join post on a.post = post.id
            left join post_msg parent on a.parent = parent.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into post_msg(
            priority, flags, state,
            t0, t1,
            op, subject, text,
            parent,
            post
        ) values(
            #{priority}, #{flags}, #{state},
            #{beginDate}, #{endDate},
            #{op.id}, #{subject}, #{text},
            #{parent.id},
            #{post.id}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update post_msg
        <set>
            <include refid="co.setVS" />
            <include refid="mi.setT" />
            <include refid="message.setUM" />
            parent = #{parent.id},
            post = #{post.id},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from post_msg where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from post_msg
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
