<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.util.dao.UomMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.util.Uom">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="label" column="label" />
        <result property="description" column="description" />
        <result property="properties.jsonStr" column="props" />
        <result property="prop" column="prop" />
        <result property="scale" column="scale" />
        <result property="stdId" column="std" />
        <association property="std" columnPrefix="std_"
            javaType="net.bodz.lily.util.Uom" 
            resultMap="objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.props, 
            a.prop, 
            a.std, 
            a."scale", 
            std.id std_id, 
            std.code std_code, 
            std.label std_label, 
            std.description std_description, 
            std.props std_props, 
            std.prop std_prop, 
            std.std std_std, 
            std."scale" std_scale
        from uom a
            left join uom std on a.std = std.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.code, 
            a.label, 
            a.description, 
            a.props, 
            a.prop, 
            a.std, 
            a."scale", 
            std.id std_id, 
            std.code std_code, 
            std.label std_label, 
            std.description std_description, 
            std.props std_props, 
            std.prop std_prop, 
            std.std std_std, 
            std."scale" std_scale
        from uom a
            left join uom std on a.std = std.id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="m.id != null">and a.id = #{m.id}</if>
        <if test="m.idRange!= null">
            <if test="m.idRange.hasStartIncl">and a.id >= #{m.idRange.start}</if>
            <if test="m.idRange.hasStartExcl">and a.id > #{m.idRange.start}</if>
            <if test="m.idRange.hasEndIncl">and a.id &lt;= #{m.idRange.end}</if>
            <if test="m.idRange.hasEndExcl">and a.id &lt; #{m.idRange.end}</if>
        </if>
        <if test="m.code != null">and a.code = #{m.code}</if>
        <if test="m.codePattern != null">and a.code like '${m.codePattern}'</if>
        <if test="m.label != null">and a.label = #{m.label}</if>
        <if test="m.labelPattern != null">and a.label like '${m.labelPattern}'</if>
        <if test="m.description != null">and a.description = #{m.description}</if>
        <if test="m.descriptionPattern != null">and a.description like '${m.descriptionPattern}'</if>
        <if test="m.properties != null">and a.props = #{m.properties}</if>
        <if test="m.prop != null">and a.prop = #{m.prop}</if>
        <if test="m.propPattern != null">and a.prop like '${m.propPattern}'</if>
        <if test="m.stdId != null">and a.std = #{m.stdId}</if>
        <if test="m.stdIdRange!= null">
            <if test="m.stdIdRange.hasStartIncl">and a.std >= #{m.stdIdRange.start}</if>
            <if test="m.stdIdRange.hasStartExcl">and a.std > #{m.stdIdRange.start}</if>
            <if test="m.stdIdRange.hasEndIncl">and a.std &lt;= #{m.stdIdRange.end}</if>
            <if test="m.stdIdRange.hasEndExcl">and a.std &lt; #{m.stdIdRange.end}</if>
        </if>
        <if test="m.scale != null">and a."scale" = #{m.scale}</if>
        <if test="m.scaleRange!= null">
            <if test="m.scaleRange.hasStartIncl">and a."scale" >= #{m.scaleRange.start}</if>
            <if test="m.scaleRange.hasStartExcl">and a."scale" > #{m.scaleRange.start}</if>
            <if test="m.scaleRange.hasEndIncl">and a."scale" &lt;= #{m.scaleRange.end}</if>
            <if test="m.scaleRange.hasEndExcl">and a."scale" &lt; #{m.scaleRange.end}</if>
        </if>
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into uom(
            code,
            label,
            description,
            props,
            prop,
            std,
            "scale"
        ) values(
            #{code},
            #{label},
            #{description},
            #{properties.jsonStr}::jsonb,
            #{prop},
            #{stdId},
            #{scale}
        );
    ]]></insert>

    <update id="update">
        update uom
        <set>
            code = #{code},
            label = #{label},
            description = #{description},
            props = #{properties.jsonStr}::jsonb,
            prop = #{prop},
            std = #{stdId},
            "scale" = #{scale},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from uom
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from uom
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

    <update id="delete_xrefs">
        alter table lily.uom drop constraint uom_std_fkey;
        alter table violet.art drop constraint art_uom_fkey;
    </update>

    <update id="create_xrefs">
        alter table lily.uom
            add constraint uom_std_fkey foreign key (std)
            references lily.uom (id)
            on update cascade
            ;
        alter table violet.art
            add constraint art_uom_fkey foreign key (uom)
            references lily.uom (id)
            on update cascade
            ;
    </update>

</mapper>
