<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.pub.dao.ArticleTalkMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.pub.ArticleTalk">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="subject" column="subject" />
        <result property="rawText" column="text" />
        <result property="formArguments" column="formargs" />
        <result property="opId" column="op" />
        <result property="formId" column="form" />
        <result property="articleId" column="article" />
        <result property="parentId" column="parent" />
        <association property="form" columnPrefix="form_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.meta.FormDef" 
            resultMap="net.bodz.lily.schema.meta.dao.FormDefMapper.objlist_map" />
        <association property="article" columnPrefix="article_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.pub.Article" 
            resultMap="net.bodz.lily.schema.pub.dao.ArticleMapper.objlist_map" />
        <association property="parent" columnPrefix="parent_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.pub.ArticleTalk" 
            resultMap="objlist_map" />
        <association property="op" columnPrefix="op_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.article, 
            a.parent, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            article.id article_id, 
            article.uid article_uid, 
            article.gid article_gid, 
            article.mode article_mode, 
            article.acl article_acl, 
            article.label article_label, 
            article.description article_description, 
            article.icon article_icon, 
            article.priority article_priority, 
            article.flags article_flags, 
            article."state" article_state, 
            article.creation article_creation, 
            article.lastmod article_lastmod, 
            article."version" article_version, 
            article.t0 article_t0, 
            article.t1 article_t1, 
            article."year" article_year, 
            article.subject article_subject, 
            article.op article_op, 
            article.text article_text, 
            article.form article_form, 
            article.formargs article_formargs, 
            article.cat article_cat, 
            article.props article_props, 
            article.nfav article_nfav, 
            article.nvote article_nvote, 
            article.nhate article_nhate, 
            article.nmsg article_nmsg, 
            article.plugins article_plugins, 
            parent.id parent_id, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.article parent_article, 
            parent.parent parent_parent, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person
        from article_msg a
            left join _form form on a.form = form.id
            left join article article on a.article = article.id
            left join article_msg parent on a.parent = parent.id
            left join "user" op on a.op = op.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.article, 
            a.parent, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            article.id article_id, 
            article.uid article_uid, 
            article.gid article_gid, 
            article.mode article_mode, 
            article.acl article_acl, 
            article.label article_label, 
            article.description article_description, 
            article.icon article_icon, 
            article.priority article_priority, 
            article.flags article_flags, 
            article."state" article_state, 
            article.creation article_creation, 
            article.lastmod article_lastmod, 
            article."version" article_version, 
            article.t0 article_t0, 
            article.t1 article_t1, 
            article."year" article_year, 
            article.subject article_subject, 
            article.op article_op, 
            article.text article_text, 
            article.form article_form, 
            article.formargs article_formargs, 
            article.cat article_cat, 
            article.props article_props, 
            article.nfav article_nfav, 
            article.nvote article_nvote, 
            article.nhate article_nhate, 
            article.nmsg article_nmsg, 
            article.plugins article_plugins, 
            parent.id parent_id, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.article parent_article, 
            parent.parent parent_parent, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person
        from article_msg a
            left join _form form on a.form = form.id
            left join article article on a.article = article.id
            left join article_msg parent on a.parent = parent.id
            left join "user" op on a.op = op.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.andSqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into article_msg(
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            subject,
            op,
            text,
            form,
            formargs,
            article,
            parent
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{subject},
            #{opId},
            #{rawText},
            #{formId},
            #{formArguments},
            #{articleId},
            #{parentId}
        );
    ]]></insert>

    <update id="update">
        update article_msg
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            subject = #{subject},
            op = #{opId},
            text = #{rawText},
            form = #{formId},
            formargs = #{formArguments},
            article = #{articleId},
            parent = #{parentId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from article_msg
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from article_msg a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        <include refid="co.countOpts" />
    </select>

</mapper>
