<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.pub.dao.PostParameterMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.pub.PostParameter">
        <id property="id" column="id" />
        <result property="creationDate" column="creation" />
        <result property="lastModifiedDate" column="lastmod" />
        <result property="version" column="version" />
        <result property="ival" column="ival" />
        <result property="fval" column="fval" />
        <result property="sval" column="sval" />
        <result property="postId" column="post" />
        <result property="parameterId" column="parm" />
        <association property="post" columnPrefix="post_"
            javaType="net.bodz.lily.schema.pub.Post" 
            resultMap="net.bodz.lily.schema.pub.dao.PostMapper.objlist_map" />
        <association property="parameter" columnPrefix="parm_"
            javaType="net.bodz.lily.schema.pub.PostParameterType" 
            resultMap="net.bodz.lily.schema.pub.dao.PostParameterTypeMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.post, 
            a.parm, 
            a.ival, 
            a.fval, 
            a.sval, 
            post.id post_id, 
            post.uid post_uid, 
            post.gid post_gid, 
            post.mode post_mode, 
            post.acl post_acl, 
            post.priority post_priority, 
            post.flags post_flags, 
            post."state" post_state, 
            post.creation post_creation, 
            post.lastmod post_lastmod, 
            post."version" post_version, 
            post.t0 post_t0, 
            post.t1 post_t1, 
            post."year" post_year, 
            post.subject post_subject, 
            post.op post_op, 
            post.text post_text, 
            post.form post_form, 
            post.formargs post_formargs, 
            post.parent post_parent, 
            post.cat post_cat, 
            post.nfav post_nfav, 
            post.nvote post_nvote, 
            post.nhate post_nhate, 
            post.nmsg post_nmsg, 
            post.plugins post_plugins, 
            parm.id parm_id, 
            parm.uid parm_uid, 
            parm.gid parm_gid, 
            parm.mode parm_mode, 
            parm.acl parm_acl, 
            parm."name" parm_name, 
            parm.label parm_label, 
            parm.description parm_description, 
            parm.icon parm_icon, 
            parm.priority parm_priority, 
            parm.flags parm_flags, 
            parm."state" parm_state, 
            parm.creation parm_creation, 
            parm.lastmod parm_lastmod, 
            parm."version" parm_version, 
            parm.dummy parm_dummy
        from post_parm a
            left join post post on a.post = post.id
            left join postparm parm on a.parm = parm.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.post, 
            a.parm, 
            a.ival, 
            a.fval, 
            a.sval, 
            post.id post_id, 
            post.uid post_uid, 
            post.gid post_gid, 
            post.mode post_mode, 
            post.acl post_acl, 
            post.priority post_priority, 
            post.flags post_flags, 
            post."state" post_state, 
            post.creation post_creation, 
            post.lastmod post_lastmod, 
            post."version" post_version, 
            post.t0 post_t0, 
            post.t1 post_t1, 
            post."year" post_year, 
            post.subject post_subject, 
            post.op post_op, 
            post.text post_text, 
            post.form post_form, 
            post.formargs post_formargs, 
            post.parent post_parent, 
            post.cat post_cat, 
            post.nfav post_nfav, 
            post.nvote post_nvote, 
            post.nhate post_nhate, 
            post.nmsg post_nmsg, 
            post.plugins post_plugins, 
            parm.id parm_id, 
            parm.uid parm_uid, 
            parm.gid parm_gid, 
            parm.mode parm_mode, 
            parm.acl parm_acl, 
            parm."name" parm_name, 
            parm.label parm_label, 
            parm.description parm_description, 
            parm.icon parm_icon, 
            parm.priority parm_priority, 
            parm.flags parm_flags, 
            parm."state" parm_state, 
            parm.creation parm_creation, 
            parm.lastmod parm_lastmod, 
            parm."version" parm_version, 
            parm.dummy parm_dummy
        from post_parm a
            left join post post on a.post = post.id
            left join postparm parm on a.parm = parm.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into post_parm(
            creation,
            lastmod,
            "version",
            post,
            parm,
            ival,
            fval,
            sval
        ) values(
            #{creationDate},
            #{lastModifiedDate},
            #{version},
            #{postId},
            #{parameterId},
            #{ival},
            #{fval},
            #{sval}
        );
    ]]></insert>

    <update id="update">
        update post_parm
        <set>
            creation = #{creationDate},
            lastmod = #{lastModifiedDate},
            "version" = #{version},
            post = #{postId},
            parm = #{parameterId},
            ival = #{ival},
            fval = #{fval},
            sval = #{sval},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from post_parm
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from post_parm a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
