<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.lily.schema.pub.dao.PostTalkMapper">

    <resultMap id="objlist_map" type="net.bodz.lily.schema.pub.PostTalk">
        <id property="id" column="id" />
        <result property="priority" column="priority" />
        <result property="flags" column="flags" />
        <result property="state" column="state" />
        <result property="creationDate" column="creation" />
        <result property="lastModified" column="lastmod" />
        <result property="version" column="version" />
        <result property="beginTime" column="t0" />
        <result property="endTime" column="t1" />
        <result property="year" column="year" />
        <result property="subject" column="subject" />
        <result property="rawText" column="text" />
        <result property="formArguments" column="formargs" />
        <result property="opId" column="op" />
        <result property="formId" column="form" />
        <result property="postId" column="post" />
        <result property="parentId" column="parent" />
        <association property="post" columnPrefix="post_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.pub.Post" 
            resultMap="net.bodz.lily.schema.pub.dao.PostMapper.objlist_map" />
        <association property="form" columnPrefix="form_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.meta.FormDef" 
            resultMap="net.bodz.lily.schema.meta.dao.FormDefMapper.objlist_map" />
        <association property="parent" columnPrefix="parent_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.pub.PostTalk" 
            resultMap="objlist_map" />
        <association property="op" columnPrefix="op_" notNullColumn="id" 
            javaType="net.bodz.lily.schema.account.User" 
            resultMap="net.bodz.lily.schema.account.dao.UserMapper.objlist_map" />
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.post, 
            a.parent, 
            post.id post_id, 
            post.uid post_uid, 
            post.gid post_gid, 
            post.mode post_mode, 
            post.acl post_acl, 
            post.priority post_priority, 
            post.flags post_flags, 
            post."state" post_state, 
            post.creation post_creation, 
            post.lastmod post_lastmod, 
            post."version" post_version, 
            post.t0 post_t0, 
            post.t1 post_t1, 
            post."year" post_year, 
            post.subject post_subject, 
            post.op post_op, 
            post.text post_text, 
            post.form post_form, 
            post.formargs post_formargs, 
            post.parent post_parent, 
            post.cat post_cat, 
            post.nfav post_nfav, 
            post.nvote post_nvote, 
            post.nhate post_nhate, 
            post.nmsg post_nmsg, 
            post.plugins post_plugins, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            parent.id parent_id, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.post parent_post, 
            parent.parent parent_parent, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person
        from post_msg a
            left join post post on a.post = post.id
            left join _form form on a.form = form.id
            left join post_msg parent on a.parent = parent.id
            left join "user" op on a.op = op.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.id, 
            a.priority, 
            a.flags, 
            a."state", 
            a.creation, 
            a.lastmod, 
            a."version", 
            a.t0, 
            a.t1, 
            a."year", 
            a.subject, 
            a.op, 
            a.text, 
            a.form, 
            a.formargs, 
            a.post, 
            a.parent, 
            post.id post_id, 
            post.uid post_uid, 
            post.gid post_gid, 
            post.mode post_mode, 
            post.acl post_acl, 
            post.priority post_priority, 
            post.flags post_flags, 
            post."state" post_state, 
            post.creation post_creation, 
            post.lastmod post_lastmod, 
            post."version" post_version, 
            post.t0 post_t0, 
            post.t1 post_t1, 
            post."year" post_year, 
            post.subject post_subject, 
            post.op post_op, 
            post.text post_text, 
            post.form post_form, 
            post.formargs post_formargs, 
            post.parent post_parent, 
            post.cat post_cat, 
            post.nfav post_nfav, 
            post.nvote post_nvote, 
            post.nhate post_nhate, 
            post.nmsg post_nmsg, 
            post.plugins post_plugins, 
            form.id form_id, 
            form.code form_code, 
            form.label form_label, 
            form.description form_description, 
            form.icon form_icon, 
            form.priority form_priority, 
            form.flags form_flags, 
            form."state" form_state, 
            form.creation form_creation, 
            form.lastmod form_lastmod, 
            form."version" form_version, 
            form."schema" form_schema, 
            form.subject form_subject, 
            form.text form_text, 
            parent.id parent_id, 
            parent.priority parent_priority, 
            parent.flags parent_flags, 
            parent."state" parent_state, 
            parent.creation parent_creation, 
            parent.lastmod parent_lastmod, 
            parent."version" parent_version, 
            parent.t0 parent_t0, 
            parent.t1 parent_t1, 
            parent."year" parent_year, 
            parent.subject parent_subject, 
            parent.op parent_op, 
            parent.text parent_text, 
            parent.form parent_form, 
            parent.formargs parent_formargs, 
            parent.post parent_post, 
            parent.parent parent_parent, 
            op.id op_id, 
            op."type" op_type, 
            op."name" op_name, 
            op.label op_label, 
            op.description op_description, 
            op.icon op_icon, 
            op.priority op_priority, 
            op.flags op_flags, 
            op."state" op_state, 
            op.creation op_creation, 
            op.lastmod op_lastmod, 
            op."version" op_version, 
            op.props op_props, 
            op.gid0 op_gid0, 
            op.referer op_referer, 
            op.person op_person
        from post_msg a
            left join post post on a.post = post.id
            left join _form form on a.form = form.id
            left join post_msg parent on a.parent = parent.id
            left join "user" op on a.op = op.id
        ]]>
    </sql>

    <sql id="filtconds">
        ${c.sqlCondition}
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <include refid="co.opts" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
        <include refid="co.opts" />
    </select>

    <select id="select" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"><![CDATA[
        insert into post_msg(
            priority,
            flags,
            "state",
            creation,
            lastmod,
            "version",
            t0,
            t1,
            "year",
            subject,
            op,
            text,
            form,
            formargs,
            post,
            parent
        ) values(
            #{priority},
            #{flags},
            #{state},
            #{creationDate},
            #{lastModified},
            #{version},
            #{beginTime},
            #{endTime},
            #{year},
            #{subject},
            #{opId},
            #{rawText},
            #{formId},
            #{formArguments},
            #{postId},
            #{parentId}
        );
    ]]></insert>

    <update id="update">
        update post_msg
        <set>
            priority = #{priority},
            flags = #{flags},
            "state" = #{state},
            creation = #{creationDate},
            lastmod = #{lastModified},
            "version" = #{version},
            t0 = #{beginTime},
            t1 = #{endTime},
            "year" = #{year},
            subject = #{subject},
            op = #{opId},
            text = #{rawText},
            form = #{formId},
            formargs = #{formArguments},
            post = #{postId},
            parent = #{parentId},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from post_msg
        <where>
            id = #{id}
        </where>
    </delete>

    <select id="count" resultType="long">
        select count(*) "rows" from post_msg a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
