<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bodz.violet.edu.impl.TestAnswerMapper">

    <resultMap id="objlist_map" type="net.bodz.violet.edu.TestAnswer" extends="co.MAP_UV">
        <result property="properties.jsonStr" column="props" />
        <result property="valid" column="valid" />
        <association property="question" javaType="net.bodz.violet.edu.TestQuestion">
            <id property="id" column="q" />
            <result property="subject" column="q_subject" />
        </association>
    </resultMap>

    <sql id="objlist_sql"><![CDATA[
        select
            a.*,
            q.subject "q_subject"
        from testans a
            left join testq q on a.q = q.id
        ]]>
    </sql>

    <sql id="objedit_sql"><![CDATA[
        select
            a.*,
            q.subject "q_subject"
        from testans a
            left join testq q on a.q = q.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="objlist_map">
        <include refid="objlist_sql" />
    </select>

    <select id="filter" resultMap="objlist_map">
        <include refid="objlist_sql" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="objlist_map">
        <include refid="objedit_sql" />
        <where>
            <if test="_parameter != null">a.id = #{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into testans(
            label, description,
            priority, flags, state,
            props,
            q, valid
        ) values(
            #{label}, #{description},
            #{priority}, #{flags}, #{state},
            #{properties.jsonStr},
            #{question.id}, #{valid}
        ) returning id; --
    ]]></insert>

    <update id="update">
        update testans
        <set>
            <include refid="co.setUS" />
            props = #{properties.jsonStr},
            q = #{question.id},
            valid = #{valid},
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from testans where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "rows" from testans
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
